Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for InternalExteriorAlgebraForCAP 2023.03-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2023.03-06
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2023.03-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for ModulesOverLocalRingsForCAP 2023.03-01
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/doc/chap0.html
  ModulesOverLocalRingsForCAP/doc/chap0.txt
  ModulesOverLocalRingsForCAP/doc/chap0_mj.html
  _data/ModulesOverLocalRingsForCAP.yml
Due: ModulesOverLocalRingsForCAP

Update website for MonoidalCategories 2023.03-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Add explicit preconditions to more derivations
  CAP/gap/DerivedMethods.gi
Due: CAP

Simplify CAP_INTERNAL_CREATE_POST_FUNCTION
  CAP/gap/MethodRecord.gi
Due: CAP

Warn about CAP operations declared as attributes of non attribute storing reps
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2023.03-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  _data/CAP.yml
Due: CAP

Remove two warnings for now
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
Due: CAP

Update website for CAP 2023.03-13
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Temporary commit
  CompilerForCAP/examples/PrecompileModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.g
  FreydCategoriesForCAP/gap/FreydCategory.gd
  FreydCategoriesForCAP/gap/FreydCategory.gi
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  ModulePresentationsForCAP/gap/ModulePresentationObject.gd
  ModulePresentationsForCAP/gap/ModulePresentationObject.gi
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gd
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfFieldPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

type signature of Concatenation can now handle any positive number of arguments
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.03-07
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Avoid using `and` for filters
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/HomomorphismStructureDerivedMethods.gi
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  MonoidalCategories/gap/AdditiveMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/HomomorphismStructureDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

Reduce the number of runtime calls of ValueGlobal
  CAP/gap/InstallAdds.gi
Due: CAP

Remove some invalid escape sequences
  MonoidalCategories/gap/CreateClosedMonoidalCategories.gi
  MonoidalCategories/gap/CreateCoclosedMonoidalCategories.gi
  MonoidalCategories/gap/CreateMonoidalCategories.gi
Due: MonoidalCategories

Add a missing space
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
Due: CartesianCategories, MonoidalCategories

Deprecate AddWithGivenDerivationPairToCAP
  CAP/gap/Derivations.gi
  CAP/gap/DerivedMethods.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CartesianCategories, FreydCategoriesForCAP, MonoidalCategories

Update website for CAP 2023.03-14
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.03-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2023.03-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for MonoidalCategories 2023.03-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Allow to pass the description of a final derivation as an argument
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/HomomorphismStructureDerivedMethods.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/FreydCategoriesDerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/HomomorphismStructureDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CAP, CartesianCategories, FreydCategoriesForCAP, MonoidalCategories

Update website for CAP 2023.03-15
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.03-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2023.03-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for MonoidalCategories 2023.03-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Deprecate passing descriptions as options to (final) derivations
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2023.03-16
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.03-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2023.03-06
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for MonoidalCategories 2023.03-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2023.03-17
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Improve check in CAP_INTERNAL_CREATE_REDIRECTION/POST_FUNCTION if something is an attribute
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
Due: CAP

Update website for CAP 2023.04-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
