Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for ActionsForCAP 2022.12-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AttributeCategoryForCAP 2022.12-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CartesianCategories 2022.12-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2022.12-07
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2022.12-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for DeductiveSystemForCAP 2022.12-01
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/doc/chap0.html
  DeductiveSystemForCAP/doc/chap0.txt
  DeductiveSystemForCAP/doc/chap0_mj.html
  _data/DeductiveSystemForCAP.yml
Due: DeductiveSystemForCAP

Update website for FreydCategoriesForCAP 2022.12-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2022.12-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2022.12-03
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2022.12-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for HomologicalAlgebraForCAP 2022.12-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for InternalExteriorAlgebraForCAP 2022.12-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2022.12-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2022.12-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for ModulesOverLocalRingsForCAP 2022.12-01
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/doc/chap0.html
  ModulesOverLocalRingsForCAP/doc/chap0.txt
  ModulesOverLocalRingsForCAP/doc/chap0_mj.html
  _data/ModulesOverLocalRingsForCAP.yml
Due: ModulesOverLocalRingsForCAP

Update website for MonoidalCategories 2022.12-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for ToricSheaves 2022.12-01
  ToricSheaves/PackageInfo.g
  ToricSheaves/doc/chap0.html
  ToricSheaves/doc/chap0.txt
  ToricSheaves/doc/chap0_mj.html
  _data/ToricSheaves.yml
Due: ToricSheaves

Simplify debugging of unresolvable function calls by displaying name of function
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Simplify CAP_INTERNAL_REPLACE_STRINGS_WITH_FILTERS_FOR_JULIA
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2022.12-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.12-08
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Replace double quotes by single quotes in function names
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2022.12-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

moved derivations of Lift(OrFail)(able)/Colift(OrFail)(able) from HigherHomologicalAlgebra to CAP
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP

Update website for CAP 2022.12-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Introduce JointPairwiseDifference*
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Update website for CAP 2022.12-13
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Introduce IsomorphismFromEqualizerToKernelOfPairwiseDifferencesOfMorphismsIntoDirectProduct
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Update website for CAP 2022.12-14
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Move QuiverRows to Algebroids
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/5Lemma.g
  FreydCategoriesForCAP/examples/AdelmanCategoryBasics.g
  FreydCategoriesForCAP/examples/AdelmanHom.g
  FreydCategoriesForCAP/examples/AdelmanSnakeLemma.g
  FreydCategoriesForCAP/examples/Basics.gi
  FreydCategoriesForCAP/examples/ExactnessConditions.g
  FreydCategoriesForCAP/examples/QuiverRowsBasics.g
  FreydCategoriesForCAP/examples/QuiverRowsOverZ.g
  FreydCategoriesForCAP/examples/QuiverRowsSnakeLemma.g
  FreydCategoriesForCAP/examples/SnakeLemmaProof.g
  FreydCategoriesForCAP/examples/SnakeLemmaProof2.g
  FreydCategoriesForCAP/examples/SubobjectLattice.g
  FreydCategoriesForCAP/examples/SubobjectLatticeFunctions.g
  FreydCategoriesForCAP/examples/TheoremAdelman.g
  FreydCategoriesForCAP/gap/QuiverRows.gd
  FreydCategoriesForCAP/gap/QuiverRows.gi
  FreydCategoriesForCAP/init.g
  FreydCategoriesForCAP/read.g
Due: FreydCategoriesForCAP

Add some checks
  CAP/gap/CAP.gi
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
Due: CAP

Turn FreydCategory( IsCategoryOfGradedRows/Columns ) into a wrapper category
  FreydCategoriesForCAP/gap/FreydCategory.gi
  FreydCategoriesForCAP/gap/GradedModulePresentationsByFreyd/GradedModulePresentationsByFreyd.gi
Due: FreydCategoriesForCAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Deprecate AddObject/MorphismRepresentation in favor of CreateCapCategoryWithDataTypes
  CAP/gap/CAP.gd
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryObjects.gd
Due: CAP

Rename internal filters created for category instances
  CAP/gap/CAP.gi
Due: CAP

Update website for FreydCategoriesForCAP 2022.12-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for CAP 2022.12-15
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2.txt
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  _data/CAP.yml
Due: CAP

installed derivations for Abelian categories
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, LinearAlgebraForCAP

Only derive (co)image via kernel and cokernel if category is abelian
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP
