Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Add some plausibility checks to logic handling
  CAP/gap/InstallAdds.gi
  CAP/gap/LogicForCAP.gi
  CAP/gap/TheoremParser.gi
Due: CAP

Apply PackageJanitor
  dev/upload_codecov.sh
Due: none

Replace `!.` by `.` in some places in TheoremParser.gi
  CAP/gap/TheoremParser.gi
Due: CAP

Improve example in DeductiveSystemForCAP
  DeductiveSystemForCAP/examples/VectorSpaces.g
Due: DeductiveSystemForCAP

Remove support for no_install
  CAP/gap/InstallAdds.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/ProductCategory.gi
Due: CAP

Remove warning
  CAP/gap/InstallAdds.gi
Due: CAP

Simplify ADD_THEOREM_TO_CATEGORY
  CAP/gap/LogicForCAP.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  DeductiveSystemForCAP/PackageInfo.g
Due: CAP, DeductiveSystemForCAP

Update website for CAP 2023.03-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2023.03-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for DeductiveSystemForCAP 2023.03-01
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/doc/chap0.html
  DeductiveSystemForCAP/doc/chap0.txt
  DeductiveSystemForCAP/doc/chap0_mj.html
  _data/DeductiveSystemForCAP.yml
Due: DeductiveSystemForCAP

Move family properties to DeductiveSystemForCAP
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/gap/DeductiveSystem.gd
  DeductiveSystemForCAP/gap/DeductiveSystem.gi
Due: CAP, DeductiveSystemForCAP

Disable convenience for Julia lists in native Julia
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2023.03-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for DeductiveSystemForCAP 2023.03-02
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/doc/chap0.html
  DeductiveSystemForCAP/doc/chap0.txt
  DeductiveSystemForCAP/doc/chap0_mj.html
  _data/DeductiveSystemForCAP.yml
Due: DeductiveSystemForCAP

Avoid using `and` of filters for Julia
  CAP/gap/Derivations.gi
Due: CAP

Do not rely on the string representation of lists in a test
  CAP/tst/ListWithKeys.tst
Due: CAP

Replace Append by Concatenation
  CAP/gap/ToolsForCategories_AfterLoading.gi
Due: CAP

Use ValueGlobal instead of FilterByName
  CAP/gap/TerminalCategory.gi
Due: CAP

Add explicit preconditions to some more derivations
  CAP/gap/DerivedMethods.gi
Due: CAP

Use Print instead of Display in tests
  CAP/examples/HandlePrecompiledTowers.g
Due: CAP

Comment some things for Julia
  CAP/gap/TerminalCategory.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Use ViewString instead of ViewObj and DisplayString instead of Display
  CAP/gap/CAP.gi
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
  CAP/gap/Derivations.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2023.03-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Do not reuse `String` for `View/DisplayString` because it might be used as an attribute
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
Due: CAP

Install ViewString instead of ViewObj and DisplayString instead of Display
  CAP/PackageInfo.g
  CAP/examples/FieldAsCategory.g
  CAP/examples/IntegerCategory.g
  CAP/examples/StringsAsCategory.g
  CAP/examples/VectorSpacesConstructors.g
  CAP/examples/VectorSpacesForGAPDays.g
  CAP/gap/OppositeCategory.gi
  CAP/gap/TerminalCategory.gi
  CAP/gap/WrapperCategory.gi
  DeductiveSystemForCAP/examples/VectorSpaces.g
  DeductiveSystemForCAP/gap/DeductiveSystem.gi
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/GradedRowOrColumn.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/GradedRowOrColumnMorphism.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
  FreydCategoriesForCAP/gap/LinearClosure.gi
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
  FreydCategoriesForCAP/gap/Relations.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientSubcategory.gi
  GradedModulePresentationsForCAP/gap/GradedModulePresentationMorphism.gi
  GroupRepresentationsForCAP/gap/GIrreducibleObjects.gi
  GroupRepresentationsForCAP/gap/GZGradedIrreducibleObjects.gi
  GroupRepresentationsForCAP/gap/SemisimpleCategoryObjects.gi
  HomologicalAlgebraForCAP/examples/GapDays2015FallHandsOn.g
  InternalExteriorAlgebraForCAP/gap/InternalExteriorAlgebraModules.gi
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gi
  LinearAlgebraForCAP/gap/MatrixCategoryObject.gi
  Manual/CAPManual.pdf
  Manual/GAP_code/vecspaces_example/complete_example.g
  Manual/GAP_tex/vecspaces_example/View.tex
  ModulePresentationsForCAP/gap/ModulePresentationMorphism.gi
  ModulePresentationsForCAP/gap/ModulePresentationObject.gi
  ModulesOverLocalRingsForCAP/gap/Objects.gi
  MonoidalCategories/examples/VectorSpacesMonoidalCategory.gi
Due: CAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories

Rename example
  CAP/examples/WrapperCategory.g
Due: CAP

Simplify CAP_INTERNAL_CREATE_POST_FUNCTION
  CAP/gap/MethodRecord.gi
Due: CAP

Call CAP operation instead of convenience in an example
  FreydCategoriesForCAP/examples/Basics.gi
Due: FreydCategoriesForCAP

Comment two more places for Julia
  CAP/gap/Derivations.gi
  CAP/gap/TheoremParser.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  DeductiveSystemForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories

Specify explicit preconditions of WithGiven derivations where possible
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2023.03-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Update website for DeductiveSystemForCAP 2023.03-03
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/doc/chap0.html
  DeductiveSystemForCAP/doc/chap0.txt
  DeductiveSystemForCAP/doc/chap0_mj.html
  _data/DeductiveSystemForCAP.yml
Due: DeductiveSystemForCAP

Update website for FreydCategoriesForCAP 2023.03-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2023.03-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2023.03-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2023.03-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for HomologicalAlgebraForCAP 2023.03-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
