Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Replace operation_weights in CategoryConstructor by a better mechanism
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/DummyImplementations.gi
  CAP/gap/ReinterpretationOfCategory.gi
  CAP/gap/TerminalCategory.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/300_proof_AdditiveClosure_hom_structure.tst
Due: CAP, CompilerForCAP

Update website for FreydCategoriesForCAP 2024.10-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

fixed InstallOtherMethod( CAP_operation, ... ) used by CapAndHomalg.jl
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2024.11-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.11-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for CAP 2024.11-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

added missing output_*_getter*
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2024.12-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

CapJitAddTypeSignature( "Union2", ... )
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2024.12-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

fixed (Left)C(oc)losedMonoidalCategoriesTestWithGiven
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesTestWithGiven.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTestWithGiven.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesTestWithGiven.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesTestWithGiven.gi
Due: MonoidalCategories

Update website for MonoidalCategories 2025.01-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

fixed TerminalCategoryCocartesian.tst
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/tst/TerminalCategoryCocartesian.tst
Due: CartesianCategories

Update website for CartesianCategories 2025.01-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

updated TerminalCategoryMonoidal*.tst
  MonoidalCategories/tst/TerminalCategoryMonoidal.tst
  MonoidalCategories/tst/TerminalCategoryMonoidalLeft.tst
Due: MonoidalCategories

updated C(oc)losedMonoidalCategoriesTest
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesTest.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTest.gi
Due: CartesianCategories, MonoidalCategories

enhanced TerminalCategoryWithMultipleObjects
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/gap/TerminalCategory.gi
Due: CAP

Update website for CartesianCategories 2025.01-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2025.01-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2025.01-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

applied PackageJanitor
  dev/release-gap-package
Due: none

clone ToricVarieties subsplit
  .github/workflows/Tests.yml
Due: none

enable more tests for Julia
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/Example.g
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2025.02-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

temporarily work around changes in GAP master
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/precompile_CategoryOfColumns_as_Opposite_CategoryOfRows.g
  CompilerForCAP/examples/precompile_CategoryOfRows_as_AdditiveClosure_RingAsCategory.g
  CompilerForCAP/examples/precompile_CoFreydCategory_as_Opposite_FreydCategory_Opposite.g
  CompilerForCAP/examples/precompile_MatrixCategory_as_CategoryOfRows.g
  CompilerForCAP/examples/precompile_ModulePresentations_as_FreydCategory_CategoryOfRowsOrColumns.g
  CompilerForCAP/examples/precompile_Opposite_MatrixCategory.g
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_direct_sums.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2025.02-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

ghcr.io/homalg-project/gap-docker should now upload_codecov
  .github/workflows/Tests.yml
Due: none

SetRangeCategoryOfHomomorphismStructure in ReinterpretationOfCategory if it is set for its input
  CAP/PackageInfo.g
  CAP/gap/ReinterpretationOfCategory.gi
Due: CAP

Update website for CAP 2025.02-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

got rid of the "weight = 1" exception in AddCapOperation
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2025.02-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

SetIsCategoryWithDecidableLifts/Colifts
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2025.02-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

clean up in init.g/read.g
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/init.g
  AttributeCategoryForCAP/read.g
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/init.g
  ComplexesAndFilteredObjectsForCAP/read.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/init.g
  GeneralizedMorphismsForCAP/read.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/init.g
  GradedModulePresentationsForCAP/read.g
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/init.g
  HomologicalAlgebraForCAP/read.g
  ToricSheaves/PackageInfo.g
  ToricSheaves/init.g
  ToricSheaves/read.g
Due: AttributeCategoryForCAP, ComplexesAndFilteredObjectsForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, HomologicalAlgebraForCAP, ToricSheaves

Update website for AttributeCategoryForCAP 2025.02-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2025.02-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for GeneralizedMorphismsForCAP 2025.02-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2025.02-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for HomologicalAlgebraForCAP 2025.02-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for ToricSheaves 2025.02-01
  ToricSheaves/PackageInfo.g
  ToricSheaves/doc/chap0.html
  ToricSheaves/doc/chap0.txt
  ToricSheaves/doc/chap0_mj.html
  _data/ToricSheaves.yml
Due: ToricSheaves

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
