Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for MonoidalCategories 2022.09-10
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for ToricSheaves 2022.09-01
  ToricSheaves/PackageInfo.g
  ToricSheaves/README.md
  ToricSheaves/doc/chap0.html
  ToricSheaves/doc/chap0.txt
  ToricSheaves/doc/chap0_mj.html
  ToricSheaves/doc/manual.js
  _data/ToricSheaves.yml
Due: ToricSheaves

Partially revert "Apply PackageJanitor"
  .github/workflows/Tests.yml
Due: none

Revert "Partially revert "Apply PackageJanitor""
  .github/workflows/Tests.yml
Due: none

Add missing semicolon
  .github/workflows/Tests.yml
Due: none

Do not persist credentials during checkout because it interferes with subsplits
  .github/workflows/Tests.yml
Due: none

Remove warning about hack
  CompilerForCAP/gap/Logic.gi
Due: CompilerForCAP

Turn another AutoDoc test into a tst file
  CompilerForCAP/examples/CAP_JIT_INTERNAL_TELESCOPED_ITERATION.g
  CompilerForCAP/tst/CAP_JIT_INTERNAL_TELESCOPED_ITERATION.tst
Due: CompilerForCAP

Introduce Iterated with three arguments
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/Logic.gi
  CompilerForCAP/tst/CAP_JIT_INTERNAL_TELESCOPED_ITERATION.tst
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: CAP, CompilerForCAP, FreydCategoriesForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, CompilerForCAP, FreydCategoriesForCAP

Update website for CAP 2022.09-22
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.09-22
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.09-11
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Add common source of morphisms as explicit argument to (Co)Equalizer
  CAP/PackageInfo.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/LimitConvenience.gi
  CAP/gap/LimitConvenienceOutput.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
  CAP/gap/UniversalObjects.gi
Due: CAP

Update website for CAP 2022.09-23
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Adjust some occurrences of (co)equalizers missed in the last PR
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/gap/AttributeCategory.gi
  CAP/LogicForCategories/PropositionsForGeneralCategories.tex
  CAP/PackageInfo.g
Due: CAP, AttributeCategoryForCAP

Update website for CAP 2022.09-24
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for AttributeCategoryForCAP 2022.09-02
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Add missing arguments of WithGiven versions of adjunction maps in documentation
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2022.09-09
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2022.09-11
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Add random methods to categories of rows
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: FreydCategoriesForCAP

Update FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: FreydCategoriesForCAP

Adjusting to Fabian's suggestions
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.10-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  FreydCategoriesForCAP/doc/chapInd.html
  FreydCategoriesForCAP/doc/chapInd.txt
  FreydCategoriesForCAP/doc/chapInd_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Add dual operations for Random*ByInteger
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/Random.g
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2022.10-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2022.10-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Add Jenkinsfile
  Jenkinsfile
Due: none

Clone homalg_project in Jenkinsfile
  Jenkinsfile
Due: none

made FinalDerivation of HomStructure work for WrapperCategory
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/HomomorphismStructureDerivedMethods.gi
Due: CartesianCategories

Update website for CartesianCategories 2022.10-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Revert "Use LazySyzygiesOfRows/Columns to compute KernelObject"
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

Revert "Replace algorithms in ModulePresentations"
  CAP/examples/ModulePresentationsMonoidalCategory.g
  ModulePresentationsForCAP/examples/MonoidalStructure.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: CAP, ModulePresentationsForCAP

Bump versions
  ModulePresentationsForCAP/PackageInfo.g
Due: ModulePresentationsForCAP

Remove workaround for older versions of Browse
  .circleci/config.yml
  .github/workflows/Tests.yml
  Jenkinsfile
Due: none

Remove obsolete Tests.yml
  CartesianCategories/.github/workflows/Tests.yml
Due: CartesianCategories

Update website for ModulePresentationsForCAP 2022.10-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/chap2.html
  ModulePresentationsForCAP/doc/chap2.txt
  ModulePresentationsForCAP/doc/chap2_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP
