Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Add errors when providing a description for a derivation both as an argument and as an option
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gi
Due: CAP

Exclude CreateCapCategoryMorphismWithAttributes from generalized hoisting
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/HoistExpressions.gi
Due: CompilerForCAP

Update website for CAP 2023.05-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.05-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

fix bug in LinearAlgebraForCAP & bump to V2023.05-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/MatrixCategoryAsCategoryOfRows.gi
Due: LinearAlgebraForCAP

Test LinearAlgebraForCAP also without precompiled code
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/Example.gi
  LinearAlgebraForCAP/makefile
  LinearAlgebraForCAP/tst/testall_no_precompiled_code.g
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2023.05-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Refactor implications of `IsBicartesian(Co)ClosedCategory`
  CartesianCategories/gap/BicartesianCategories.gi
Due: CartesianCategories

Bump version
  CartesianCategories/PackageInfo.g
Due: CartesianCategories

Simplify example
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2023.05-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for CartesianCategories 2023.05-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Simplify code
  CAP/PackageInfo.g
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
Due: CAP

Update website for CAP 2023.05-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

add list_of_lists_of_morphisms to CAP_INTERNAL_VALID_RETURN_TYPES
  CAP/gap/MethodRecord.gi
Due: CAP

Fix documentation of CapJitFind*
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/Tools.gd
Due: CompilerForCAP

Update website for CompilerForCAP 2023.06-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Propagate argument names of functions from src_template to dst_template
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/LogicTemplates.gd
  CompilerForCAP/gap/LogicTemplates.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfHomalgExteriorRingOverFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CoFreydCategoryAsOppositeOfFreydCategoryOfOppositePrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfFieldPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentationsAsFreydCategoryOfCategoryOfColumnsOfArbitraryRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentationsAsFreydCategoryOfCategoryOfColumnsOfCommutativeRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentationsAsFreydCategoryOfCategoryOfColumnsOfFieldPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Update website for CompilerForCAP 2023.06-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2023.06-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2023.06-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2023.06-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

added code comments
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: ModulePresentationsForCAP

replaced Objectify*ForCAPWithAttributes -> CreateCapCategory*WithAttributes
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: ModulePresentationsForCAP

relocated code
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: ModulePresentationsForCAP

simplified code
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: ModulePresentationsForCAP

Fix filename of example
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/PrecompileOppositeOfMatrixCategory.g
Due: CompilerForCAP

Update website for CompilerForCAP 2023.06-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Introduce CapJitSetDebugLevel
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/Extension.autodoc
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.06-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add more CAP_JIT_INCOMPLETE_LOGIC warnings
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/tst/generalized_loop_fusion.tst
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfHomalgExteriorRingOverFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CompilerForCAP 2023.06-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Revert "Normalize "not" for Julia"
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

added missing true methods
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/BicartesianCategories.gi
Due: CartesianCategories

Update website for CartesianCategories 2023.06-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Add a check in CapJitInferredDataTypes
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.06-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Introduce CapJitDataTypeOfListOf
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CAP/tst/CAP_INTERNAL_ASSERT_VALUE_IS_OF_TYPE_GETTER.tst
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/tst/CapJitDisableDataTypeInference.tst
  CompilerForCAP/tst/LogicTemplates.tst
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
Due: CAP, CompilerForCAP, FreydCategoriesForCAP

Update website for CAP 2023.06-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.06-07
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP
