Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Remove unused functions propagating IsWellDefined
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2022.11-24
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Cancel CI runs for pull requests on force push
  .github/workflows/Tests.yml
Due: none

Declare categorical properties explicitly
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/TerminalCategory.gd
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/BicartesianCategories.gd
  CartesianCategories/gap/CartesianCategoriesProperties.gd
  CartesianCategories/gap/CartesianClosedCategoriesProperties.gd
  CartesianCategories/gap/CocartesianCategoriesProperties.gd
  CartesianCategories/gap/CocartesianCoclosedCategoriesProperties.gd
  CartesianCategories/gap/CodistributiveCocartesianCategoriesProperties.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesProperties.gd
  CartesianCategories/gap/InitialCategoryProperties.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/ClosedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/CoclosedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/MonoidalCategoriesProperties.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/SymmetricMonoidalCategoriesProperties.gd
Due: CAP, CartesianCategories, MonoidalCategories

Update website for CAP 2022.11-25
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2022.11-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  CartesianCategories/doc/chap5.html
  CartesianCategories/doc/chap5.txt
  CartesianCategories/doc/chap5_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2022.11-05
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chap3.html
  MonoidalCategories/doc/chap3_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4_mj.html
  MonoidalCategories/doc/chap5.html
  MonoidalCategories/doc/chap5.txt
  MonoidalCategories/doc/chap5_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Add some more comments and simplifications for Julia
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2022.11-26
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

d&a (Co)ImageObjectFunctorial
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Update website for CAP 2022.11-27
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

d&a EpimorphismFromProjectiveCoverObject/MonomorphismIntoInjectiveEnvelopeObject
  CAP/PackageInfo.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
Due: CAP

Update website for CAP 2022.11-28
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Bump version
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

Detect problems with logic templates earlier
  CompilerForCAP/gap/LogicTemplates.gi
  CompilerForCAP/gap/Tools.gd
  CompilerForCAP/gap/Tools.gi
Due: CompilerForCAP

Simplify debugging logic templates
  CompilerForCAP/gap/LogicTemplates.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.11-11
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Throw error when detecting a logic template with trailing semicolon
  CompilerForCAP/gap/LogicTemplates.gi
Due: CompilerForCAP

Add output_source/range_getter_string to InterpretMorphismFromDistinguishedObjectToHomomorphismStructureAsMorphism
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/MethodRecord.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfHomalgExteriorRingOverFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Use more precise functions in derivation of hom structure from linear structure
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory_CompilerLogic.gi
Due: FreydCategoriesForCAP

Add type signature for One( homalg_ring )
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Add types signatures of HomalgRowVector and HomalgColumnVector
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Introduce functions for getting unique elements/positions of lists
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/DropUnusedBindings.gi
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/HoistExpressions.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/InlineBindings.gi
  CompilerForCAP/gap/InlineFunctionCalls.gi
  CompilerForCAP/gap/Logic.gi
  CompilerForCAP/gap/LogicTemplates.gi
  CompilerForCAP/gap/Tools.gi
Due: CAP, CompilerForCAP

Update website for CAP 2022.12-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.12-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.12-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.12-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Fix documentation of DirectSum(Co)DiagonalDifference
  CAP/PackageInfo.g
  CAP/gap/UniversalObjects.gd
Due: CAP

Update website for CAP 2022.12-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  _data/CAP.yml
Due: CAP

Do not use READ_STREAM_LOOP as it breaks tests
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/LogicTemplates.gi
  CompilerForCAP/gap/Tools.gd
  CompilerForCAP/gap/Tools.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.12-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Check that `precompiled_functions_added` is not set during precompilation
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.12-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Avoid warnings about suspicious global variable names
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/LogicTemplates.gi
Due: CompilerForCAP

changed "Opposite of ..." -> "Opposite( ... )"
  CAP/PackageInfo.g
  CAP/examples/Functors.g
  CAP/gap/OppositeCategory.gi
  CartesianCategories/examples/InitialCategory.g
  CompilerForCAP/examples/PrecompileOppositeOfLinearAlgebraForCAP.g
  LinearAlgebraForCAP/examples/Example.gi
Due: CAP, CartesianCategories, CompilerForCAP, LinearAlgebraForCAP

Update website for CompilerForCAP 2022.12-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Derive DirectSum(Co)DiagonalDifference from JointPairwiseDifference
  CAP/gap/DerivedMethods.gi
Due: CAP

Introduce JointPairwiseDifference*
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Derive EmbeddingOfEqualizer / ProjectionOntoCoequalizer
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/DerivedMethods.gi
  FreydCategoriesForCAP/examples/CategoryOfRows.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
