Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

InstallTrueMethod( IsMonoidalCategory, IsStrictMonoidalCategory )
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/MonoidalCategories.gi
Due: MonoidalCategories

Regenerated CartesianCategories from MonoidalCategories v2022.09-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/Doc.autodoc
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianCategories.gi
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianClosedCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategories.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gd
  CartesianCategories/gap/CodistributiveCocartesianCategoriesTest.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesTest.gd
Due: CartesianCategories

Update website for MonoidalCategories 2022.09-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CartesianCategories 2022.09-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

renamed Is(Co)DistributiveC(oc)artesianCategory -> Is(Co)DistributiveCategory
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/BicartesianCategories.gi
  CartesianCategories/gap/CartesianCategoriesDerivedMethods_extra.gi
  CartesianCategories/gap/CocartesianCategoriesDerivedMethods_extra.gi
  CartesianCategories/gap/CodistributiveCocartesianCategoriesProperties.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesProperties.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/TerminalCategory.gi
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2022.09-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2022.09-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Comply with Locales v2022.09-09
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/TerminalCategory.gi
Due: MonoidalCategories

Update website for MonoidalCategories 2022.09-05
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2022.09-13
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2.txt
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.09-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.09-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.09-06
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2022.09-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Use available type information to set data type of resolved global variables
  CAP/PackageInfo.g
  CAP/gap/WrapperCategory.gd
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/CapJitResolvedGlobalVariables.g
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/ResolveGlobalVariables.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/FreydCategory.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gd
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CAP 2022.09-14
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.09-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.09-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.09-07
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Add type information for UnderlyingCategory of Adelman category
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdelmanCategory.gd
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.09-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Fix ErrorWithCurrentlyCompiledFunctionLocation
  CompilerForCAP/gap/Tools.gd
  CompilerForCAP/gap/Tools.gi
Due: CompilerForCAP

Introduce PrintWithCurrentlyCompiledFunctionLocation
  CompilerForCAP/gap/Tools.gd
  CompilerForCAP/gap/Tools.gi
Due: CompilerForCAP

Add type information for CreateCapCategoryObjectWithAttributes with three attributes
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Bump version
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

Update website for CompilerForCAP 2022.09-07
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Simplify `List( list, func )[index]` to `func( list[index] )` in post-processing
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/CapJitDisableDataTypeInference.g
  CompilerForCAP/gap/CompilerForCAP.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CompilerForCAP, LinearAlgebraForCAP

Update website for CompilerForCAP 2022.09-08
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for LinearAlgebraForCAP 2022.09-08
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Start converting AutoDoc tests to tst files
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/CAP_JIT_DROP_NEXT_STATEMENT.g
  CompilerForCAP/examples/CapJitAddKnownMethod.g
  CompilerForCAP/examples/CapJitCompiledCAPOperationAsEnhancedSyntaxTree.gi
  CompilerForCAP/examples/CapJitCompiledFunction.g
  CompilerForCAP/examples/CapJitDeduplicatedExpressions.g
  CompilerForCAP/examples/CapJitDisableDataTypeInference.g
  CompilerForCAP/examples/CapJitDroppedHandledEdgeCases.g
  CompilerForCAP/examples/ENHANCED_SYNTAX_TREE.g
  CompilerForCAP/tst/CAP_JIT_DROP_NEXT_STATEMENT.tst
  CompilerForCAP/tst/CapJitAddKnownMethod.tst
  CompilerForCAP/tst/CapJitCompiledCAPOperationAsEnhancedSyntaxTree.tst
  CompilerForCAP/tst/CapJitCompiledFunction.tst
  CompilerForCAP/tst/CapJitDeduplicatedExpressions.tst
  CompilerForCAP/tst/CapJitDisableDataTypeInference.tst
  CompilerForCAP/tst/CapJitDroppedHandledEdgeCases.tst
  CompilerForCAP/tst/ENHANCED_SYNTAX_TREE.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2022.09-09
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

a cartesian closed & cocartesian category is distributive (+ dual version)
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianClosedCategoriesProperties2.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesProperties2.gi
  CartesianCategories/read.g
Due: CartesianCategories

Update website for CartesianCategories 2022.09-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Add WithGiven methods for adjunction maps in MonoidalCategories
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
Due: MonoidalCategories

Regenerated CartesianCategories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.autogen.gd
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategories.autogen.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  CartesianCategories/gap/Tools.gi
  MonoidalCategories/PackageInfo.g
Due: CartesianCategories, MonoidalCategories

Get rid of CAP_JIT_INTERNAL_POST_PROCESSED_SYNTAX_TREE
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CompileCAPOperation.gd
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/PrecompileCategory.gi
  CompilerForCAP/gap/ResolveOperations.gi
Due: CompilerForCAP

Add missing ShallowCopy
  CompilerForCAP/gap/InlineArguments.gi
Due: CompilerForCAP

Add more type signatures to RingsAsAbCats
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
Due: FreydCategoriesForCAP

Update website for CartesianCategories 2022.09-05
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
