Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for GroupsAsCategoriesForCAP 2025.11-03
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

test SetOfObjects & SetOfGeneratingMorphisms
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/examples/GroupsAsCats.g
Due: none

Update website for GroupsAsCategoriesForCAP 2025.11-04
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  GroupsAsCategoriesForCAP/doc/chap2.html
  GroupsAsCategoriesForCAP/doc/chap2.txt
  GroupsAsCategoriesForCAP/doc/chap2_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

clean up in GroupsAsCategoriesForCAP for future compilation
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/examples/GroupsAsCats.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gd
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: none

Update website for GroupsAsCategoriesForCAP 2025.12-01
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  GroupsAsCategoriesForCAP/doc/chap2.html
  GroupsAsCategoriesForCAP/doc/chap2.txt
  GroupsAsCategoriesForCAP/doc/chap2_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Update website for CAP 2025.12-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap16.html
  CAP/doc/chap16.txt
  CAP/doc/chap16_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2.txt
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2025.12-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AdditiveClosuresForCAP 2025.12-01
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for AttributeCategoryForCAP 2025.12-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CartesianCategories 2025.12-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2025.12-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2025.12-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for FreydCategoriesForCAP 2025.12-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2025.12-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2025.12-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2025.12-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for GroupsAsCategoriesForCAP 2025.12-02
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Update website for HomologicalAlgebraForCAP 2025.12-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for InternalExteriorAlgebraForCAP 2025.12-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2025.12-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for LinearClosuresForCAP 2025.12-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

Update website for ModulePresentationsForCAP 2025.12-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2025.12-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for ToricSheaves 2025.12-01
  ToricSheaves/PackageInfo.g
  ToricSheaves/doc/chap0.html
  ToricSheaves/doc/chap0.txt
  ToricSheaves/doc/chap0_mj.html
  _data/ToricSheaves.yml
Due: ToricSheaves

make FinalizeCategory an explicit option for OppositeCategory
  CAP/PackageInfo.g
  CAP/gap/OppositeCategory.gi
Due: CAP

Update website for CAP 2025.12-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

installed SetOfObjects/SetOfMorphisms for TerminalCategoryWithSingleObject
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/TerminalCategory.gi
Due: CAP

Update website for CAP 2026.01-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap17.html
  CAP/doc/chap17.txt
  CAP/doc/chap17_mj.html
  _data/CAP.yml
Due: CAP

renamed *ElementOfRing -> *RingElement
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/RingsAsAbCats.gd
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/TypeSignaturesOfMatricesForHomalg.gi
  CompilerForCAP/gap/TypeSignaturesOfQPA.gi
Due: CAP, CompilerForCAP

renamed *ElementOfGroup -> *GroupElement
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: CAP

AddDerivationToCAP( IsHomSetInhabited, ..., CategoryFilter := IsAbCategory )
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/examples/WeakHomomorphismTheorem.g
  AdditiveClosuresForCAP/gap/CategoryOfRows.autogen.gd
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
Due: CAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Update website for CAP 2026.02-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for AdditiveClosuresForCAP 2026.02-01
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chap3.html
  AdditiveClosuresForCAP/doc/chap3.txt
  AdditiveClosuresForCAP/doc/chap3_mj.html
  AdditiveClosuresForCAP/doc/chap4.html
  AdditiveClosuresForCAP/doc/chap4.txt
  AdditiveClosuresForCAP/doc/chap4_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for GradedModulePresentationsForCAP 2026.02-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1.txt
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for LinearAlgebraForCAP 2026.02-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

fixed examples/LinearClosure.g
  LinearClosuresForCAP/examples/LinearClosure.g
Due: none

comply with CAP 2026.02-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/examples/LinearClosure.g
Due: none

Update website for LinearClosuresForCAP 2026.02-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  LinearClosuresForCAP/doc/chap2.html
  LinearClosuresForCAP/doc/chap2.txt
  LinearClosuresForCAP/doc/chap2_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

comply with new AutoDoc
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gd
Due: CompilerForCAP

Update website for CompilerForCAP 2026.03-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP
