Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Add preconditions to automatically generated derivations
  CAP/gap/LimitConvenience.gi
  CAP/gap/LimitConvenienceOutput.gi
Due: CAP

Adjust a test for Julia
  MonoidalCategories/tst/TerminalCategoryMonoidal.tst
Due: MonoidalCategories

Simplify AddDerivation and AddFinalDerivationBundle
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Add more checks to CAP_INTERNAL_ENHANCE_NAME_RECORD
  CAP/doc/AddFunctions.autodoc
  CAP/gap/MethodRecord.gi
Due: CAP

Adjust line endings for Julia
  CAP/gap/OppositeCategory.gi
Due: CAP

Do not read "CartesianCategories/gap/Tools.g{i,d}" in Julia
  CartesianCategories/init.g
  CartesianCategories/read.g
Due: CartesianCategories

Remove some invalid io_types
  CAP/gap/MethodRecord.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
Due: CAP, CartesianCategories, MonoidalCategories

Remove cache_name from method records
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gi
Due: FreydCategoriesForCAP

Remove well_defined_todo
  CAP/gap/MethodRecord.gi
Due: CAP

Avoid `and` of filters in Julia
  CartesianCategories/gap/BicartesianCategories.gi
Due: CartesianCategories

Add output_source/range_getter_preconditions
  CAP/doc/AddFunctions.autodoc
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecord.gi
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CodistributiveCocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/DistributiveCartesianCategoriesMethodRecord.gi
  MonoidalCategories/gap/AdditiveMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/BraidedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/MonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesMethodRecord.gi
Due: CAP, CartesianCategories, MonoidalCategories

Bump versions
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CartesianCategories, FreydCategoriesForCAP, MonoidalCategories

Update website for CAP 2023.04-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.04-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2023.04-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for MonoidalCategories 2023.04-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Fix whitespace in tst files
  CartesianCategories/tst/TerminalCategoryCartesian.tst
  CartesianCategories/tst/TerminalCategoryCocartesian.tst
Due: CartesianCategories

Avoid SetFilterObj
  CartesianCategories/gap/InitialCategory.gi
Due: CartesianCategories

Bump version
  CartesianCategories/PackageInfo.g
Due: CartesianCategories

Update website for CartesianCategories 2023.04-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Replace Sum by SumOfMorphisms in derivations
  CAP/gap/DerivedMethods.gi
Due: CAP

Add category as first argument to a function call
  CAP/gap/DerivedMethods.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2023.04-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Simplify CapJitResultFuncCombineChildren
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/Tools.gi
Due: CompilerForCAP

Normalize "not" for Julia
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Bump version
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

Update website for CompilerForCAP 2023.04-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Make line continuation explicit
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
  CartesianCategories/examples/InitialCategory.g
Due: CAP, CartesianCategories

Update website for CAP 2023.04-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.04-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Allow to distinguish between (small) integers and big integers for Julia
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/ResolveGlobalVariables.gi
Due: CAP, CompilerForCAP

Update website for CAP 2023.04-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.04-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Apply PackageJanitor
  .circleci/config.yml
  .github/workflows/Tests.yml
  Jenkinsfile
  makefile
Due: none

Use correct weight list in DerivationsOfMethodByCategory for cannot_compute
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
Due: CAP

Update website for CAP 2023.04-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

replace "summand" by "retract" and simplify derivations
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP

fix a typo in CompilerForCAP error-message
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CompilerForCAP

fix a typo in CAP documentation
  CAP/gap/CategoryMorphisms.gd
Due: CAP
