Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Comment new checks for Julia because they rely on "TryNextMethod"
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
Due: CAP

Update website for CAP 2023.07-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

unified coding style
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: ModulePresentationsForCAP

use ObjectConstructor/MorphismConstructor
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: ModulePresentationsForCAP

CreateCapCategoryWithDataTypes for CokernelImageClosure
  FreydCategoriesForCAP/gap/CokernelImageClosure.gi
Due: FreydCategoriesForCAP

CreateCapCategoryWithDataTypes for ProSetAsCategory
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
Due: FreydCategoriesForCAP

CreateCapCategoryWithDataTypes for ModulePresentations
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

CreateCapCategoryWithDataTypes for SerreQuotients*
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByCospans.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsBySpans.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByThreeArrows.gi
Due: GeneralizedMorphismsForCAP

CreateCapCategoryWithDataTypes for RelCategory
  FreydCategoriesForCAP/gap/Relations.gi
Due: FreydCategoriesForCAP

CreateCapCategoryWithDataTypes for FieldAsCategory
  CAP/examples/FieldAsCategory.g
Due: CAP

CreateCapCategoryWithDataTypes for generalized morphisms
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategory.gd
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gd
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryBySpans.gd
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryBySpans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByThreeArrows.gd
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByThreeArrows.gi
Due: GeneralizedMorphismsForCAP

Move constructors under 'Constructors' section
  CAP/examples/StringsAsCategory.g
Due: CAP

CreateCapCategoryWithDataTypes for StringsAsCategory
  CAP/examples/StringsAsCategory.g
Due: CAP

ObjectifyObject* -> CreateCapCategoryObject* for CAP
  CAP/examples/FieldAsCategory.g
  CAP/examples/StringsAsCategory.g
  CAP/gap/OppositeCategory.gi
  CAP/gap/TerminalCategory.gi
  CAP/gap/WrapperCategory.gi
Due: CAP

ObjectifyObject* -> CreateCapCategoryObject* for GeneralizedMorphisms
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryBySpans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByThreeArrows.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByCospans.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsBySpans.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByThreeArrows.gi
Due: GeneralizedMorphismsForCAP

ObjectifyObject* -> CreateCapCategoryObject* for Freyd
  FreydCategoriesForCAP/examples/OppositeOfCategoryOfRowsAsCategoryOfColumns.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/GradedRowOrColumn.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CoFreydCategoryAsOppositeOfFreydCategoryOfOpposite.gi
  FreydCategoriesForCAP/gap/CokernelImageClosure.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
  FreydCategoriesForCAP/gap/LinearClosure.gi
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
  FreydCategoriesForCAP/gap/Relations.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

ObjectifyObject* -> CreateCapCategoryObject* for Actions
  ActionsForCAP/examples/IndirectionTest2.g
Due: ActionsForCAP

ObjectifyMorphism -> CreateCapCategoryMorphism in CAP
  CAP/examples/FieldAsCategory.g
  CAP/examples/StringsAsCategory.g
  CAP/gap/CategoriesCategory.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/TerminalCategory.gi
  CAP/gap/WrapperCategory.gi
Due: CAP

ObjectifyMorphism -> CreateCapCategoryMorphism in GeneralizedMorphisms
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryBySpans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByThreeArrows.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByCospans.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsBySpans.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByThreeArrows.gi
Due: GeneralizedMorphismsForCAP

ObjectifyMorphism -> CreateCapCategoryMorphism in Freyd
  FreydCategoriesForCAP/examples/OppositeOfCategoryOfRowsAsCategoryOfColumns.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/GradedRowOrColumnMorphism.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CoFreydCategoryAsOppositeOfFreydCategoryOfOpposite.gi
  FreydCategoriesForCAP/gap/CokernelImageClosure.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
  FreydCategoriesForCAP/gap/Relations.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

ObjectifyMorphism -> CreateCapCategoryMorphism in Actions
  ActionsForCAP/examples/IndirectionTest2.g
Due: ActionsForCAP

ObjectifyMorphism -> CreateCapCategoryMorphism in test of CompilerForCAP
  CompilerForCAP/tst/loop_extraction.tst
Due: CompilerForCAP

Warn when using SafePosition etc. for things without a standardized equality
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/Tools.gd
  CompilerForCAP/gap/Tools.gi
Due: CompilerForCAP

Warn when using IsIdenticalObj for other things than CAP categories
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Bump version
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

Update website for CompilerForCAP 2023.07-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Warn about categories marked as being computable but not having an implementation of IsCongruentForMorphisms
  ActionsForCAP/examples/IndirectionTest2.g
  CAP/PackageInfo.g
  CAP/examples/DummyCategory.g
  CAP/examples/VectorSpacesAddKernel01.g
  CAP/examples/VectorSpacesAddKernel02.g
  CAP/examples/VectorSpacesAddKernel03.g
  CAP/examples/VectorSpacesKernelTest.g
  CAP/gap/CategoriesCategory.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gi
  CompilerForCAP/tst/CapJitCompiledCAPOperationAsEnhancedSyntaxTree.tst
  CompilerForCAP/tst/CapJitEnableProofAssistantMode.tst
  CompilerForCAP/tst/CapJitEnableStepByStepCompilation.tst
  CompilerForCAP/tst/CapJitResolvedOperations.tst
  ComplexesAndFilteredObjectsForCAP/gap/CocomplexCategory.gi
  ComplexesAndFilteredObjectsForCAP/gap/FilteredObjects.gi
  ComplexesAndFilteredObjectsForCAP/gap/ZFunctors.gi
  FreydCategoriesForCAP/tst/add_hom_structure_using_external_hom.tst
Due: CAP, ActionsForCAP, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, FreydCategoriesForCAP

Handle `is_computable` in a less special way
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2023.07-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Handle fallbacks for IsEqualForObjects and IsEqualForMorphisms in a better way
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gi
Due: CAP, FreydCategoriesForCAP

Simplify checks for IsEqualForObjects
  CAP/gap/MethodRecord.gi
  CAP/gap/OppositeCategory.gi
  FreydCategoriesForCAP/gap/CoFreydCategoryAsOppositeOfFreydCategoryOfOpposite.gi
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gi
Due: CAP, FreydCategoriesForCAP

Make check for "bool" stricter
  CAP/gap/ToolsForCategories.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2023.07-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2023.07-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Category as first argument for Cospans
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gi
Due: GeneralizedMorphismsForCAP

Category as first argument for Spans
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryBySpans.gi
Due: GeneralizedMorphismsForCAP

Category as first argument for ThreeArrows
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByThreeArrows.gi
Due: GeneralizedMorphismsForCAP

Adjust documentation of `MakeDerivation`
  CAP/gap/Derivations.gd
Due: CAP

Category as first argument for SerreQuotientsByCospans
  GeneralizedMorphismsForCAP/gap/SerreQuotients.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByCospans.gi
Due: GeneralizedMorphismsForCAP
