Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for CAP 2023.12-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Add support for GAP's Integers to the proof assistant
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/tst/proof_assistant.tst
Due: CompilerForCAP

Move IsIntegers from deferred filters to normal filters
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-26
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-27
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add proof that RingAsCategory of a k-algebra has a linear structure
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/300_proof_RingAsCategory_of_k_algebra_has_linear_structure.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-28
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Print lemma before attesting valid inputs
  CompilerForCAP/tst/300_proof_RingAsCategory_of_k_algebra_has_linear_structure.tst
Due: CompilerForCAP

Fix preconditions for kernels
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/tst/300_proof_CategoryOfRows_has_kernels.tst
  CompilerForCAP/tst/proof_assistant.tst
Due: CompilerForCAP

Bump version
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

Add proof that AdditiveClosure has a preadditive structure
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_preadditive_structure.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-29
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

generalized derivations to nonsymmetric (co)closed monoidal categories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2023.12-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2023.12-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Improve compilability of AdditiveClosure
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Fix typo
  CompilerForCAP/gap/LogicTemplates.gi
Due: CompilerForCAP

Add logic which uses the equality of variables to merge if-then-else cases
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/tst/300_proof_AdditiveClosure_hom_structure.tst
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2023.12-15
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Allow to properly bail out if applying logic template does not change tree
  CompilerForCAP/gap/ProofAssistant.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-30
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Prove that AdditiveClosure has direct sums
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_direct_sums.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-31
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Avoid wrapping the output in proofs
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_a_zero_object.tst
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_direct_sums.tst
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_preadditive_structure.tst
  CompilerForCAP/tst/300_proof_AdditiveClosure_hom_structure.tst
  CompilerForCAP/tst/300_proof_CategoryOfRows_has_kernels.tst
  CompilerForCAP/tst/300_proof_RingAsCategory_has_associative_composition.tst
  CompilerForCAP/tst/300_proof_RingAsCategory_of_k_algebra_has_linear_structure.tst
  CompilerForCAP/tst/300_proof_hom_structure_for_linear_categories.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-32
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

CategoryConstructor now supports range_category_of_homomorphism_structure
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gd
  CAP/gap/CategoryConstructor.gi
Due: CAP

TerminalCategoryWithMultipleObjects now has TerminalCategoryWithSingleObject as range of hom-structure
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/gap/TerminalCategory.gi
Due: CAP

d&i MorphismsOfExternalHom
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/ReinterpretationOfCategory.gi
  CAP/gap/TerminalCategory.gi
Due: CAP

Update website for CAP 2023.12-14
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Disable proof assistant mode after proofs
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_direct_sums.tst
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_preadditive_structure.tst
  CompilerForCAP/tst/300_proof_RingAsCategory_of_k_algebra_has_linear_structure.tst
Due: CompilerForCAP

Add proof that RingAsCategory has a preadditive structure
  CompilerForCAP/tst/300_proof_RingAsCategory_has_preadditive_structure.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2024.01-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

fix julia tests
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
Due: CAP

Update website for CAP 2024.01-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Introduce AsCapCategoryObject and AsCapCategoryMorphism
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gd
  CAP/gap/CategoryObjects.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CompilerHints.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/Logic.gi
  CompilerForCAP/gap/OutlineWrappedArguments.gd
  CompilerForCAP/gap/OutlineWrappedArguments.gi
  CompilerForCAP/gap/PrecompileCategory.gd
  CompilerForCAP/gap/PrecompileCategory.gi
  CompilerForCAP/gap/ResolveGlobalVariables.gi
  CompilerForCAP/tst/CAP_JIT_INTERNAL_TELESCOPED_ITERATION.tst
  CompilerForCAP/tst/CAP_JIT_NEXT_FUNCCALL_DOES_NOT_RETURN_FAIL.tst
  CompilerForCAP/tst/CapJitReplacedSourceAndRangeAttributes.tst
  CompilerForCAP/tst/do_not_resolve_CAP_operations_statically.tst
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  LinearAlgebraForCAP/gap/MatrixCategoryAsCategoryOfRows.gi
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gi
  LinearAlgebraForCAP/gap/MatrixCategoryObject.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CAP, CompilerForCAP, LinearAlgebraForCAP

Update website for CAP 2024.01-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2.txt
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.01-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP
