Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for LinearAlgebraForCAP 2023.05-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2023.05-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Deprecate the usage of WrapperCategory for reinterpreting a category
  CAP/gap/ReinterpretationOfCategory.gd
  CAP/gap/WrapperCategory.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2023.05-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Remove some comments for Julia
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/Finalize.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/TerminalCategory.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2023.05-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Convenience for opposite category with explicit name
  CAP/gap/OppositeCategory.gi
Due: CAP

Use Opposite with two arguments in monoidal tests
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/AdditiveMonoidalCategoriesTest.gi
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/MonoidalCategoriesTensorProductAndUnitTest.gi
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesTest.gi
Due: MonoidalCategories

Remove opposite test comments
  MonoidalCategories/gap/AdditiveMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/BraidedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/MonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesMethodRecord.gi
Due: MonoidalCategories

Regenerate CartesianCategories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gi
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianClosedCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gi
  CartesianCategories/gap/CodistributiveCocartesianCategoriesTest.gi
  CartesianCategories/gap/DistributiveCartesianCategoriesTest.gi
Due: CartesianCategories

Update website for CartesianCategories 2023.05-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2023.05-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Use `dual_with_given_objects_reversed` in Monoidal
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/AdditiveMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/BraidedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/MonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesMethodRecord.gi
Due: FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

`dual_with_given_objects_reversed` in Cartesian
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CodistributiveCocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/DistributiveCartesianCategoriesMethodRecord.gi
Due: CartesianCategories

Update website for CartesianCategories 2023.05-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2023.05-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

added convenience for ModelingObject/ModelingMorphism
  CAP/PackageInfo.g
  CAP/gap/ReinterpretationOfCategory.gi
Due: CAP

Update website for CAP 2023.05-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Simplify check for Browse
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CAP/gap/ToolsForCategories_AfterLoading.gi
Due: CAP

Avoid various cases of `IsBound` for lists in Julia
  CAP/gap/ToolsForCategories.gi
Due: CAP

Avoid `IsBound` for local variables in TheoremParser.gi in Julia
  CAP/init.g
  CAP/read.g
Due: CAP

Update website for CAP 2023.05-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Use "and" for filters in GAP
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
Due: CAP

Update website for CAP 2023.05-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Improve warnings about ignored/overwritten functions
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2023.05-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Make tests in CartesianCategories independent of MonoidalCategories
  CartesianCategories/tst/TerminalCategoryCartesian.tst
  CartesianCategories/tst/TerminalCategoryCocartesian.tst
Due: CartesianCategories

Bump versions
  CartesianCategories/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Remove space after "then" at EOL
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  MonoidalCategories/examples/VectorSpacesMonoidalCategory.gi
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
Due: CartesianCategories, MonoidalCategories

Explicitly pass the opposite category as second argument to *Test
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gi
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CartesianClosedCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gi
  CartesianCategories/gap/CodistributiveCocartesianCategoriesTest.gi
  CartesianCategories/gap/DistributiveCartesianCategoriesTest.gi
  CartesianCategories/tst/TerminalCategoryCartesian.tst
  CartesianCategories/tst/TerminalCategoryCocartesian.tst
  FreydCategoriesForCAP/tst/TensorCorrespondenceRowsAndOppositeOfRows.tst
  LinearAlgebraForCAP/tst/TensorCorrespondenceMatrixCategoryAndOpposite.tst
  MonoidalCategories/gap/AdditiveMonoidalCategoriesTest.gi
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/MonoidalCategoriesTensorProductAndUnitTest.gi
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/tst/TerminalCategoryMonoidal.tst
Due: CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CartesianCategories 2023.05-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2023.05-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2023.05-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2023.05-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Exclude NTuple from generalized hoisting
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/HoistExpressions.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.05-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Turn dual_pre/postprocessor_func into string in CAP_INTERNAL_ENHANCE_NAME_RECORD
  CAP/PackageInfo.g
  CAP/doc/AddFunctions.autodoc
  CAP/gap/MethodRecord.gi
  CAP/gap/OppositeCategory.gi
Due: CAP

Update website for CAP 2023.05-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  _data/CAP.yml
Due: CAP
