Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

used given source/range when possible and got rid of obsolete local variables
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, LinearAlgebraForCAP, MonoidalCategories

Update website for CartesianCategories 2023.08-07
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2023.08-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2023.08-05
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

use TensorProductToInternal(Co)HomAdjunctionMapWithGivenInternal(Co)Hom
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, LinearAlgebraForCAP, MonoidalCategories

Update website for CartesianCategories 2023.08-08
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2023.08-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2023.08-06
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

whitespace
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

fixed documentation
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
Due: CartesianCategories, MonoidalCategories

improved documentation of *WithGiven* operations
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2023.08-10
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2023.08-08
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

improved InfoStringOfInstalledOperationsOfCategory
  CAP/PackageInfo.g
  CAP/gap/PrintingFunctions.gi
  CAP/gap/TerminalCategory.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
  CartesianCategories/examples/InitialCategory.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/examples/CohP1.g
Due: CAP, CartesianCategories, GradedModulePresentationsForCAP

Update website for CAP 2023.08-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.08-11
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for GradedModulePresentationsForCAP 2023.08-02
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1.txt
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Warn about unsupported operations in DummyCategory
  CAP/gap/DummyCategory.gi
Due: CAP

Support "list_of_lists_of_morphisms" in CategoryConstructor
  CAP/gap/CategoryConstructor.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2023.08-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Category as first argument for IntegerCategory
  CAP/examples/IntegerCategory.g
Due: CAP

Modernize IntegerCategory.g
  CAP/examples/IntegerCategory.g
Due: CAP

Better indentation and comment sections
  CAP/examples/StringsAsCategory.g
Due: CAP

Category as first argument for StringsAsCategory
  CAP/examples/Simplify.g
  CAP/examples/StringsAsCategory.g
Due: CAP

Improve documentation of CompilerForCAP
  CompilerForCAP/doc/Usage.autodoc
Due: CompilerForCAP

Bump versions
  CompilerForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CompilerForCAP, LinearAlgebraForCAP

Add some comments for Julia
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gi
  LinearAlgebraForCAP/read.g
Due: LinearAlgebraForCAP

Remove superfluous backslash
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gd
Due: LinearAlgebraForCAP

Update website for CompilerForCAP 2023.08-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for LinearAlgebraForCAP 2023.08-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

d&i 'TransposedMatWithGivenDimensions' to compute
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

use 'TransposedMatWithGivenDimensions' in the
  CAP/PackageInfo.g
  CAP/examples/OppositeCategory.g
  CAP/gap/MethodRecord.gi
Due: CAP

CapJitAddTypeSignature( "UnderlyingCategory", [ IsCoFreydCategory ], ... )
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CoFreydCategory.gd
Due: FreydCategoriesForCAP

Update website for CAP 2023.08-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2023.08-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

added sanity checks to AsMorphismInWrapperCategory
  CAP/PackageInfo.g
  CAP/gap/WrapperCategory.gi
Due: CAP

Update website for CAP 2023.08-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

CreateCapCategory for examples in manual
  Manual/CAPManual.pdf
  Manual/GAP_code/vecspaces_example/complete_example.g
  Manual/GAP_tex/vecspaces_example/Declarations.tex
  Manual/Tutorial.tex
Due: none

Objectify* -> CreateCapCategory*WithAttribute
  Manual/CAPManual.pdf
  Manual/GAP_code/vecspaces_example/complete_example.g
  Manual/GAP_tex/vecspaces_example/Declarations2.tex
  Manual/Tutorial.tex
Due: none

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
