Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for LinearAlgebraForCAP 2022.09-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Enhance final derivations
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gi
  FreydCategoriesForCAP/gap/FreydCategoriesDerivedMethods.gi
  LinearAlgebraForCAP/gap/DerivedMethodsForMatrixCategories.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Revert "Temporarily enhance CAP_INTERNAL_MERGE_PRECONDITIONS_LIST to support lists of length 2"
  CAP/gap/ToolsForCategories.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Add missing version of CoefficientsOfMorphism with category as first argument
  CAP/PackageInfo.g
  CAP/gap/CategoryMorphisms.gi
Due: CAP

Update website for CAP 2022.09-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2022.09-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.09-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2022.09-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2022.09-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

CapJitAddTypeSignature( "LazyHList", [ IsList, IsFunction ], ... )
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.09-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Avoid constructing MatrixCategory in category filter of final derivation
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/DerivedMethodsForMatrixCategories.gi
Due: LinearAlgebraForCAP

Disallow calling `CanCompute` in category filters of derivations
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
Due: CAP

Update website for LinearAlgebraForCAP 2022.09-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Bump versions
  ActionsForCAP/PackageInfo.g
  CAP/PackageInfo.g
Due: CAP, ActionsForCAP

Remove now obsolete saturation and replace by a check
  ActionsForCAP/examples/IndirectionTest.g
  CAP/gap/CategoryConstructor.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/Derivations.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/DummyCategory.gi
  CAP/gap/Finalize.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/WrapperCategory.gi
Due: CAP, ActionsForCAP

allow compiling standardly wrapped categories
  CAP/PackageInfo.g
  CAP/gap/WrapperCategory.gi
Due: CAP

Support compiling CAP operations which are themselves operations or kernel functions
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/TODO
  CompilerForCAP/examples/CapJitCompiledCAPOperationAsEnhancedSyntaxTree.gi
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.09-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Remove ability to add derivations with extra filters
  CAP/PackageInfo.g
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2022.09-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2022.09-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2022.09-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/chap1.html
  ActionsForCAP/doc/chap1.txt
  ActionsForCAP/doc/chap1_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Improve wording of warning
  CAP/PackageInfo.g
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2022.09-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Improve CAP_INTERNAL_FIND_APPEARANCE_OF_SYMBOL_IN_FUNCTION
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

Restructure and reword warning
  CAP/PackageInfo.g
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2022.09-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2022.09-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Document RangeCategoryOfHomomorphismStructure
  CAP/gap/CAP.gd
Due: CAP

Display error when encountering an unsupported range expression
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.09-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
