Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Require GAP 4.12 for CompilerForCAP
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/ResolveGlobalVariables.gi
Due: CompilerForCAP

Normalize MatElm to [,] again
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/MatElm.g
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/ResolveGlobalVariables.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
Due: CompilerForCAP, FreydCategoriesForCAP

Update website for CompilerForCAP 2022.10-08
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.10-11
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap2.html
  FreydCategoriesForCAP/doc/chap2.txt
  FreydCategoriesForCAP/doc/chap2_mj.html
  FreydCategoriesForCAP/doc/chapInd.html
  FreydCategoriesForCAP/doc/chapInd.txt
  FreydCategoriesForCAP/doc/chapInd_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Introduce compiler hint category_attribute_resolving_functions
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/CapJitResolvedGlobalVariables.g
  CompilerForCAP/gap/ResolveGlobalVariables.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.10-09
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

d&i Indecomposable(Projective/Injective)Objects
  CAP/PackageInfo.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/CAP.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/WrapperCategory.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP

include the option create_func_list_of_objects in the documentation of category constructors
  CAP/gap/CategoryConstructor.gd
Due: CAP

trailing commas
  CAP/gap/CategoryConstructor.gi
  CAP/gap/WrapperCategory.gi
Due: CAP

rephrase the if condition
  CAP/gap/CategoryConstructor.gi
Due: CAP

add create_func_list_of_objects := dummy_function to the list of options in DummyCategory
  CAP/gap/DummyCategory.gi
Due: CAP

Update CAP/gap/CategoryConstructor.gi
  CAP/gap/CategoryConstructor.gi
Due: CAP

Support installation of ObjectConstructor etc. in DummyCategory
  CAP/PackageInfo.g
  CAP/examples/DummyCategory.g
  CAP/gap/DummyCategory.gd
  CAP/gap/DummyCategory.gi
Due: CAP

Update website for CAP 2022.10-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2022.10-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap13.html
  CAP/doc/chap13.txt
  CAP/doc/chap13_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

make RingAsCategory of exterior algebra linear over the underlying field
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

Add random methods to Freyd categories
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/Basics.gi
  FreydCategoriesForCAP/gap/FreydCategory.gd
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.10-12
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap11.html
  FreydCategoriesForCAP/doc/chap11.txt
  FreydCategoriesForCAP/doc/chap11_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chapInd.html
  FreydCategoriesForCAP/doc/chapInd.txt
  FreydCategoriesForCAP/doc/chapInd_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Code EXPR_ELM_MAT in function call style
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/MatElm.g
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.10-10
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Introduce AddFinalDerivationBundle
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gd
  CAP/gap/Finalize.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/HomomorphismStructureDerivedMethods.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategoriesDerivedMethods.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/DerivedMethodsForMatrixCategories.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/HomomorphismStructureDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CAP, CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CAP 2022.10-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2022.10-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2022.10-13
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.10-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2022.10-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Simplify final derivations by reusing parts of the non-final derivation mechanism
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2022.10-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Deprecate calling AddFinalDerivation with additional functions
  CAP/PackageInfo.g
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2022.10-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Make FreydCategoriesForCAP independent of LinearAlgebraForCAP
  CompilerForCAP/examples/PrecompileMatrixCategoryAsCategoryOfRows.g
  CompilerForCAP/examples/PrecompileModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.g
  CompilerForCAP/tst/100_LoadPackage.tst
  CompilerForCAP/tst/CAP_JIT_INTERNAL_TELESCOPED_ITERATION.tst
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/MatrixCategoryAsCategoryOfRows.gd
  FreydCategoriesForCAP/gap/QuiverRows.gi
  FreydCategoriesForCAP/init.g
  FreydCategoriesForCAP/read.g
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gd
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  LinearAlgebraForCAP/gap/MatrixCategoryAsCategoryOfRows.gd
  LinearAlgebraForCAP/gap/MatrixCategoryAsCategoryOfRows.gi
  LinearAlgebraForCAP/init.g
  LinearAlgebraForCAP/read.g
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for FreydCategoriesForCAP 2022.10-14
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.10-06
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap1.html
  LinearAlgebraForCAP/doc/chap1.txt
  LinearAlgebraForCAP/doc/chap1_mj.html
  LinearAlgebraForCAP/doc/chapInd.html
  LinearAlgebraForCAP/doc/chapInd.txt
  LinearAlgebraForCAP/doc/chapInd_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Remove direct dependency of CAP on IO
  CAP/PackageInfo.g
  CAP/gap/TheoremParser.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CartesianCategories, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, MonoidalCategories

Remove some unneeded dependencies
  CAP/PackageInfo.g
  CAP/examples/SnakeInMatrixCategory.g
  CAP/examples/VectorSpacesGeneralizedMorphismsCategory.g
  CAP/examples/VectorSpacesIsWellDefined.g
  CartesianCategories/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, MonoidalCategories

Update website for CAP 2022.10-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2022.10-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2022.10-11
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.10-15
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
