Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Use DeclareInfoClass instead of binding NewInfoClass
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Avoid `and` of filters in AdditiveClosure
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Bump versions
  CAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2024.08-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2024.08-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap11.html
  FreydCategoriesForCAP/doc/chap11.txt
  FreydCategoriesForCAP/doc/chap11_mj.html
  FreydCategoriesForCAP/doc/chap16.html
  FreydCategoriesForCAP/doc/chap16.txt
  FreydCategoriesForCAP/doc/chap16_mj.html
  FreydCategoriesForCAP/doc/chap2.html
  FreydCategoriesForCAP/doc/chap2.txt
  FreydCategoriesForCAP/doc/chap2_mj.html
  FreydCategoriesForCAP/doc/chap4.html
  FreydCategoriesForCAP/doc/chap4.txt
  FreydCategoriesForCAP/doc/chap4_mj.html
  FreydCategoriesForCAP/doc/chap6.html
  FreydCategoriesForCAP/doc/chap6.txt
  FreydCategoriesForCAP/doc/chap6_mj.html
  FreydCategoriesForCAP/doc/chap8.html
  FreydCategoriesForCAP/doc/chap8.txt
  FreydCategoriesForCAP/doc/chap8_mj.html
  FreydCategoriesForCAP/doc/chapInd.html
  FreydCategoriesForCAP/doc/chapInd.txt
  FreydCategoriesForCAP/doc/chapInd_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Allow to specify weights of operations in CategoryConstructor
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/ReinterpretationOfCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_Field_precompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/Opposite_MatrixCategory_precompiled.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CAP 2024.08-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2024.08-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.08-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Add precompiled operations after the original operations in CategoryOfRows
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/CoFreydCategory.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2024.08-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Use IsZeroForMorphisms instead of IsZero in tests
  FreydCategoriesForCAP/examples/Basics.gi
  FreydCategoriesForCAP/examples/Functors.g
  FreydCategoriesForCAP/examples/Relations.g
  FreydCategoriesForCAP/examples/RingsAsAbCats.g
  FreydCategoriesForCAP/examples/RowsAndColsOverFields.g
Due: FreydCategoriesForCAP

Call HomalgMatrix with number of rows and columns
  FreydCategoriesForCAP/examples/CategoryOfColumns.g
  FreydCategoriesForCAP/examples/CategoryOfRows.g
Due: FreydCategoriesForCAP

Comment exterior rings for Julia
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfColumns_as_Opposite_CategoryOfRows.gi
Due: FreydCategoriesForCAP

Use FunctionWithNamedArguments at more places
  CAP/gap/OppositeCategory.gi
  CAP/gap/TerminalCategory.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfColumns_as_Opposite_CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CoFreydCategory.gi
  FreydCategoriesForCAP/gap/CoFreydCategory_as_Opposite_FreydCategory_Opposite.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
  LinearAlgebraForCAP/gap/MatrixCategory_as_CategoryOfRows.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Avoid displaying a matrix in a test
  FreydCategoriesForCAP/examples/Opposite_CategoryOfRows_as_CategoryOfColumns.g
Due: FreydCategoriesForCAP

Avoid `and` of filters in CategoryOfColumns_as_Opposite_CategoryOfRows
  FreydCategoriesForCAP/gap/CategoryOfColumns_as_Opposite_CategoryOfRows.gi
Due: FreydCategoriesForCAP

Use `Length` instead of `Size`
  FreydCategoriesForCAP/examples/CategoryOfRows.g
Due: FreydCategoriesForCAP

Drop MATRIX_CATEGORY in favor of MatrixCategory
  CAP/examples/WrapperCategory.g
  CompilerForCAP/examples/precompile_Opposite_MatrixCategory.g
  CompilerForCAP/tst/do_not_resolve_CAP_operations_statically.tst
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gd
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  LinearAlgebraForCAP/gap/precompiled_categories/Opposite_MatrixCategory_precompiled.gi
Due: CAP, CompilerForCAP, LinearAlgebraForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CAP 2024.08-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.08-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.08-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap16.html
  FreydCategoriesForCAP/doc/chap16.txt
  FreydCategoriesForCAP/doc/chap16_mj.html
  FreydCategoriesForCAP/doc/chap6.html
  FreydCategoriesForCAP/doc/chap6.txt
  FreydCategoriesForCAP/doc/chap6_mj.html
  FreydCategoriesForCAP/doc/chap8.html
  FreydCategoriesForCAP/doc/chap8.txt
  FreydCategoriesForCAP/doc/chap8_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.08-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Require additional filters to be dense lists of the expected length
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

Make weight checks in CapInternalInstallAdd stricter
  CAP/gap/InstallAdds.gi
Due: CAP

tmp: Enable checks for opposite and set weights in TerminalCategory
  CAP/gap/InstallAdds.gi
  CAP/gap/TerminalCategory.gi
Due: CAP

Update website for CAP 2024.08-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Remove superfluous comment for Julia
  CAP/gap/DummyImplementationsOfMatricesForHomalg.gd
Due: CAP

Create FREYD_CATEGORIES_SkeletalFinSets in ProSetsAsCats
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
  FreydCategoriesForCAP/init.g
Due: FreydCategoriesForCAP

Avoid `IsBound` for local variables
  FreydCategoriesForCAP/gap/LinearClosure.gi
Due: FreydCategoriesForCAP

Avoid `and` of filters in AdelmanCategory
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
Due: FreydCategoriesForCAP

Comment a check for Julia
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
Due: FreydCategoriesForCAP

Do not use double indices for lists of lists
  CAP/gap/UniversalObjects.gi
Due: CAP

Do not compute distinguished object in advance in AdelmanCategory
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
Due: FreydCategoriesForCAP

Improve formatting for Julia
  CAP/gap/DerivedMethods.gi
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CokernelImageClosure.gi
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gi
  FreydCategoriesForCAP/gap/LinearClosure.gi
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
  FreydCategoriesForCAP/gap/Relations.gi
Due: CAP, FreydCategoriesForCAP

Fix number of rows and columns of a matrix
  FreydCategoriesForCAP/examples/AdelmanCategoryBasics.g
Due: FreydCategoriesForCAP

Replace Size by Length
  CAP/gap/CAP.gi
  CAP/gap/UniversalObjects.gi
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
  FreydCategoriesForCAP/gap/LinearClosure.gi
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
  FreydCategoriesForCAP/gap/SerreSubcategoryFunctions.gi
Due: CAP, FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2024.08-06
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
