Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for ModulesOverLocalRingsForCAP 2024.04-01
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/doc/chap0.html
  ModulesOverLocalRingsForCAP/doc/chap0.txt
  ModulesOverLocalRingsForCAP/doc/chap0_mj.html
  ModulesOverLocalRingsForCAP/doc/chap1.html
  ModulesOverLocalRingsForCAP/doc/chap1_mj.html
  ModulesOverLocalRingsForCAP/doc/chap2.html
  ModulesOverLocalRingsForCAP/doc/chap2_mj.html
  ModulesOverLocalRingsForCAP/doc/chapInd.html
  ModulesOverLocalRingsForCAP/doc/chapInd_mj.html
  _data/ModulesOverLocalRingsForCAP.yml
Due: ModulesOverLocalRingsForCAP

Update website for MonoidalCategories 2024.04-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chap3.html
  MonoidalCategories/doc/chap3_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4_mj.html
  MonoidalCategories/doc/chap5.html
  MonoidalCategories/doc/chap5_mj.html
  MonoidalCategories/doc/chap6.html
  MonoidalCategories/doc/chap6_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for ToricSheaves 2024.04-01
  ToricSheaves/PackageInfo.g
  ToricSheaves/doc/chap0.html
  ToricSheaves/doc/chap0.txt
  ToricSheaves/doc/chap0_mj.html
  ToricSheaves/doc/chapInd.html
  ToricSheaves/doc/chapInd_mj.html
  _data/ToricSheaves.yml
Due: ToricSheaves

Add installation instructions for CompilerForCAP
  CompilerForCAP/README.md
Due: CompilerForCAP

Add benchmarks to CompilerForCAP
  CompilerForCAP/benchmarks/FPres.g
  CompilerForCAP/benchmarks/ZX.g
  CompilerForCAP/benchmarks/algorithms.g
  CompilerForCAP/benchmarks/boxing.g
  CompilerForCAP/benchmarks/data_structures.g
Due: CompilerForCAP

Only load FreydCategoriesForCAP when testing without precompiled code
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/tst/200_FreydCategoriesForCAP.tst
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2024.04-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

d&i InternalHomToTensorProduct*AdjunctionIsomorphism
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.autogen.gd
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods_extra.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianClosedCategoriesTest.gi
  CartesianCategories/gap/Tools.gi
  CartesianCategories/read.g
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods_extra.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
  MonoidalCategories/read.g
Due: CAP, CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CAP 2024.06-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.06-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2024.06-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for MonoidalCategories 2024.06-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

bumped version and dependencies of LinearAlgebraForCAP
  LinearAlgebraForCAP/PackageInfo.g
Due: LinearAlgebraForCAP

installed InitialObject/TerminalObject as empty coproduct/product
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP

Update website for LinearAlgebraForCAP 2024.06-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for CAP 2024.06-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

added logic templates: 1 * n, n * 1 -> n
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic templates: QUO_INT( n, 1 ) -> n & REM_INT( n, 1 ) -> 0
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic template: 0 * n -> 0
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic template: List( [ 1 .. n ], ... REM_INT ... QUO_INT ... ) -> [ 1 .. n ]
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic template: 0 + n -> n
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic template: n - 1 + 1 -> n
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic templates for the identity permutation matrix
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic templates for ConvertMatrixToRow/Column of 1x1 identity matrices
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic template for the tranposed of identity matrices
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic template for Kronecker products with 1x1 identity matrices
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

added logic template for the Kronecker product of two identity matrices
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: LinearAlgebraForCAP

Bump version
  LinearAlgebraForCAP/PackageInfo.g
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2024.06-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

the opposite category constructor now respects the enrichment of the input category
  CAP/PackageInfo.g
  CAP/gap/Finalize.gi
  CAP/gap/OppositeCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CAP 2024.06-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2024.06-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

declared IsCategoryWithInitial/Terminal/ZeroObject
  CAP/PackageInfo.g
  CAP/examples/OppositeCategory.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/ConstructiveCategoriesRecord.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategoriesProperties.gd
  CartesianCategories/gap/CocartesianCategoriesProperties.gd
Due: CAP, CartesianCategories

Update website for CAP 2024.06-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.06-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

standardized some entries of CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BicartesianCategories.gd
  CartesianCategories/gap/CartesianCategoriesProperties.gd
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCategoriesProperties.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.gd
  MonoidalCategories/gap/MonoidalCategoriesProperties.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/SymmetricMonoidalCategoriesProperties.gi
Due: CAP, CartesianCategories, MonoidalCategories

Update website for CAP 2024.06-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.06-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2024.06-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

changed name of category: Ring as category( ... ) -> RingAsCategory( ... )
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/300_proof_RingAsCategory_has_preadditive_structure.tst
  CompilerForCAP/tst/300_proof_RingAsCategory_of_k_algebra_has_linear_structure.tst
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/RingsAsAbCats.g
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: CompilerForCAP, FreydCategoriesForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
