Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

improved implementation of AddBraiding*
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_CommutativeRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_Field_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_CommutativeRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_Field_precompiled.gi
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/gap/GradedModulePresentations.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/Opposite_MatrixCategory_precompiled.gi
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: CompilerForCAP, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Update website for CompilerForCAP 2024.08-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for GradedModulePresentationsForCAP 2024.08-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for LinearAlgebraForCAP 2024.08-06
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.08-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Avoid `and` of filters for Julia
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

Simplify code formatting
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

Comment various things for Julia
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
  ModulePresentationsForCAP/gap/ModulePresentations_as_FreydCategory_CategoryOfRowsOrColumns.gi
  ModulePresentationsForCAP/gap/Tools.gi
  ModulePresentationsForCAP/read.g
Due: ModulePresentationsForCAP

Avoid obsolete workaround
  ModulePresentationsForCAP/gap/ModulePresentationMorphism.gi
  ModulePresentationsForCAP/gap/ModulePresentationObject.gi
Due: ModulePresentationsForCAP

Pass the category as the first argument to various operations
  ModulePresentationsForCAP/examples/Annihilator.g
  ModulePresentationsForCAP/examples/IntersectionOfIdeals.g
  ModulePresentationsForCAP/examples/Koszul.g
  ModulePresentationsForCAP/examples/MonoidalStructure.g
  ModulePresentationsForCAP/gap/ModulePresentationFunctors.gi
  ModulePresentationsForCAP/gap/ModulePresentationMorphism.gi
  ModulePresentationsForCAP/gap/ModulePresentationObject.gi
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

Add a basic test
  ModulePresentationsForCAP/tst/basic.tst
Due: ModulePresentationsForCAP

Bump version
  ModulePresentationsForCAP/PackageInfo.g
Due: ModulePresentationsForCAP

bump versions
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.08-03
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/chap2.html
  ModulePresentationsForCAP/doc/chap2.txt
  ModulePresentationsForCAP/doc/chap2_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for FreydCategoriesForCAP 2024.08-07
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.08-07
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Split MethodRecord.gi into tools and entries
  CAP/gap/LimitConvenience.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/MethodRecordTools.gd
  CAP/gap/MethodRecordTools.gi
  CAP/init.g
  CAP/read.g
Due: CAP

Move comment to the correct place
  CAP/read.g
Due: CAP

Split PrepareFunctions.gi into tools and entries
  CAP/gap/PrepareFunctions.gi
  CAP/gap/PrepareFunctionsTools.gd
  CAP/gap/PrepareFunctionsTools.gi
  CAP/init.g
  CAP/read.g
Due: CAP

Get rid of ToolsForCategories_AfterLoading.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/MethodRecordTools.gd
  CAP/gap/MethodRecordTools.gi
  CAP/gap/ToolsForCategories.gi
  CAP/gap/ToolsForCategories_AfterLoading.gi
  CAP/read.g
Due: CAP

Reorganize init.g and read.g
  CAP/init.g
  CAP/read.g
Due: CAP

Move UniversalObject.g* to the library part
  CAP/init.g
  CAP/read.g
Due: CAP

Split CategoryMorphisms.g* into tools (core) and operations (library)
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryMorphismsOperations.gd
  CAP/gap/CategoryMorphismsOperations.gi
  CAP/init.g
  CAP/read.g
Due: CAP

Split CategoryObjects.g* into tools (core) and operations (library)
  CAP/gap/CategoryObjects.gd
  CAP/gap/CategoryObjects.gi
  CAP/gap/CategoryObjectsOperations.gd
  CAP/gap/CategoryObjectsOperations.gi
  CAP/init.g
  CAP/read.g
Due: CAP

Remove deprecated code parts
  CAP/gap/CAP.gi
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gd
  CAP/gap/CategoryObjects.gi
  CAP/gap/Finalize.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecordTools.gi
  CAP/gap/ReinterpretationOfCategory.gd
  CAP/gap/WrapperCategory.gi
Due: CAP

Split CategoryTwoCells.g* into tools (core) and operations (library)
  CAP/gap/CategoryTwoCells.gd
  CAP/gap/CategoryTwoCells.gi
  CAP/gap/CategoryTwoCellsOperations.gd
  CAP/gap/CategoryTwoCellsOperations.gi
  CAP/init.g
  CAP/read.g
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Make the order in read.g match the order in init.g
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/read.g
Due: CAP

Update website for CAP 2024.08-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2.txt
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Turn identifier lists in type checking functions into identifier getters
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Move some tests from CAP to more appropriate packages
  ActionsForCAP/examples/ActionsTest2.g
  LinearAlgebraForCAP/examples/HomologyObject.g
  LinearAlgebraForCAP/examples/Liftable.g
  LinearAlgebraForCAP/examples/LinearAlgebraMissingsOperations.g
  LinearAlgebraForCAP/examples/MatrixCategory.g
  LinearAlgebraForCAP/examples/MorphismToSink_MorphismFromSource.g
  LinearAlgebraForCAP/examples/PreComposeList.g
Due: ActionsForCAP, LinearAlgebraForCAP

Update website for CAP 2024.08-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  _data/CAP.yml
Due: CAP

Improve tests in LinearAlgebraForCAP
  LinearAlgebraForCAP/examples/Example.g
  LinearAlgebraForCAP/examples/HomologyObject.g
  LinearAlgebraForCAP/examples/Liftable.g
  LinearAlgebraForCAP/examples/LinearAlgebraMissingsOperations.g
  LinearAlgebraForCAP/examples/MatrixCategory.g
  LinearAlgebraForCAP/examples/MorphismToSink_MorphismFromSource.g
  LinearAlgebraForCAP/examples/PreComposeList.g
Due: LinearAlgebraForCAP

Bump versions
  ActionsForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: ActionsForCAP, LinearAlgebraForCAP

Update website for ActionsForCAP 2024.08-02
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for LinearAlgebraForCAP 2024.08-08
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Simplify a test
  CAP/examples/Functors.g
  CAP/tst/100_LoadPackage.tst
Due: CAP

Move more tests from CAP to more appropriate packages
  CAP/examples/FieldAsCategory.g
  CAP/tst/100_LoadPackage.tst
  FreydCategoriesForCAP/examples/HomStructureTest.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
  LinearAlgebraForCAP/examples/WrapperCategory.g
  ModulePresentationsForCAP/examples/MatricesGrowthTest.g
  ModulePresentationsForCAP/examples/ModulePresentationsMonoidalCategory.g
  ModulePresentationsForCAP/examples/MorphismBetweenDirectSums.g
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Adjust tests for Julia
  FreydCategoriesForCAP/examples/CategoryOfRows.g
  FreydCategoriesForCAP/examples/RowsAndColsOverFields.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
  LinearAlgebraForCAP/examples/WrapperCategory.g
  ModulePresentationsForCAP/examples/ModulePresentationsMonoidalCategory.g
Due: FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Bump versions
  CAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP
