Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Drop obsolete compiler hints
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2023.03-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Turn some errors into warnings
  CAP/gap/CAP.gi
Due: CAP

Remove support for the compiler hints {category,object,morphism}_filter
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/doc/Usage.autodoc
Due: CAP, CompilerForCAP

Remove obsolete checks
  CAP/gap/ToolsForCategories.gi
Due: CAP

Remove support for other_{category,object,morphism,twocell}
  CAP/doc/AddFunctions.autodoc
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Update website for CAP 2023.03-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.03-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add category as first argument in pre functions
  CAP/gap/MethodRecord.gi
Due: CAP

Warn about compilation of operations of unfinalized categories
  CompilerForCAP/gap/ResolveOperations.gi
Due: CompilerForCAP

Fix documentation
  CompilerForCAP/gap/InferDataTypes.gd
Due: CompilerForCAP

Use data types for input and output sanity checks
  CAP/gap/CategoriesCategory.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CAP/gap/ToolsForCategories_AfterLoading.gi
  CAP/gap/WrapperCategory.gi
  CAP/tst/CAP_INTERNAL_ASSERT_VALUE_IS_OF_TYPE_GETTER.tst
  FreydCategoriesForCAP/gap/CoFreydCategoryAsOppositeOfFreydCategoryOfOpposite.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: CAP, FreydCategoriesForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, CompilerForCAP, FreydCategoriesForCAP

Update website for CAP 2023.03-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.03-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2023.03-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Add warning about using the filter `IsString` for data types
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
  CAP/tst/CAP_INTERNAL_ASSERT_VALUE_IS_OF_TYPE_GETTER.tst
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gd
Due: CAP, CompilerForCAP

Clean up variable names after hoisting and deduplication
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CleanUpHoistedAndDeduplicatedExpressions.gd
  CompilerForCAP/gap/CleanUpHoistedAndDeduplicatedExpressions.gi
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/init.g
  CompilerForCAP/read.g
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfHomalgExteriorRingOverFieldPrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CAP 2023.03-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.03-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for CompilerForCAP 2023.03-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2023.03-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2023.03-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Avoid fusing deduplicated loops
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CompilerForCAP, LinearAlgebraForCAP

Extend heuristic for length of loops
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CompilerForCAP, LinearAlgebraForCAP

Update website for CompilerForCAP 2023.03-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for LinearAlgebraForCAP 2023.03-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for CompilerForCAP 2023.03-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for LinearAlgebraForCAP 2023.03-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Introduce type "list_of_lists_of_morphisms"
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
  CAP/gap/ToolsForCategories.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, LinearAlgebraForCAP

Update website for CAP 2023.03-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for LinearAlgebraForCAP 2023.03-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Always test filters in CAP_INTERNAL_ASSERT_VALUE_IS_OF_TYPE_GETTER
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2023.03-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Fix two typos
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategoriesProperties.gd
Due: CartesianCategories

Rename CAP_INTERNAL_REPLACE_STRING* -> CAP_INTERNAL_REPLACED_STRING*
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
  CAP/gap/LimitConvenience.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CartesianCategories 2023.03-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CAP 2023.03-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

List final derivations in DerivationsOfMethodByCategory
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
Due: CAP
