Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CAP 2022.08-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12.txt
  CAP/doc/chap12_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2022.08-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.08-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2022.08-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

the compiler needs the empty types for IsInitialCategory
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/InitialCategory.gd
  CartesianCategories/gap/InitialCategory.gi
Due: CartesianCategories

Add example modeling Opposite( CategoryOfRows ) as CategoryOfColumns
  FreydCategoriesForCAP/examples/OppositeOfCategoryOfRowsAsCategoryOfColumns.g
Due: FreydCategoriesForCAP

Bump versions
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for FreydCategoriesForCAP 2022.08-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.08-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for CartesianCategories 2022.08-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Improve error message
  CAP/gap/ToolsForCategories.gi
Due: CAP

Make clear that non-dense lists are not supported
  CompilerForCAP/doc/Usage.autodoc
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CompilerForCAP, MonoidalCategories

Turn PreComposeList and PostComposeList into CAP operations
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CartesianCategories/examples/InitialCategory.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/examples/TerminalCategory.g
  MonoidalCategories/examples/TerminalCategoryWithMultipleObjects.g
Due: CAP, CartesianCategories, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP, MonoidalCategories

Clean up logic functions
  CompilerForCAP/gap/Logic.gi
Due: CompilerForCAP

Update website for CAP 2022.08-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.08-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for MonoidalCategories 2022.08-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Use result_func instead of pre_func in CapJitResolvedOperations
  CompilerForCAP/gap/ResolveOperations.gi
Due: CompilerForCAP

Add logic for accessing the last element of a literal list
  CompilerForCAP/examples/Logic.g
  CompilerForCAP/gap/Logic.gi
Due: CompilerForCAP

Bump version
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

Better handling of logic template variables
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/LogicTemplates.gd
  CompilerForCAP/gap/LogicTemplates.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.08-07
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Relax plausibility check in WrapperCategory
  CAP/PackageInfo.g
  CAP/gap/WrapperCategory.gi
Due: CAP

Update website for CAP 2022.08-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Add CoFreydCategory(AsOppositeOfFreydCategoryOfOpposite)
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/PrecompileCoFreydCategoryAsOppositeOfFreydCategoryOfOpposite.g
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/CoFreydCategory.g
  FreydCategoriesForCAP/gap/CoFreydCategory.gd
  FreydCategoriesForCAP/gap/CoFreydCategory.gi
  FreydCategoriesForCAP/gap/CoFreydCategoryAsOppositeOfFreydCategoryOfOpposite.gd
  FreydCategoriesForCAP/gap/CoFreydCategoryAsOppositeOfFreydCategoryOfOpposite.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CoFreydCategoryAsOppositeOfFreydCategoryOfOppositePrecompiled.gi
  FreydCategoriesForCAP/init.g
  FreydCategoriesForCAP/read.g
Due: CompilerForCAP, FreydCategoriesForCAP

Update website for CompilerForCAP 2022.08-08
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.08-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Make Codecov wait until all reports have been uploaded before commenting
  .codecov.yml
  upload_codecov.sh
Due: none

AddObject/MorphismConstructor/Datum in AdditiveClosure
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.08-06
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Remove obsolete occurrences of ReadPackage
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/init.g
  ActionsForCAP/read.g
  CAP/PackageInfo.g
  CAP/init.g
  CAP/read.g
  CartesianCategories/PackageInfo.g
  CartesianCategories/read.g
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/init.g
  ModulePresentationsForCAP/read.g
Due: CAP, ActionsForCAP, CartesianCategories, ModulePresentationsForCAP

add LaTeXOutput methods to additive closure categories
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Comment obsolete profiling commands
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/examples/IndirectionTest.g
Due: ActionsForCAP

Update website for CAP 2022.08-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12_mj.html
  CAP/doc/manual.js
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2022.08-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/README.md
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/manual.js
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for CartesianCategories 2022.08-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  CartesianCategories/doc/manual.js
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for ModulePresentationsForCAP 2022.08-03
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/manual.js
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for ActionsForCAP 2022.08-02
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/chap1.html
  ActionsForCAP/doc/chap1.txt
  ActionsForCAP/doc/chap1_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for FreydCategoriesForCAP 2022.08-07
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  FreydCategoriesForCAP/doc/manual.js
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
