Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Do not install predicates for matrix category when overhead is disabled
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
Due: LinearAlgebraForCAP

Add comment why saturation is required in Finalize
  CAP/gap/Finalize.gi
Due: CAP

Speed up OperationWeightUsingDerivation
  CAP/gap/Derivations.gi
Due: CAP

Speed up Reevaluate for operation weight lists
  CAP/gap/Derivations.gi
Due: CAP

Do not install derivation if it is already installed
  CAP/gap/Derivations.gi
  CompilerForCAP/examples/LinearAlgebraForCAP.g
Due: CAP, CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CAP, CompilerForCAP, LinearAlgebraForCAP

Update website for CAP 2022.08-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.08-12
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for LinearAlgebraForCAP 2022.08-06
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Add plausibility check to CapInternalInstallAdd
  CAP/gap/InstallAdds.gi
Due: CAP

Adjust names in final derivations to those in normal derivations
  CAP/gap/Finalize.gi
Due: CAP

Improve CAP_INTERNAL_FIND_APPEARANCE_OF_SYMBOL_IN_FUNCTION
  CAP/gap/ToolsForCategories.gi
Due: CAP

Remove obsolete alternative installation mode for derivations
  CAP/gap/Derivations.gi
Due: CAP

Handle existing appearances in CAP_INTERNAL_REPLACE_ADDITIONAL_SYMBOL_APPEARANCE
  CAP/gap/ToolsForCategories.gi
Due: CAP

Remove unused and undocumented global functions
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Add plausibility check to CAP_INTERNAL_FIND_APPEARANCE_OF_SYMBOL_IN_FUNCTION
  CAP/gap/ToolsForCategories.gi
Due: CAP

Remove deprecated operations
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
Due: CAP

Add comment to CAP_INTERNAL_FINAL_DERIVATION_SANITY_CHECK
  CAP/gap/Finalize.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2022.09-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Display warning if the given preconditions of a derivation to not match the automatically detected ones
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/DerivedMethods.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, LinearAlgebraForCAP

Allow to specify other categories in the preconditions of derivations
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/DerivedMethods.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, LinearAlgebraForCAP

Bump versions
  CAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CAP, LinearAlgebraForCAP

Update website for CAP 2022.09-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for LinearAlgebraForCAP 2022.09-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Fix preconditions of some derivations
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, LinearAlgebraForCAP

Update website for CAP 2022.09-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for LinearAlgebraForCAP 2022.09-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Install convenience for MorphismBetweenDirectSums with given category
  CAP/gap/UniversalObjects.gi
Due: CAP

Allow to automatically detect operations of other categories in derivations
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/PrepareFunctions.gi
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CAP, CompilerForCAP

Temporarily enhance CAP_INTERNAL_MERGE_PRECONDITIONS_LIST to support lists of length 2
  CAP/gap/ToolsForCategories.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Update website for CAP 2022.09-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.09-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Install final derivations sequentially
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  FreydCategoriesForCAP/gap/FreydCategoriesDerivedMethods.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
Due: CAP, CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CAP 2022.09-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2022.09-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2022.09-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Bump versions missed in the last PR
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for FreydCategoriesForCAP 2022.09-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP
