Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Do not rely on AddPrimitiveOperation when installing final derivations
  CAP/gap/Finalize.gi
  CAP/gap/InstallAdds.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2024.09-24
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Defer triggering derivations until `Finalize`
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/examples/IndirectionTest.g
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
  CAP/gap/InstallAdds.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
Due: CAP, ActionsForCAP, FreydCategoriesForCAP

Update website for CAP 2024.09-25
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2024.09-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/chap1.html
  ActionsForCAP/doc/chap1.txt
  ActionsForCAP/doc/chap1_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for FreydCategoriesForCAP 2024.09-09
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Move exception for thin categories to a different place
  CAP/gap/InstallAdds.gi
Due: CAP

Move computability check to the end of `Finalize`
  CAP/PackageInfo.g
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2024.09-26
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Remove obsolete check
  CAP/PackageInfo.g
  CAP/gap/Finalize.gi
Due: CAP

Simplify handling of `disable_derivations` option
  CAP/gap/CAP.gi
  CAP/gap/Finalize.gi
  CompilerForCAP/tst/generate_opposite_derivations.tst
Due: CAP, CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Rename `MakeDerivation` to `CreateDerivation
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Use `CanCompute` at more places
  ActionsForCAP/gap/ActionsCategory.gi
  ActionsForCAP/gap/CoactionsCategory.gi
  CAP/gap/ProductCategory.gi
  ComplexesAndFilteredObjectsForCAP/gap/CocomplexCategory.gi
  ComplexesAndFilteredObjectsForCAP/gap/FilteredObjects.gi
  ComplexesAndFilteredObjectsForCAP/gap/ZFunctors.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryBySpans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByThreeArrows.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByCospans.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsBySpans.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByThreeArrows.gi
Due: CAP, ActionsForCAP, ComplexesAndFilteredObjectsForCAP, GeneralizedMorphismsForCAP

Simplify AddPrimitiveOperation and improve DerivationInfo
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Bump versions
  ActionsForCAP/PackageInfo.g
  CAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
Due: CAP, ActionsForCAP, ComplexesAndFilteredObjectsForCAP, GeneralizedMorphismsForCAP

Update website for CAP 2024.09-28
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.09-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for CAP 2024.09-29
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2024.09-02
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2024.09-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for GeneralizedMorphismsForCAP 2024.09-03
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Remove obsolete warning
  CAP/gap/InstallAdds.gi
Due: CAP

Simplify a case distinction
  CAP/gap/Derivations.gi
Due: CAP

Move final derivations to Derivations.gi
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gd
  CAP/gap/Finalize.gi
Due: CAP

Better keep track of the type of operations added to a category
  CAP/gap/CAP.gi
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/InstallAdds.gi
Due: CAP

Improve nomenclature
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CompilerForCAP/tst/generate_opposite_derivations.tst
Due: CAP, CompilerForCAP

Replace primitive_operations by the new operation info
  CAP/gap/CAP.gi
  CAP/gap/Derivations.gi
  CAP/gap/InstallAdds.gi
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CAP, CompilerForCAP

Adjust generate_opposite_derivations.tst to recent changes
  CompilerForCAP/tst/generate_opposite_derivations.tst
Due: CompilerForCAP

Move List(Primitively)InstalledOperationsOfCategory
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
Due: CAP

Introduce OperationWeight
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecordTools.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/ReinterpretationOfCategory.gi
  CompilerForCAP/gap/PrecompileCategory.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: CAP, CompilerForCAP, FreydCategoriesForCAP

Update website for CAP 2024.10-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.10-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Create operation weight list right before triggering derivations
  CAP/gap/CAP.gi
  CAP/gap/Derivations.gi
  CompilerForCAP/tst/generate_opposite_derivations.tst
Due: CAP, CompilerForCAP

Simplify DerivationsOfMethodByCategory
  CAP/gap/Derivations.gi
Due: CAP

Use new operation info at more places
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CompileCAPOperation.gi
Due: CAP, CompilerForCAP

Update website for CAP 2024.10-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP
