Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

CapJitAddTypeSignature( "^", [ IsInt, IsPerm ], IsInt )
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/tst/CapJitTypedExpression.tst
Due: CompilerForCAP

CapJitAddTypeSignature( "OrbitsPerms", ... )
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/tst/CapJitTypedExpression.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2026.06-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Revert "Generalized the type of the 3- and 4-argument version of Iterated"
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CAP, CompilerForCAP

Update website for CAP 2026.06-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2026.06-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

d&i IteratedListOfActions
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/DropUnusedBindings.gi
  CompilerForCAP/gap/HoistExpressions.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/Logic.gi
Due: CAP, CompilerForCAP

Update website for CAP 2026.06-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2026.06-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add FinalizeCategory option to InitialCategory
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/InitialCategory.gi
Due: CartesianCategories

Add DisplayString for rows, cols and (Co)Freyd
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/CategoryOfColumns.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CoFreydCategory.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Update website for CartesianCategories 2026.06-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chooser.html
  CartesianCategories/doc/dark.css
  CartesianCategories/doc/manual.css
  CartesianCategories/doc/manual.js
  _data/CartesianCategories.yml
Due: CartesianCategories

Make linear closure constructor accept filters
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Update website for AdditiveClosuresForCAP 2026.06-02
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chooser.html
  AdditiveClosuresForCAP/doc/dark.css
  AdditiveClosuresForCAP/doc/manual.css
  AdditiveClosuresForCAP/doc/manual.js
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for FreydCategoriesForCAP 2026.06-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chooser.html
  FreydCategoriesForCAP/doc/dark.css
  FreydCategoriesForCAP/doc/manual.css
  FreydCategoriesForCAP/doc/manual.js
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearClosuresForCAP 2026.06-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  LinearClosuresForCAP/doc/chooser.html
  LinearClosuresForCAP/doc/dark.css
  LinearClosuresForCAP/doc/manual.css
  LinearClosuresForCAP/doc/manual.js
  _data/LinearClosuresForCAP.yml
Due: none

FreydCategoriesForCAP: comment out LaTeXOutput for Julia
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2026.06-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

CAP: Add FinalizeCategory option to Opposite
  CAP/gap/OppositeCategory.gi
Due: CAP

Install SetOfObjects for WasCreatedAsOppositeCategory
  CAP/PackageInfo.g
  CAP/gap/CategoryObjectsOperations.gi
Due: CAP

Update website for CAP 2026.06-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chooser.html
  CAP/doc/dark.css
  CAP/doc/manual.css
  CAP/doc/manual.js
  _data/CAP.yml
Due: CAP

Apply PackageJanitor
  ActionsForCAP/makefile
  AdditiveClosuresForCAP/makefile
  AttributeCategoryForCAP/makefile
  CAP/makefile
  CartesianCategories/makefile
  CompilerForCAP/makefile
  ComplexesAndFilteredObjectsForCAP/makefile
  FreydCategoriesForCAP/makefile
  GeneralizedMorphismsForCAP/makefile
  GradedModulePresentationsForCAP/makefile
  GroupRepresentationsForCAP/makefile
  GroupsAsCategoriesForCAP/makefile
  HomologicalAlgebraForCAP/makefile
  InternalExteriorAlgebraForCAP/makefile
  LinearAlgebraForCAP/makefile
  LinearClosuresForCAP/makefile
  ModulePresentationsForCAP/makefile
  ModulesOverLocalRingsForCAP/makefile
  MonoidalCategories/makefile
  ToricSheaves/makefile
  dev/match_tst_to_examples.py
  makefile
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Bump versions after applying PJ
  ActionsForCAP/PackageInfo.g
  AdditiveClosuresForCAP/PackageInfo.g
  AttributeCategoryForCAP/PackageInfo.g
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  LinearClosuresForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
  ToricSheaves/PackageInfo.g
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CAP 2026.06-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2026.06-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/chooser.html
  ActionsForCAP/doc/dark.css
  ActionsForCAP/doc/manual.css
  ActionsForCAP/doc/manual.js
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AdditiveClosuresForCAP 2026.06-03
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for AttributeCategoryForCAP 2026.06-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  AttributeCategoryForCAP/doc/chooser.html
  AttributeCategoryForCAP/doc/dark.css
  AttributeCategoryForCAP/doc/manual.css
  AttributeCategoryForCAP/doc/manual.js
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CartesianCategories 2026.06-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2026.06-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chooser.html
  CompilerForCAP/doc/dark.css
  CompilerForCAP/doc/manual.css
  CompilerForCAP/doc/manual.js
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2026.06-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  ComplexesAndFilteredObjectsForCAP/doc/chooser.html
  ComplexesAndFilteredObjectsForCAP/doc/dark.css
  ComplexesAndFilteredObjectsForCAP/doc/manual.css
  ComplexesAndFilteredObjectsForCAP/doc/manual.js
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for FreydCategoriesForCAP 2026.06-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2026.06-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  GeneralizedMorphismsForCAP/doc/chap1.html
  GeneralizedMorphismsForCAP/doc/chap1.txt
  GeneralizedMorphismsForCAP/doc/chap1_mj.html
  GeneralizedMorphismsForCAP/doc/chap2.html
  GeneralizedMorphismsForCAP/doc/chap2.txt
  GeneralizedMorphismsForCAP/doc/chap2_mj.html
  GeneralizedMorphismsForCAP/doc/chap3.html
  GeneralizedMorphismsForCAP/doc/chap3.txt
  GeneralizedMorphismsForCAP/doc/chap3_mj.html
  GeneralizedMorphismsForCAP/doc/chap4.html
  GeneralizedMorphismsForCAP/doc/chap4.txt
  GeneralizedMorphismsForCAP/doc/chap4_mj.html
  GeneralizedMorphismsForCAP/doc/chap7.html
  GeneralizedMorphismsForCAP/doc/chap7.txt
  GeneralizedMorphismsForCAP/doc/chap7_mj.html
  GeneralizedMorphismsForCAP/doc/chooser.html
  GeneralizedMorphismsForCAP/doc/dark.css
  GeneralizedMorphismsForCAP/doc/manual.css
  GeneralizedMorphismsForCAP/doc/manual.js
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2026.06-02
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chooser.html
  GradedModulePresentationsForCAP/doc/dark.css
  GradedModulePresentationsForCAP/doc/manual.css
  GradedModulePresentationsForCAP/doc/manual.js
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2026.06-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chooser.html
  GroupRepresentationsForCAP/doc/dark.css
  GroupRepresentationsForCAP/doc/manual.css
  GroupRepresentationsForCAP/doc/manual.js
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for GroupsAsCategoriesForCAP 2026.06-01
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  GroupsAsCategoriesForCAP/doc/chooser.html
  GroupsAsCategoriesForCAP/doc/dark.css
  GroupsAsCategoriesForCAP/doc/manual.css
  GroupsAsCategoriesForCAP/doc/manual.js
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Update website for HomologicalAlgebraForCAP 2026.06-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  HomologicalAlgebraForCAP/doc/chooser.html
  HomologicalAlgebraForCAP/doc/dark.css
  HomologicalAlgebraForCAP/doc/manual.css
  HomologicalAlgebraForCAP/doc/manual.js
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for InternalExteriorAlgebraForCAP 2026.06-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  InternalExteriorAlgebraForCAP/doc/chooser.html
  InternalExteriorAlgebraForCAP/doc/dark.css
  InternalExteriorAlgebraForCAP/doc/manual.css
  InternalExteriorAlgebraForCAP/doc/manual.js
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2026.06-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chooser.html
  LinearAlgebraForCAP/doc/dark.css
  LinearAlgebraForCAP/doc/manual.css
  LinearAlgebraForCAP/doc/manual.js
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for LinearClosuresForCAP 2026.06-02
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

Update website for ModulePresentationsForCAP 2026.06-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/chooser.html
  ModulePresentationsForCAP/doc/dark.css
  ModulePresentationsForCAP/doc/manual.css
  ModulePresentationsForCAP/doc/manual.js
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
