Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Introduce IsomorphismFromEqualizerToKernelOfPairwiseDifferencesOfMorphismsIntoDirectProduct
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Remove previous derivations of DirectSumDiagonalDifference
  CAP/gap/DerivedMethods.gi
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, LinearAlgebraForCAP

improved documentation
  CompilerForCAP/doc/Extension.autodoc
Due: CompilerForCAP

added ENHANCED_SYNTAX_TREE_CODE to the debugging hints
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/Extension.autodoc
Due: CompilerForCAP

Update website for CAP 2022.12-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

install methods for Julia if JuliaInterface is marked for loading
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CompilerForCAP 2022.12-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add some asserts
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecord.gi
Due: CAP

Update website for CAP 2022.12-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2022.12-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

let Display print InfoOfInstalledOperationsOfCategory
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/CAP.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InitialCategory.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/examples/CohP1.g
Due: CAP, CartesianCategories, GradedModulePresentationsForCAP

Update website for CartesianCategories 2022.12-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for GradedModulePresentationsForCAP 2022.12-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1.txt
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

added missing adjustments of version dependency in 3fbe5736 and a89bd3c8d
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CAP, CartesianCategories, GradedModulePresentationsForCAP, LinearAlgebraForCAP

added type signature for UnionOfRows/UnionOfColumns for two matrices
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

added type signature and logic for BasisOfRows/BasisOfColumns
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CompilerForCAP, LinearAlgebraForCAP

Update website for CAP 2022.12-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2022.12-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for GradedModulePresentationsForCAP 2022.12-02
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for LinearAlgebraForCAP 2022.12-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

added more type signatures
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.12-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Delete some obsolete files
  delete_old_releases.py
  load_cap_sheaves.g
  load_sheaves_cap.g
  makefile
Due: none

Remove empty .gitmodules
  .gitmodules
Due: none

installed derivations for Abelian categories
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP

Fix output_source/range_getter_string of (Co)EqualizerFunctorial
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
Due: CAP

Update website for CAP 2022.12-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Add(Co)ImageObject, AddImageEmbedding/CoimageProjectionWithGiven*
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfFieldPrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: FreydCategoriesForCAP, LinearAlgebraForCAP

Move check of category filter to creation time of derivation
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
Due: CAP

Update website for FreydCategoriesForCAP 2022.12-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.12-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for CAP 2022.12-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Some minor performance optimizations
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
  CAP/gap/MethodRecord.gi
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gi
Due: CAP, FreydCategoriesForCAP

Do not enhance method name records multiple times
  CAP/gap/InstallAdds.gi
Due: CAP

Remove obsolete documentation
  CAP/doc/AddFunctions.autodoc
Due: CAP

Make CI fail on errors during makedoc.g
  ActionsForCAP/makefile
  AttributeCategoryForCAP/makefile
  CAP/makefile
  CartesianCategories/makefile
  CompilerForCAP/makefile
  ComplexesAndFilteredObjectsForCAP/makefile
  DeductiveSystemForCAP/makefile
  FreydCategoriesForCAP/makefile
  GeneralizedMorphismsForCAP/makefile
  GradedModulePresentationsForCAP/makefile
  GroupRepresentationsForCAP/makefile
  HomologicalAlgebraForCAP/makefile
  InternalExteriorAlgebraForCAP/makefile
  LinearAlgebraForCAP/makefile
  ModulePresentationsForCAP/makefile
  ModulesOverLocalRingsForCAP/makefile
  MonoidalCategories/makefile
  ToricSheaves/makefile
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Introduce CreateCapCategoryWithDataTypes
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/CategoriesCategory.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/InferDataTypes.gi
Due: CAP, CompilerForCAP

Use CreateCapCategoryWithDataTypes for MatrixCategory
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
Due: LinearAlgebraForCAP

Bump versions
  ActionsForCAP/PackageInfo.g
  AttributeCategoryForCAP/PackageInfo.g
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  DeductiveSystemForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
  ToricSheaves/PackageInfo.g
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CAP 2022.12-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP
