Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for MonoidalCategories 2022.06-05
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

removed Mario as author of CartesianCategories
  CartesianCategories/PackageInfo.g
Due: CartesianCategories

Update website for CartesianCategories 2022.06-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Derive MorphismFromInternalHomToTensorProduct from the inverse of the compatibility morphism
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
Due: MonoidalCategories

Replace "x" by "⊗" and "->" by "→" in comments
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: MonoidalCategories

Bump version
  MonoidalCategories/PackageInfo.g
Due: MonoidalCategories

Use "×" and "⊔" in CartesianCategories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesTest.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gi
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/Tools.gi
Due: CartesianCategories

Update website for MonoidalCategories 2022.06-06
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Do not hoist/deduplicate expressions in proof assistant mode
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.06-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

taught CAP about BinaryDirectProduct/BinaryCoproduct
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategoriesProperties.gd
  CartesianCategories/gap/CocartesianCategoriesProperties.gd
Due: CartesianCategories

Update website for CartesianCategories 2022.06-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Set categorical properties of opposite category even if logic is disabled
  CAP/PackageInfo.g
  CAP/gap/OppositeCategory.gi
Due: CAP

whitespaces
  MonoidalCategories/gap/MonoidalCategories.gd
Due: MonoidalCategories

enhanced method record entries
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
Due: MonoidalCategories

enhanced method record entries
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
Due: MonoidalCategories

Regenerated CartesianCategories
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianCategories.gd
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
Due: CartesianCategories

Update website for CAP 2022.06-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for MonoidalCategories 2022.06-07
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Comply with https://github.com/homalg-project/homalg_project/pull/479
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/gap/SemisimpleCategoryMorphisms.gd
  GroupRepresentationsForCAP/gap/SemisimpleCategoryMorphisms.gi
  GroupRepresentationsForCAP/gap/SemisimpleCategoryObjects.gd
  GroupRepresentationsForCAP/gap/SemisimpleCategoryObjects.gi
  GroupRepresentationsForCAP/gap/Tools.gi
Due: FreydCategoriesForCAP, GroupRepresentationsForCAP

Add LaTeXOutput methods for LinearAlgebraForCAP (similar to those of category of rows)
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gi
  LinearAlgebraForCAP/gap/MatrixCategoryObject.gi
Due: LinearAlgebraForCAP

Update website for FreydCategoriesForCAP 2022.06-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GroupRepresentationsForCAP 2022.06-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chap2.html
  GroupRepresentationsForCAP/doc/chap2.txt
  GroupRepresentationsForCAP/doc/chap2_mj.html
  GroupRepresentationsForCAP/doc/chapInd.html
  GroupRepresentationsForCAP/doc/chapInd.txt
  GroupRepresentationsForCAP/doc/chapInd_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2022.06-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Make filter for RingAsCategoryMorphism more specific
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

Print warning when resolving known methods with additional matching GAP methods
  CompilerForCAP/gap/ResolveOperations.gi
Due: CompilerForCAP

Bump versions
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CompilerForCAP, FreydCategoriesForCAP

Update website for CompilerForCAP 2022.07-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.07-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Reverse RecNames 50% of the time to detect code relying on the order of RecNames
  CompilerForCAP/tst/testall.g
Due: CompilerForCAP

Fix type signature of UnderlyingRingElement
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.07-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Fix coverage paths manually
  .codecov.yml
  .github/workflows/Tests.yml
  process_coverage.py
Due: none

Apply PackageJanitor
  ActionsForCAP/README.md
  ActionsForCAP/tst/testall.g
  AttributeCategoryForCAP/README.md
  AttributeCategoryForCAP/tst/testall.g
  CAP/README.md
  CAP/tst/testall.g
  CartesianCategories/README.md
  CartesianCategories/tst/testall.g
  CompilerForCAP/README.md
  ComplexesAndFilteredObjectsForCAP/README.md
  ComplexesAndFilteredObjectsForCAP/tst/testall.g
  DeductiveSystemForCAP/README.md
  DeductiveSystemForCAP/tst/testall.g
  FreydCategoriesForCAP/README.md
  FreydCategoriesForCAP/tst/testall.g
  GeneralizedMorphismsForCAP/README.md
  GeneralizedMorphismsForCAP/tst/testall.g
  GradedModulePresentationsForCAP/README.md
  GradedModulePresentationsForCAP/tst/testall.g
  GroupRepresentationsForCAP/README.md
  GroupRepresentationsForCAP/tst/testall.g
  HomologicalAlgebraForCAP/README.md
  HomologicalAlgebraForCAP/tst/testall.g
  InternalExteriorAlgebraForCAP/README.md
  InternalExteriorAlgebraForCAP/tst/testall.g
  LinearAlgebraForCAP/README.md
  LinearAlgebraForCAP/tst/testall.g
  ModulePresentationsForCAP/README.md
  ModulePresentationsForCAP/tst/testall.g
  ModulesOverLocalRingsForCAP/README.md
  ModulesOverLocalRingsForCAP/tst/testall.g
  MonoidalCategories/README.md
  MonoidalCategories/makedoc_with_overfull_hbox_warnings.g
  MonoidalCategories/tst/testall.g
  README.md
  ToricSheaves/README.md
  ToricSheaves/tst/testall.g
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

renamed @Chapter Examples and Tests -> @Chapter Test functions
  CartesianCategories/doc/Doc.autodoc
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianClosedCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gd
  CartesianCategories/gap/CodistributiveCocartesianCategoriesTest.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesTest.gd
Due: CartesianCategories

removed obsolete local variable declaration
  CartesianCategories/doc/Doc.autodoc
  CartesianCategories/examples/InitialCategory.g
  MonoidalCategories/gap/TerminalCategory.gi
Due: CartesianCategories, MonoidalCategories

host InitialCategory
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/InitialCategory.gd
  CartesianCategories/gap/InitialCategory.gi
  CartesianCategories/init.g
  CartesianCategories/read.g
Due: CartesianCategories

Update website for CartesianCategories 2022.08-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/README.md
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

CapJitAddTypeSignature in WrapperCategory
  CAP/PackageInfo.g
  CAP/gap/WrapperCategory.gd
Due: CAP
