Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Bump versions
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CompilerForCAP, FreydCategoriesForCAP

Update website for CompilerForCAP 2022.09-14
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.09-09
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Adjust to https://github.com/homalg-project/homalg_project/pull/527
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/DummyCategory.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/LimitConvenience.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/OppositeCategory.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompileCAPOperation.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/TerminalCategory.gi
Due: CAP, CompilerForCAP, MonoidalCategories

Generalize data types of QPA operations
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CAP 2022.09-18
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.09-15
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for MonoidalCategories 2022.09-09
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CompilerForCAP 2022.09-16
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Convert more AutoDoc tests to tst files
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/CapJitDroppedUnusedBindings.g
  CompilerForCAP/examples/CapJitEnableProofAssistantMode.g
  CompilerForCAP/examples/CapJitEnableStepByStepCompilation.g
  CompilerForCAP/examples/CapJitHoistedExpressions.g
  CompilerForCAP/tst/CapJitDroppedUnusedBindings.tst
  CompilerForCAP/tst/CapJitEnableProofAssistantMode.tst
  CompilerForCAP/tst/CapJitEnableStepByStepCompilation.tst
  CompilerForCAP/tst/CapJitHoistedExpressions.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2022.09-17
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Remove obsolete example
  CompilerForCAP/examples/EXPR_CASE.g
Due: CompilerForCAP

Allow to extract expensive operations from loops
  CompilerForCAP/TODO
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/HoistExpressions.gd
  CompilerForCAP/gap/HoistExpressions.gi
  CompilerForCAP/tst/loop_extraction.tst
Due: CompilerForCAP

Drop handled edge cases after post-processing simplifications
  CompilerForCAP/gap/CompilerForCAP.gi
Due: CompilerForCAP

Introduce *WithKeys
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CAP/tst/ListWithKeys.tst
Due: CAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Introduce SafePositionProperty
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/DropUnusedBindings.gi
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/HoistExpressions.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/InlineBindings.gi
  CompilerForCAP/gap/InlineFunctionCalls.gi
  CompilerForCAP/gap/Logic.gi
Due: CAP, CompilerForCAP

Update website for CAP 2022.09-19
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.09-18
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for CAP 2022.09-20
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.09-19
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add LazyHList to the ignore list of CapJitExtractedExpensiveOperationsFromLoops
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/HoistExpressions.gi
Due: CompilerForCAP

Apply PackageJanitor
  .github/workflows/Tests.yml
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/makefile
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/makefile
  CAP/PackageInfo.g
  CAP/makefile
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/InitialCategory.gd
  CartesianCategories/gap/InitialCategory.gi
  CartesianCategories/makefile
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/makefile
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/makefile
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/makefile
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/makefile
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/makefile
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/makefile
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/makefile
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/makefile
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/makefile
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/makefile
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/makefile
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/makefile
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/makefile
  ToricSheaves/PackageInfo.g
  ToricSheaves/makefile
  process_coverage.py
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CompilerForCAP 2022.09-20
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for CAP 2022.09-21
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2022.09-02
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AttributeCategoryForCAP 2022.09-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/README.md
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  AttributeCategoryForCAP/doc/manual.js
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CartesianCategories 2022.09-08
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2022.09-21
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2022.09-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/README.md
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  ComplexesAndFilteredObjectsForCAP/doc/manual.js
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for DeductiveSystemForCAP 2022.09-01
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/README.md
  DeductiveSystemForCAP/doc/chap0.html
  DeductiveSystemForCAP/doc/chap0.txt
  DeductiveSystemForCAP/doc/chap0_mj.html
  DeductiveSystemForCAP/doc/manual.js
  _data/DeductiveSystemForCAP.yml
Due: DeductiveSystemForCAP

Update website for FreydCategoriesForCAP 2022.09-10
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2022.09-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2022.09-02
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2022.09-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/README.md
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/manual.js
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for HomologicalAlgebraForCAP 2022.09-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/README.md
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  HomologicalAlgebraForCAP/doc/manual.js
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for InternalExteriorAlgebraForCAP 2022.09-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/README.md
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  InternalExteriorAlgebraForCAP/doc/manual.js
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2022.09-12
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2022.09-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for ModulesOverLocalRingsForCAP 2022.09-01
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/README.md
  ModulesOverLocalRingsForCAP/doc/chap0.html
  ModulesOverLocalRingsForCAP/doc/chap0.txt
  ModulesOverLocalRingsForCAP/doc/chap0_mj.html
  ModulesOverLocalRingsForCAP/doc/manual.js
  _data/ModulesOverLocalRingsForCAP.yml
Due: ModulesOverLocalRingsForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
