Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Wrap functions in immediate function calls in IdFunc for Julia
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/tst/EXPR_CASE.tst
Due: CompilerForCAP

Make CategoryConstructor compatible with Julia
  CAP/gap/CategoryConstructor.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Make OppositeCategory compatible with Julia
  CAP/gap/OppositeCategory.gi
Due: CAP

Make WrapperCategory compatible with Julia
  CAP/gap/WrapperCategory.gd
  CAP/gap/WrapperCategory.gi
Due: CAP

Update website for CAP 2022.11-17
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12.txt
  CAP/doc/chap12_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.11-10
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

adjust the current derivations of random morphisms by integers to return 'simpler' outputs
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/DerivedMethods.gi
Due: CAP

added derivation methods to random morphisms by lists
  CAP/PackageInfo.g
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/DerivedMethods.gi
Due: CAP

added only 4 random methods to CategoryOfRows so that the rest can be derived
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: FreydCategoriesForCAP

Update website for CAP 2022.11-18
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  _data/CAP.yml
Due: CAP

Typos and move categorical properties of InitialCategory
  CartesianCategories/gap/InitialCategory.gd
  CartesianCategories/gap/InitialCategoryProperties.gd
  CartesianCategories/init.g
  CartesianCategories/read.g
Due: CartesianCategories

Defer creation of CapCat and TerminalCategory
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CAP/gap/CategoriesCategory.gd
  CAP/gap/CategoriesCategory.gi
  CAP/gap/TerminalCategory.gd
  CAP/gap/TerminalCategory.gi
  CAP/gap/UniversalObjects.gd
  CAP/gap/init.gi
  CAP/read.g
Due: CAP

Update website for CAP 2022.11-19
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Merge the terminal categories
  CAP/PackageInfo.g
  CAP/gap/TerminalCategory.gd
  CAP/gap/TerminalCategory.gi
  CAP/init.g
  CAP/read.g
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/TerminalCategory.gd
  MonoidalCategories/gap/TerminalCategory.gi
  MonoidalCategories/init.g
  MonoidalCategories/read.g
Due: CAP, MonoidalCategories

added random methods to RingAsCategory
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

added random methods to AdditiveClosure category
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/tst/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.tst
Due: FreydCategoriesForCAP

added final derivation bundle for random methods by lists
  CAP/gap/DerivedMethods.gi
Due: CAP

Apply PackageJanitor
  FreydCategoriesForCAP/makefile
  FreydCategoriesForCAP/tst/testall_no_precompiled_code.g
  LinearAlgebraForCAP/makefile
  LinearAlgebraForCAP/tst/testall_no_precompiled_code.g
  ModulePresentationsForCAP/makefile
  ModulePresentationsForCAP/tst/testall_no_precompiled_code.g
Due: FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

changed the specification of RandomObjectByList in additive closures
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/tst/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.tst
Due: FreydCategoriesForCAP

Update website for CAP 2022.11-20
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap10.html
  CAP/doc/chap10_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12_mj.html
  CAP/doc/chap13.html
  CAP/doc/chap13_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3_mj.html
  CAP/doc/chap4.html
  CAP/doc/chap4_mj.html
  CAP/doc/chap5.html
  CAP/doc/chap5_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for MonoidalCategories 2022.11-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for FreydCategoriesForCAP 2022.11-13
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap2.html
  FreydCategoriesForCAP/doc/chap2.txt
  FreydCategoriesForCAP/doc/chap2_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Clean up terminal category
  CAP/gap/TerminalCategory.gd
  CAP/gap/TerminalCategory.gi
  CAP/gap/init.gi
  CAP/read.g
Due: CAP

Do not create CapCat in Julia
  CAP/gap/init.gi
Due: CAP

Fix final derivation bundle for Random*ByList for Julia
  CAP/gap/DerivedMethods.gi
Due: CAP

Avoid constructing CAP_INTERNAL_TERMINAL_CATEGORY
  CAP/gap/CategoriesCategory.gi
  CAP/gap/TerminalCategory.gd
  CAP/gap/init.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2022.11-21
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

CapJitAddTypeSignature( "LazyArray", [ IsInt, IsFunction ], ... )
  CompilerForCAP/gap/HoistExpressions.gi
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

added CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD.IsCategoryWithDecidable(Co)Lifts
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/CAP.gd
  CAP/gap/ConstructiveCategoriesRecord.gi
  CAP/gap/DerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/examples/TerminalCategory.g
Due: CAP, MonoidalCategories

Create types in Derivations.gi only once
  CAP/gap/Derivations.gi
Due: CAP

Deduplicate list of operations to install obtained from CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD
  CAP/gap/TerminalCategory.gi
Due: CAP

Update website for CAP 2022.11-22
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Update website for MonoidalCategories 2022.11-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2022.11-23
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP
