Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for FreydCategoriesForCAP 2023.12-12
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2023.12-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

fixed CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD entry
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/ConstructiveCategoriesRecord.gi
Due: CAP

Check that the components of CAP_INTERNAL_CATEGORICAL_PROPERTIES_LIST are categorical properties
  CAP/PackageInfo.g
  CAP/gap/PrintingFunctions.gi
Due: CAP

Update website for CAP 2023.12-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Remove warnings about operations not compatible with the congruence of morphisms in proof assistant mode
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/ResolveOperations.gi
  CompilerForCAP/tst/CapJitEnableProofAssistantMode.tst
Due: CompilerForCAP

Update website for CAP 2023.12-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.12-12
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

enable FreydCategory to set IsLinearCategoryOverCommutativeRingWithFinitelyGeneratedFreeExternalHoms
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2023.12-13
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Do not pass type signature as an option to ENHANCED_SYNTAX_TREE
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/tst/ENHANCED_SYNTAX_TREE.tst
  CompilerForCAP/tst/Logic.tst
  CompilerForCAP/tst/LogicTemplates.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-13
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update documentation
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/EnhancedSyntaxTree.gd
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-14
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Introduce CAP_JIT_INTERNAL_COMPILED_ENHANCED_SYNTAX_TREE
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-15
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Handle symmetry of equality when dropping handled edge cases
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/DropHandledEdgeCases.gi
  CompilerForCAP/tst/CapJitDroppedHandledEdgeCases.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-16
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Allow to exclude or restrict logic templates from/to proof assistant mode
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/LogicTemplates.gi
  CompilerForCAP/tst/CapJitEnableProofAssistantMode.tst
Due: CompilerForCAP

Update documentation and plausibility checks of CapJitAddLogicTemplate
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/LogicTemplates.gd
  CompilerForCAP/gap/LogicTemplates.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-17
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-18
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add various logic templates for proofs
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/ProofAssistant.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-19
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add CommutativeRingOfLinearCategory to default categorical attributes in compiler hints
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerHints.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfHomalgExteriorRingOverFieldPrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CompilerForCAP 2023.12-20
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2023.12-14
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2023.12-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Start implementing an interactive proof assistant
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/ProofAssistant.gd
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/gap/Tools.gd
  CompilerForCAP/gap/Tools.gi
  CompilerForCAP/tst/proof_RingAsCategory_has_associative_composition.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-21
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Introduce propositions for some categorical properties to the proof assistant
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/ProofAssistant.gd
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/tst/300_proof_RingAsCategory_has_associative_composition.tst
  CompilerForCAP/tst/300_proof_hom_structure_for_linear_categories.tst
  CompilerForCAP/tst/400_proof_assistant_mode_disabled.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-22
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Verify the hom structure of AdditiveClosure
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/tst/300_proof_AdditiveClosure_hom_structure.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-23
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Prove that categories of rows over fields have kernels
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/tst/300_proof_CategoryOfRows_has_kernels.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-24
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Add example for code coverage
  CompilerForCAP/tst/proof_assistant.tst
Due: CompilerForCAP

Prove that the additive closure of a preadditive category has a zero object
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_a_zero_object.tst
  CompilerForCAP/tst/300_proof_CategoryOfRows_has_kernels.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2023.12-25
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

renamed CheckConstructivenessOfCategory -> MissingOperationsForConstructivenessOfCategory
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/PrintingFunctions.gi
  CAP/help_for_CAP.md
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
