Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

use Braiding(Inverse)WithGivenTensorProducts in derivations
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategoriesDerivedMethods.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesDerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

two derivations for symmetric monoidal categories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/SymmetricCartesianCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCategoriesDerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/SymmetricMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricMonoidalCategoriesProperties.gi
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2026.08-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2026.08-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CartesianCategories 2026.08-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2026.08-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

D&I AdditiveClosureOfObjectFiniteCategory
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/Doc.autodoc
  AdditiveClosuresForCAP/examples/AdditiveClosureOfObjectFiniteCategory_Kronecker.g
  AdditiveClosuresForCAP/examples/AdditiveClosureOfObjectFiniteCategory_constructors.g
  AdditiveClosuresForCAP/examples/CategoryOfRows.g
  AdditiveClosuresForCAP/gap/AdditiveClosureOfObjectFiniteCategory.gd
  AdditiveClosuresForCAP/gap/AdditiveClosureOfObjectFiniteCategory.gi
  AdditiveClosuresForCAP/init.g
  AdditiveClosuresForCAP/makedoc.g
  AdditiveClosuresForCAP/read.g
  AdditiveClosuresForCAP/tst/AdditiveClosureOfObjectFiniteCategoryTest.tst
Due: none

CartesianCategories: initial category empty objects, generating morphisms
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InitialCategory.g
  CartesianCategories/gap/InitialCategory.gi
  CartesianCategories/gap/InitialCategoryDerivedMethods.gi
Due: CartesianCategories

Update website for CartesianCategories 2026.09-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
