Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

add TypeSignatures for
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/HoistExpressions.gi
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CAP 2023.04-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.04-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Allow to create and use multiple instances of opposite categories of the same category
  CAP/PackageInfo.g
  CAP/gap/OppositeCategory.gi
Due: CAP

Update website for CAP 2023.04-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  _data/CAP.yml
Due: CAP

Add more documentation to WrapperCategory
  CAP/gap/WrapperCategory.gd
Due: CAP

Remove some deprecated operations
  CAP/PackageInfo.g
  CAP/gap/UniversalObjects.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2023.04-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2023.04-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Introduce return type "list_of_elements_of_commutative_ring_of_linear_structure"
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
  CAP/gap/ToolsForCategories.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/tst/add_hom_structure_using_external_hom.tst
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2023.04-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2023.04-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Warn about functions ignored due to weight and primitive operations overwritten by derivations
  CAP/gap/InstallAdds.gi
Due: CAP

Allow to call primitive operations before finalization
  CAP/gap/InstallAdds.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update list of local variables
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2023.04-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Fix whitespace
  CAP/gap/Derivations.gd
Due: CAP

Add comment why a positive additional weight is required in derivations
  CAP/gap/Derivations.gi
Due: CAP

Update list of local variables
  CAP/gap/Finalize.gi
Due: CAP

Avoid triggering a warning in InstallAdds from final derivations
  CAP/gap/Finalize.gi
Due: CAP

Simplify detection of loop symbols and add "Iterated"
  CAP/gap/DerivedMethods.gi
  CAP/gap/ToolsForCategories.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, LinearAlgebraForCAP

Bump versions
  CAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CAP, LinearAlgebraForCAP

Update website for CAP 2023.04-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for LinearAlgebraForCAP 2023.04-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Allow to specify all filters in filter_list as strings
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/gap/AttributeCategory.gi
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/ToolsForCategories.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/tst/add_hom_structure_using_external_hom.tst
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/gap/SemisimpleCategory.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, AttributeCategoryForCAP, FreydCategoriesForCAP, GroupRepresentationsForCAP, LinearAlgebraForCAP

Update website for CAP 2023.05-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for AttributeCategoryForCAP 2023.05-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for FreydCategoriesForCAP 2023.05-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GroupRepresentationsForCAP 2023.05-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2023.05-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Ignore a warning in Julia
  CAP/gap/ToolsForCategories.gi
Due: CAP

Remove support for proper filters in filter_list or as return_type
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CAP, CompilerForCAP

Remove dependency doc from target ci-test in makefile
  .circleci/config.yml
  Jenkinsfile
  makefile
Due: none

Update website for CAP 2023.05-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.05-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Introduce ReinterpretationOfCategory
  CAP/PackageInfo.g
  CAP/doc/Doc.autodoc
  CAP/examples/WrapperCategory.g
  CAP/gap/ReinterpretationOfCategory.gd
  CAP/gap/ReinterpretationOfCategory.gi
  CAP/gap/WrapperCategory.gd
  CAP/gap/WrapperCategory.gi
  CAP/init.g
  CAP/read.g
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/OppositeOfCategoryOfRowsAsCategoryOfColumns.g
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gi
  FreydCategoriesForCAP/gap/CoFreydCategoryAsOppositeOfFreydCategoryOfOpposite.gi
  FreydCategoriesForCAP/gap/GradedModulePresentationsByFreyd/GradedModulePresentationsByFreyd.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/MatrixCategoryAsCategoryOfRows.gi
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Improve Jenkinsfile
  Jenkinsfile
Due: none

Update website for FreydCategoriesForCAP 2023.05-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP
