Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Category as first argument for ActionsForCAP
  ActionsForCAP/examples/IndirectionTest.g
  ActionsForCAP/examples/IndirectionTest2.g
  ActionsForCAP/gap/ActionsCategory.gi
  ActionsForCAP/gap/CoactionsCategory.gi
  ActionsForCAP/gap/SemisimpleCategory.gi
Due: ActionsForCAP

Category as first argument for AttributeCategoryForCAP
  AttributeCategoryForCAP/examples/example.g
  AttributeCategoryForCAP/gap/AttributeCategory.gi
Due: AttributeCategoryForCAP

bumped versions
  ActionsForCAP/PackageInfo.g
  AttributeCategoryForCAP/PackageInfo.g
Due: ActionsForCAP, AttributeCategoryForCAP

Update website for ActionsForCAP 2023.08-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/chap1.html
  ActionsForCAP/doc/chap1.txt
  ActionsForCAP/doc/chap1_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AttributeCategoryForCAP 2023.08-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  AttributeCategoryForCAP/doc/chap2.html
  AttributeCategoryForCAP/doc/chap2.txt
  AttributeCategoryForCAP/doc/chap2_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Remove various deprecated operations
  CAP/gap/CategoryConstructor.gi
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/UniversalObjects.gi
  CAP/gap/WrapperCategory.gd
  CAP/gap/WrapperCategory.gi
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategories.gd
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategories.gd
Due: CAP, CartesianCategories, MonoidalCategories

Deprecate AddObjectRepresentation and AddMorphismRepresentation
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
Due: CAP

Remove support for Objectify*ForCAPWithAttributes in CompilerForCAP
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CartesianCategories, CompilerForCAP, MonoidalCategories

Add some comments to the workarounds in CreateCapCategory*WithAttributes
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
Due: CAP

Update website for CAP 2023.08-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.08-12
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2023.08-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for MonoidalCategories 2023.08-09
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Use IsStringRep instead of IsString for the data type of literal strings
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/tst/CapJitAddKnownMethod.tst
Due: CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Include first morphism in check in prefunctions for (Co)Equalizer
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
Due: CAP

Update website for CAP 2023.08-13
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2023.08-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for CAP 2023.08-14
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Switch from 'vecspaces' to `LinearAlgebraForCAP` in `HomologicalAlgebraForCAP`
  HomologicalAlgebraForCAP/examples/GapDays2015FallHandsOn.g
  HomologicalAlgebraForCAP/examples/SpectralSequences.g
Due: HomologicalAlgebraForCAP

Switch from 'vecspaces' to `LinearAlgebraForCAP` in `MonoidalCategories`
  MonoidalCategories/examples/BasicTests.g
  MonoidalCategories/examples/VectorSpacesMonoidalCategory.gi
Due: MonoidalCategories

Move examples to `GeneralizedMorphismsForCAP`
  CAP/examples/VectorSpacesGeneralizedMorphismsCategory.g
  CAP/examples/VectorSpacesIsWellDefined.g
  GeneralizedMorphismsForCAP/examples/SnakeInMatrixCategory.g
  GeneralizedMorphismsForCAP/examples/SnakeLemmaTrondheim.g
  GeneralizedMorphismsForCAP/examples/VectorSpacesGeneralizedMorphismsCategory.g
  GeneralizedMorphismsForCAP/examples/VectorSpacesIsWellDefined.g
Due: CAP, GeneralizedMorphismsForCAP

Move and adjust 'vecspaces'-tests to `LinearAlgebraForCAP`
  CAP/examples/VectorSpacesKernelTest.g
  CAP/examples/VectorSpacesPullback.g
  LinearAlgebraForCAP/examples/VectorSpacesKernelTest.g
  LinearAlgebraForCAP/examples/VectorSpacesPullback.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
Due: CAP, LinearAlgebraForCAP

Remove `vecspaces` category
  CAP/examples/NewAddVectorSpaces.g
  CAP/examples/VectorSpacesAddKernel01.g
  CAP/examples/VectorSpacesAddKernel02.g
  CAP/examples/VectorSpacesAddKernel03.g
  CAP/examples/VectorSpacesAllMethods.g
  CAP/examples/VectorSpacesConstructors.g
  CAP/examples/VectorSpacesFinalizeTest.g
  CAP/examples/VectorSpacesForGAPDays.g
  CAP/examples/VectorSpacesMethodGlueing.g
Due: CAP

fixed documentation of CreateCapCategoryMorphismWithAttributes
  CAP/gap/CategoryMorphisms.gd
Due: CAP

Bump versions of deposited packages for consistent releases
  CAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, GeneralizedMorphismsForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, MonoidalCategories

Update website for CAP 2023.08-15
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  _data/CAP.yml
Due: CAP

Update website for GeneralizedMorphismsForCAP 2023.08-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  GeneralizedMorphismsForCAP/doc/chap1.html
  GeneralizedMorphismsForCAP/doc/chap1.txt
  GeneralizedMorphismsForCAP/doc/chap1_mj.html
  GeneralizedMorphismsForCAP/doc/chap2.html
  GeneralizedMorphismsForCAP/doc/chap2.txt
  GeneralizedMorphismsForCAP/doc/chap2_mj.html
  GeneralizedMorphismsForCAP/doc/chap3.html
  GeneralizedMorphismsForCAP/doc/chap3.txt
  GeneralizedMorphismsForCAP/doc/chap3_mj.html
  GeneralizedMorphismsForCAP/doc/chap4.html
  GeneralizedMorphismsForCAP/doc/chap4.txt
  GeneralizedMorphismsForCAP/doc/chap4_mj.html
  GeneralizedMorphismsForCAP/doc/chap9.html
  GeneralizedMorphismsForCAP/doc/chap9.txt
  GeneralizedMorphismsForCAP/doc/chap9_mj.html
  GeneralizedMorphismsForCAP/doc/chapInd.html
  GeneralizedMorphismsForCAP/doc/chapInd.txt
  GeneralizedMorphismsForCAP/doc/chapInd_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for LinearAlgebraForCAP 2023.08-06
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2023.08-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2023.08-10
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

PreComposeList & PostComposeList now get source and range as arguments
  CAP/PackageInfo.g
  CAP/examples/PreComposeList.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  CompilerForCAP/tst/CapJitResolvedOperations.tst
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory_CompilerLogic.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CAP, CartesianCategories, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

fixed index typo in Coequalizer
  CAP/PackageInfo.g
  CAP/gap/UniversalObjects.gi
Due: CAP

Update website for CAP 2023.08-16
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.08-13
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2023.08-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2023.08-07
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2023.08-11
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2023.08-17
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
