Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CompilerForCAP 2024.06-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/README.md
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.06-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Use HomalgMatrixListList at more places
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory_CompilerLogic.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfFieldPrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Use package extensions instead of deferred loading of type signatures and logic templates
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gd
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/LogicTemplates.gd
  CompilerForCAP/gap/LogicTemplates.gi
  CompilerForCAP/gap/TypeSignaturesOfMatricesForHomalg.gi
  CompilerForCAP/gap/TypeSignaturesOfQPA.gi
  CompilerForCAP/tst/LogicTemplates.tst
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory_CompilerLogic.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/CompilerLogic.gi
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Use HomalgMatrixListList at more places
  CompilerForCAP/gap/TypeSignaturesOfMatricesForHomalg.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory_CompilerLogic.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CAP 2024.07-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.07-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.07-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.07-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

SetIsLinearCategoryOverCommutativeRingWithFinitelyGeneratedFreeExternalHoms in LinearClosure
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/LinearClosure.gi
Due: FreydCategoriesForCAP

Fix documentation of DummyRing et al.
  CAP/gap/DummyImplementations.gd
Due: CAP

Explicitly load packages which previously were loaded via suggested dependencies
  CompilerForCAP/examples/PrecompileModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.g
  CompilerForCAP/examples/PrecompileOppositeOfMatrixCategory.g
Due: CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Update website for CAP 2024.07-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.07-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Bump versions
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Turn a list into a pair
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP

Update website for CompilerForCAP 2024.07-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.07-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.07-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Restore the previous behavior of only_primitive_operations for Opposite
  CAP/PackageInfo.g
  CAP/gap/OppositeCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CAP 2024.07-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2024.07-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2024.07-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.07-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Attach a ring instance to the data types of rings and their elements
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gd
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/TypeSignaturesOfMatricesForHomalg.gi
  CompilerForCAP/gap/TypeSignaturesOfQPA.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfColumns.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gd
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  LinearAlgebraForCAP/gap/MatrixCategoryAsCategoryOfRows.gi
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gd
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationMorphism.gd
  ModulePresentationsForCAP/gap/ModulePresentationObject.gd
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gd
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Update website for CAP 2024.07-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.07-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.07-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.07-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.07-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Add dummy homalg rings
  CAP/PackageInfo.g
  CAP/gap/DummyImplementations.gd
  CAP/gap/DummyImplementationsOfMatricesForHomalg.gd
  CAP/gap/DummyImplementationsOfMatricesForHomalg.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/PrecompileCategoryOfColumnsAsOppositeOfCategoryOfRows.g
  CompilerForCAP/examples/PrecompileCategoryOfRowsAsAdditiveClosureOfRingAsCategory.g
  CompilerForCAP/examples/PrecompileMatrixCategoryAsCategoryOfRows.g
  CompilerForCAP/examples/PrecompileModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.g
  CompilerForCAP/examples/PrecompileOppositeOfMatrixCategory.g
Due: CAP, CompilerForCAP

Update website for CAP 2024.07-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.07-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Use dummy homalg field in proof
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/300_proof_CategoryOfRows_has_kernels.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2024.07-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.07-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap3.html
  FreydCategoriesForCAP/doc/chap3.txt
  FreydCategoriesForCAP/doc/chap3_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.07-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap1.html
  LinearAlgebraForCAP/doc/chap1.txt
  LinearAlgebraForCAP/doc/chap1_mj.html
  LinearAlgebraForCAP/doc/chapInd.html
  LinearAlgebraForCAP/doc/chapInd.txt
  LinearAlgebraForCAP/doc/chapInd_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
