Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

added GroupsAsCategoriesForCAP
  GroupsAsCategoriesForCAP/_data/package.yml
  GroupsAsCategoriesForCAP/badge_date.json
  GroupsAsCategoriesForCAP/badge_version.json
  GroupsAsCategoriesForCAP/download_pdf.html
  GroupsAsCategoriesForCAP/view_release.html
Due: none

Extract GroupsAsCats into new package
  FreydCategoriesForCAP/init.g
  GroupsAsCategoriesForCAP/.gitignore
  GroupsAsCategoriesForCAP/LICENSE
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/README.md
  GroupsAsCategoriesForCAP/doc/Doc.autodoc
  GroupsAsCategoriesForCAP/doc/clean
  GroupsAsCategoriesForCAP/examples/GroupsAsCats.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gd
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
  GroupsAsCategoriesForCAP/init.g
  GroupsAsCategoriesForCAP/makedoc.g
  GroupsAsCategoriesForCAP/makedoc_with_overfull_hbox_warnings.g
  GroupsAsCategoriesForCAP/makefile
  GroupsAsCategoriesForCAP/read.g
  GroupsAsCategoriesForCAP/tst/100_LoadPackage.tst
  GroupsAsCategoriesForCAP/tst/testall.g
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: FreydCategoriesForCAP

Move the homomorphism structure into a separate file
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/examples/GroupsAsCats.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
  GroupsAsCategoriesForCAP/gap/HomomorphismStructure.gd
  GroupsAsCategoriesForCAP/gap/HomomorphismStructure.gi
  GroupsAsCategoriesForCAP/init.g
Due: none

Update website for FreydCategoriesForCAP 2025.06-06
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GroupsAsCategoriesForCAP 2025.06-02
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/README.md
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  GroupsAsCategoriesForCAP/doc/chap1.html
  GroupsAsCategoriesForCAP/doc/chap1.txt
  GroupsAsCategoriesForCAP/doc/chap1_mj.html
  GroupsAsCategoriesForCAP/doc/chap2.html
  GroupsAsCategoriesForCAP/doc/chap2.txt
  GroupsAsCategoriesForCAP/doc/chap2_mj.html
  GroupsAsCategoriesForCAP/doc/chapInd.html
  GroupsAsCategoriesForCAP/doc/chapInd.txt
  GroupsAsCategoriesForCAP/doc/chapInd_mj.html
  GroupsAsCategoriesForCAP/doc/chooser.html
  GroupsAsCategoriesForCAP/doc/lefttoc.css
  GroupsAsCategoriesForCAP/doc/manual.css
  GroupsAsCategoriesForCAP/doc/manual.js
  GroupsAsCategoriesForCAP/doc/nocolorprompt.css
  GroupsAsCategoriesForCAP/doc/ragged.css
  GroupsAsCategoriesForCAP/doc/rainbow.js
  GroupsAsCategoriesForCAP/doc/times.css
  GroupsAsCategoriesForCAP/doc/toggless.css
  GroupsAsCategoriesForCAP/doc/toggless.js
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Disable subsplits for GroupsAsCategoriesForCAP
  dev/make_dist.sh
  dev/simulate_dist.sh
Due: none

new file LinearClosureForGroupAsCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/LinearClosure.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2025.06-07
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

split file LinearClosureForGroupAsCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/LinearClosureForGroupAsCategory.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2025.06-08
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

remove method with underspecified filters
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/gap/SerreQuotients.gi
Due: GeneralizedMorphismsForCAP

Update website for GeneralizedMorphismsForCAP 2025.06-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

fix some whitespaces in ModulePresentationsForCAP
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

fix a bug in Lift/Colift methods in ModulePresentationsForCAP
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
  ModulePresentationsForCAP/tst/Lift_Colift.tst
Due: ModulePresentationsForCAP

Update website for ModulePresentationsForCAP 2025.06-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

added AdditiveClosuresForCAP
  AdditiveClosuresForCAP/_data/package.yml
  AdditiveClosuresForCAP/badge_date.json
  AdditiveClosuresForCAP/badge_version.json
  AdditiveClosuresForCAP/download_pdf.html
  AdditiveClosuresForCAP/view_release.html
Due: none

GitHub Actions: build documentation of AdditiveClosuresForCAP
  .github/workflows/Tests.yml
Due: none

Update website for CAP 2025.06-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12.txt
  CAP/doc/chap12_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2025.06-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/README.md
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for GroupsAsCategoriesForCAP 2025.06-03
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Update website for LinearAlgebraForCAP 2025.06-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap1.html
  LinearAlgebraForCAP/doc/chap1.txt
  LinearAlgebraForCAP/doc/chap1_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2025.06-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

additive closure of Bézout domain is pre-abelian
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/examples/WeakHomomorphismTheorem.g
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
  CAP/gap/DerivedMethods.autogen.gi
  CAP/gap/DerivedMethods.gi
Due: CAP

Derivations for WeakKernelEmbedding/WeakCokernelProjection
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/AdditiveClosureDerivedMethods.gi
Due: none

Update website for AdditiveClosuresForCAP 2025.07-01
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chap3.html
  AdditiveClosuresForCAP/doc/chap3.txt
  AdditiveClosuresForCAP/doc/chap3_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for AdditiveClosuresForCAP 2025.07-02
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Distinguish between small and big integers
  AdditiveClosuresForCAP/gap/AdditiveClosure.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/InferDataTypes.gi
Due: CAP, CompilerForCAP

Use Source/RangeOfFunctor more often
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/AdditiveClosure.gi
  CAP/gap/CategoriesCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/LinearClosure.gi
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gd
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gi
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/gap/LiftPresentationTransformation.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/Functors.g
Due: CAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Update website for AdditiveClosuresForCAP 2025.07-03
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for FreydCategoriesForCAP 2025.07-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2025.07-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  GeneralizedMorphismsForCAP/doc/chap2.html
  GeneralizedMorphismsForCAP/doc/chap2.txt
  GeneralizedMorphismsForCAP/doc/chap2_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2025.07-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for LinearAlgebraForCAP 2025.07-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

allow building towers of non-yet finalized categories
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
Due: CAP

d&i CapJitDataTypeOfGroup/CapJitDataTypeOfElementOfGroup
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/InferDataTypes.gi
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: CAP, CompilerForCAP

Update website for CAP 2025.07-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2025.07-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP
