Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

small clean up in some MethodRecord files
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesMethodRecord.gi
Due: CartesianCategories, MonoidalCategories

reactivate ClosedMonoidalCategoriesTest
  MonoidalCategories/tst/TerminalCategoryMonoidalLeft.tst
Due: MonoidalCategories

renamed Example.gi -> Example.g
  LinearAlgebraForCAP/examples/Example.g
Due: LinearAlgebraForCAP

whitespaces
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

Update website for CartesianCategories 2024.01-07
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap5.html
  CartesianCategories/doc/chap5.txt
  CartesianCategories/doc/chap5_mj.html
  CartesianCategories/doc/chap6.html
  CartesianCategories/doc/chap6.txt
  CartesianCategories/doc/chap6_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2024.01-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.01-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.01-04
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2024.01-08
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chap5.html
  MonoidalCategories/doc/chap5.txt
  MonoidalCategories/doc/chap5_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

whitespaces
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

added the word "left" to the documentation of (co)evaluation morphism
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
Due: CartesianCategories, MonoidalCategories

standardize the morphism f: a → c ⊗ b to f: a → b ⊗ c in coclosed adjunction
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CocartesianCoclosedCategories.autogen.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/CoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesMethodRecord.gi
Due: CartesianCategories, LinearAlgebraForCAP, MonoidalCategories

completed bi-(co)closed monoidal structures
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.autogen.gd
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianClosedCategoriesTest.gi
  CartesianCategories/gap/CocartesianCoclosedCategories.autogen.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gi
  CartesianCategories/gap/Tools.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/CoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/CreateClosedMonoidalCategories.gi
Due: CAP, CartesianCategories, MonoidalCategories

Update website for CAP 2024.01-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.01-11
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2024.01-06
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2024.01-12
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

renamed local variables to more suggestive names
  CartesianCategories/gap/CartesianCategoriesDerivedMethods_extra.gi
  CartesianCategories/gap/CocartesianCategoriesDerivedMethods_extra.gi
Due: CartesianCategories

AddDerivationToCAP( C(oc)artesianBraidingInverseWithGivenDirectProducts, ... )
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategoriesDerivedMethods_extra.gi
  CartesianCategories/gap/CocartesianCategoriesDerivedMethods_extra.gi
Due: CartesianCategories

Update website for CartesianCategories 2024.01-12
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

replaced t <-> s in InternalHomToTensorProduct*AdjunctionMap
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.autogen.gd
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
Due: CartesianCategories, LinearAlgebraForCAP, MonoidalCategories

Update website for CartesianCategories 2024.01-13
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2024.01-07
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2024.01-13
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

white spaces
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

derive the lambda introduction/elimination from the right Hom-adjunction
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

improved derivations of (co)closed monoidal left/right (co)evaluation
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2024.01-15
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2024.01-15
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CartesianCategories 2024.01-16
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2024.01-16
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

fixed dual_preprocessor_func entries
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2024.01-17
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2024.01-17
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

fixed docu
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
Due: CartesianCategories, MonoidalCategories

updated ClosedAndCoclosedInMatrixCategory.tst
  LinearAlgebraForCAP/tst/ClosedAndCoclosedInMatrixCategory.tst
Due: LinearAlgebraForCAP

derived left from right tensor-internal hom-adjunction and vice versa
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/tst/ClosedAndCoclosedInMatrixCategory.tst
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CartesianCategories 2024.02-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2024.02-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP
