Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Add files for CartesianCategories
  CartesianCategories/_data/package.yml
  CartesianCategories/badge_date.json
  CartesianCategories/badge_version.json
  CartesianCategories/download_pdf.html
  CartesianCategories/view_release.html
Due: CartesianCategories

Update website for CartesianCategories 2022.05-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/README.md
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  CartesianCategories/doc/chooser.html
  CartesianCategories/doc/lefttoc.css
  CartesianCategories/doc/manual.css
  CartesianCategories/doc/manual.js
  CartesianCategories/doc/nocolorprompt.css
  CartesianCategories/doc/ragged.css
  CartesianCategories/doc/rainbow.js
  CartesianCategories/doc/times.css
  CartesianCategories/doc/toggless.css
  CartesianCategories/doc/toggless.js
  _data/CartesianCategories.yml
Due: CartesianCategories

enhanced LaTeXOutput for IsCategoryOfRowsMorphism
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: FreydCategoriesForCAP

Introduce compatible_with_congruence_of_morphisms and require compatibility for some operations
  CAP/PackageInfo.g
  CAP/doc/AddFunctions.autodoc
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/MethodRecord.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/Doc.autodoc
  MonoidalCategories/gap/MonoidalCategoriesMethodRecord.gi
Due: CAP, MonoidalCategories

Update website for CAP 2022.05-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  _data/CAP.yml
Due: CAP

Update website for MonoidalCategories 2022.05-06
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Add proof assistant mode
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/Usage.autodoc
  CompilerForCAP/examples/CapJitEnableProofAssistantMode.g
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/ResolveOperations.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.06-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Introduce HandlePrecompiledTowers
  CAP/PackageInfo.g
  CAP/examples/HandlePrecompiledTowers.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2022.06-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2022.06-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Additive tests for MatrixCategory and CategoryOfRows
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/tst/TensorCorrespondenceRowsAndOppositeOfRows.tst
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/tst/TensorCorrespondenceMatrixCategoryAndOpposite.tst
Due: FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for FreydCategoriesForCAP 2022.06-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.06-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

In WrapperCategory: renamed UnderlyingCategory -> ModelingCategory
  CAP/PackageInfo.g
  CAP/gap/WrapperCategory.gd
  CAP/gap/WrapperCategory.gi
  DeductiveSystemForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/AdditiveClosure.g
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/MatrixCategoryAsAdditiveClosureOfRingAsCategory.gi
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: CAP, DeductiveSystemForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Update website for CAP 2022.06-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12.txt
  CAP/doc/chap12_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for DeductiveSystemForCAP 2022.06-01
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/doc/chap0.html
  DeductiveSystemForCAP/doc/chap0.txt
  DeductiveSystemForCAP/doc/chap0_mj.html
  _data/DeductiveSystemForCAP.yml
Due: DeductiveSystemForCAP

Make the final derivations of rigid monoidal cats consistent
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: LinearAlgebraForCAP, MonoidalCategories

Remark the different choice of duals in closed and rigid closed categories in the manual
  MonoidalCategories/doc/Doc.autodoc
  MonoidalCategories/makedoc.g
Due: MonoidalCategories

bumped version of MonoidalCategories
  MonoidalCategories/PackageInfo.g
Due: MonoidalCategories

Update website for MonoidalCategories 2022.05-07
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CartesianCategories 2022.06-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2022.06-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap3.html
  FreydCategoriesForCAP/doc/chap3.txt
  FreydCategoriesForCAP/doc/chap3_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.06-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2022.06-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Allow to apply CanCompute to a CAP operation instead of its name
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/Derivations.gi
Due: CAP

Update website for CAP 2022.06-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

improved documentation of TerminalCategoryWithMultipleObjects
  MonoidalCategories/doc/Doc.autodoc
  MonoidalCategories/gap/TerminalCategory.gd
Due: MonoidalCategories

added missing example file TerminalCategoryWithMultipleObjects.g
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/examples/TerminalCategoryWithMultipleObjects.g
Due: MonoidalCategories

Update website for MonoidalCategories 2022.06-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

reset name: "TerminalCategory..." -> "TerminalCategory...( )"
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/examples/TerminalCategoryWithMultipleObjects.g
  MonoidalCategories/gap/TerminalCategory.gi
Due: MonoidalCategories

Update website for MonoidalCategories 2022.06-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

refactored code for TerminalCategory(WithMultipleObjects)
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/examples/TerminalCategory.g
  MonoidalCategories/examples/TerminalCategoryWithMultipleObjects.g
  MonoidalCategories/gap/TerminalCategory.gd
  MonoidalCategories/gap/TerminalCategory.gi
Due: MonoidalCategories

Update website for MonoidalCategories 2022.06-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Derive DualOnMorphismsWithGivenDuals via coevaluation and evaluation for duals
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesDerivedMethods.gi
Due: MonoidalCategories

Delete empty file
  CAP/QUESTIONS
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Colorize output of DerivationsOfMethodByCategory
  CAP/gap/Derivations.gi
Due: CAP

Update website for CAP 2022.06-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
