Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

AddDerivationToCAP( MorphismFromCoimageToImageWithGivenObjects, ... )
  CAP/gap/DerivedMethods.autogen.gi
  CAP/gap/DerivedMethods.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
Due: CAP, LinearAlgebraForCAP

fixed whitespaces for Julia
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2025.09-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Add ViewString/DisplayString for CAP functors
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
Due: CAP

Update website for CAP 2025.09-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

relaxed CategoryConstructor to support SyntacticCategory
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gi
Due: CAP

Update website for CAP 2025.09-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

started clean up in old packages
  CAP/PackageInfo.g
  CAP/gap/CategoryObjectsOperations.gi
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/gap/CocomplexCategory.gi
  ComplexesAndFilteredObjectsForCAP/gap/ZFunctors.gi
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/examples/Gabriel_Purity_Paper.g
  GradedModulePresentationsForCAP/examples/Purity.g
  GradedModulePresentationsForCAP/examples/Resolution.g
  GradedModulePresentationsForCAP/examples/SpectralSequenceTest.g
  GradedModulePresentationsForCAP/gap/GradedModuleFunctors.gi
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/examples/Example.g
  ModulePresentationsForCAP/examples/MorphismBetweenDirectSums.g
  ModulePresentationsForCAP/examples/Resolution.g
  ModulePresentationsForCAP/examples/testfile.g
Due: CAP, ComplexesAndFilteredObjectsForCAP, GradedModulePresentationsForCAP, ModulePresentationsForCAP

Update website for CAP 2025.09-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for ComplexesAndFilteredObjectsForCAP 2025.09-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for GradedModulePresentationsForCAP 2025.09-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for ModulePresentationsForCAP 2025.09-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Declare CallFuncListAtRuntime as a synonym of CallFuncList.
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
  CAP/gap/ToolsForCategories.gd
Due: CAP

Update website for CAP 2025.09-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Wrap LinearClosure constructor in FunctionWithNamedArguments
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Fix white spaces in the derivation methods of
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP

Use named-arguments in the LinearClosure constructor (#1802)
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: CAP

Update website for CAP 2025.11-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for LinearClosuresForCAP 2025.11-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

fixed more whitespaces for Julia
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
  CAP/gap/DerivedMethods.gi
Due: CAP

clean up in GroupsAsCats
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: none

clean up in GroupsAsCats (#1803)
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
  CAP/gap/DerivedMethods.gi
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: CAP

Update website for CAP 2025.11-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for GroupsAsCategoriesForCAP 2025.11-01
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

d&i IsFinitelyPresentedCategory & SetOfGeneratingMorphisms(OfCategory)
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/CategoryMorphismsOperations.gd
  CAP/gap/ConstructiveCategoriesRecord.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/MethodRecordDeclarations.autogen.gd
  CAP/gap/MethodRecordInstallations.autogen.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InitialCategory.g
  CartesianCategories/gap/InitialCategoryDerivedMethods.gi
  CartesianCategories/read.g
Due: CAP, CartesianCategories

d&i IsFinitelyPresentedCategory & SetOfGeneratingMorphisms(OfCategory) (#1804)
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/CategoryMorphismsOperations.gd
  CAP/gap/ConstructiveCategoriesRecord.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/MethodRecordDeclarations.autogen.gd
  CAP/gap/MethodRecordInstallations.autogen.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InitialCategory.g
  CartesianCategories/gap/InitialCategoryDerivedMethods.gi
  CartesianCategories/read.g
Due: CAP, CartesianCategories

AddSetOfGeneratingMorphismsOfCategory to GroupAsCategory
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: none

Update website for CartesianCategories 2025.11-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for GroupsAsCategoriesForCAP 2025.11-02
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Revert "temporarily work around changes in GAP master"
  CompilerForCAP/examples/precompile_CategoryOfColumns_as_Opposite_CategoryOfRows.g
  CompilerForCAP/examples/precompile_CategoryOfRows_as_AdditiveClosure_RingAsCategory.g
  CompilerForCAP/examples/precompile_CoFreydCategory_as_Opposite_FreydCategory_Opposite.g
  CompilerForCAP/examples/precompile_MatrixCategory_as_CategoryOfRows.g
  CompilerForCAP/examples/precompile_ModulePresentations_as_FreydCategory_CategoryOfRowsOrColumns.g
  CompilerForCAP/examples/precompile_Opposite_MatrixCategory.g
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_direct_sums.tst
Due: CompilerForCAP

switch to AST print methods of GAP 4.15
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_HomalgExteriorRingOverField_precompiled.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_HomalgExteriorRingOverField_precompiled.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/300_proof_AdditiveClosure_has_direct_sums.tst
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
Due: CompilerForCAP, LinearAlgebraForCAP

Update website for AdditiveClosuresForCAP 2025.11-01
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for CompilerForCAP 2025.11-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for LinearAlgebraForCAP 2025.11-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

installed SetOfObjects & SetOfGeneratingMorphisms for IsGroupAsCategory
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: none

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
