Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Category as first argument for SerreQuotientsByThreeArrows
  GeneralizedMorphismsForCAP/gap/SerreQuotientsByThreeArrows.gi
Due: GeneralizedMorphismsForCAP

Category as first argument for SerreQuotientsBySpans
  GeneralizedMorphismsForCAP/gap/SerreQuotientsBySpans.gi
Due: GeneralizedMorphismsForCAP

Category as first argument for GradedColumns
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedColumns.gi
Due: FreydCategoriesForCAP

Category as first argument for GradedRows
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedRows.gi
Due: FreydCategoriesForCAP

Category as first argument for CokernelImageClosure
  FreydCategoriesForCAP/gap/CokernelImageClosure.gi
Due: FreydCategoriesForCAP

Category as first argument for Relations
  FreydCategoriesForCAP/gap/Relations.gi
Due: FreydCategoriesForCAP

Category as first argument for ProSetsAsCats
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
Due: FreydCategoriesForCAP

Category as first argument for SemisimpleCategory
  GroupRepresentationsForCAP/gap/SemisimpleCategory.gi
Due: GroupRepresentationsForCAP

Category as first argument for GradedModulePresentations
  GradedModulePresentationsForCAP/examples/CohP1.g
  GradedModulePresentationsForCAP/gap/GradedModulePresentations.gi
Due: GradedModulePresentationsForCAP

added missing category as first argument in some derivations
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP

Update website for CAP 2023.07-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  _data/CAP.yml
Due: CAP

Category as first argument for ComplexesAndFilteredObjectsForCAP
  ComplexesAndFilteredObjectsForCAP/gap/CocomplexCategory.gi
  ComplexesAndFilteredObjectsForCAP/gap/FilteredObjects.gi
  ComplexesAndFilteredObjectsForCAP/gap/ZFunctors.gi
Due: ComplexesAndFilteredObjectsForCAP

Category as first argument for DeductiveSystemForCAP
  DeductiveSystemForCAP/gap/DeductiveSystem.gi
Due: DeductiveSystemForCAP

Category as first argument for `CategoriesCategory`
  CAP/gap/CategoriesCategory.gi
Due: CAP

Indentation
  CAP/gap/CategoriesCategory.gi
Due: CAP

Remove AddIsEqualForCache*
  ActionsForCAP/examples/IndirectionTest.g
  ActionsForCAP/gap/ActionsCategory.gi
  ActionsForCAP/gap/CoactionsCategory.gi
  CAP/examples/FieldAsCategory.g
  CAP/examples/StringsAsCategory.g
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
Due: CAP, ActionsForCAP, FreydCategoriesForCAP

Cat as first argument for FieldAsCategory.g
  CAP/examples/FieldAsCategory.g
  CAP/examples/HomStructureTest.g
Due: CAP

Category as first argument for Schemes.g
  CAP/examples/Schemes.g
Due: CAP

Simplify AttributeCategory
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/gap/AttributeCategory.gi
Due: AttributeCategoryForCAP

Remove obsolete CAP_INTERNAL_GET_CORRESPONDING_OUTPUT_OBJECTS
  CAP/PackageInfo.g
  CAP/gap/LimitConvenience.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for AttributeCategoryForCAP 2023.07-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CAP 2023.07-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Replace io_types by input_arguments_names etc.
  CAP/PackageInfo.g
  CAP/gap/LimitConvenience.gi
  CAP/gap/MethodRecord.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/BraidedCartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CodistributiveCocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/DistributiveCartesianCategoriesMethodRecord.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/AdditiveMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/BraidedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/MonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesMethodRecord.gi
Due: CAP, CartesianCategories, FreydCategoriesForCAP, MonoidalCategories

Remove support for io_type
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
Due: CAP

Update website for CAP 2023.07-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.07-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2023.07-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for MonoidalCategories 2023.07-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2023.07-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Remove DeductiveSystemForCAP
  DeductiveSystemForCAP/.gitignore
  DeductiveSystemForCAP/LICENSE
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/README.md
  DeductiveSystemForCAP/doc/Doc.autodoc
  DeductiveSystemForCAP/doc/clean
  DeductiveSystemForCAP/examples/LogicExample.g
  DeductiveSystemForCAP/examples/LogicKaiserslautern.g
  DeductiveSystemForCAP/examples/ModulesOverPolynomialRing.g
  DeductiveSystemForCAP/examples/SpectralSequenceKaiserslautern.g
  DeductiveSystemForCAP/examples/SpectralSequenceKaiserslauternWithCospans.g
  DeductiveSystemForCAP/examples/SpectralSequenceKaiserslauternWithCospansToDoListTest.g
  DeductiveSystemForCAP/examples/VectorSpaces.g
  DeductiveSystemForCAP/examples/deductive_generalized.g
  DeductiveSystemForCAP/gap/DeductiveSystem.gd
  DeductiveSystemForCAP/gap/DeductiveSystem.gi
  DeductiveSystemForCAP/gap/LogicForDeductiveSystem.gd
  DeductiveSystemForCAP/gap/LogicForDeductiveSystem.gi
  DeductiveSystemForCAP/init.g
  DeductiveSystemForCAP/makedoc.g
  DeductiveSystemForCAP/makedoc_with_overfull_hbox_warnings.g
  DeductiveSystemForCAP/makefile
  DeductiveSystemForCAP/read.g
  DeductiveSystemForCAP/tst/100_LoadPackage.tst
  DeductiveSystemForCAP/tst/testall.g
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: DeductiveSystemForCAP

Remove obsolete attribute
  CAP/gap/LogicForCAP.gd
Due: CAP

Compute `property_of` from the existing information
  CAP/gap/MethodRecord.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2023.08-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Remove unused code
  CAP/gap/TheoremParser.gi
Due: CAP

Remove two examples using DeductiveSystemForCAP
  HomologicalAlgebraForCAP/examples/BettiTableSpectralSequenceDeductive.g
  HomologicalAlgebraForCAP/examples/SnakeLemma.g
Due: HomologicalAlgebraForCAP

Remove AddCategoryToFamily
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  GradedModulePresentationsForCAP/gap/GradedModulePresentations.gi
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: CAP, GradedModulePresentationsForCAP, ModulePresentationsForCAP

Bump versions
  CAP/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
Due: CAP, GradedModulePresentationsForCAP, HomologicalAlgebraForCAP, ModulePresentationsForCAP

Move code to avoid confusing name "PreFunctions.gi"
  CAP/gap/PreFunctions.gi
  CAP/gap/PrepareFunctions.gi
  CAP/read.g
Due: CAP

Partially revert 2ea57bbe25d40a5561943c094b683a62bd8d0e9d
  CAP/gap/MethodRecord.gi
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
