Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for LinearAlgebraForCAP 2024.01-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Add myself as author to some packages
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, MonoidalCategories

Update website for CAP 2024.01-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.01-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.01-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.01-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.01-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2024.01-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Add proof of correctness for the hom structure of opposite categories
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/300_proof_OppositeCategory_hom_structure.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2024.01-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

in code comments: Cohom -> coHom
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: MonoidalCategories

in code comments: Codual -> coDual
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: MonoidalCategories

\mathrm{\underline{coHom}(.,.)} -> \mathrm{\underline{coHom}}(.,.)
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
Due: CartesianCategories, MonoidalCategories

Update website for CAP 2024.01-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.01-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2024.01-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2024.01-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2024.01-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2024.01-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2024.01-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.01-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2024.01-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chap3.html
  MonoidalCategories/doc/chap3.txt
  MonoidalCategories/doc/chap3_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  MonoidalCategories/doc/chap5.html
  MonoidalCategories/doc/chap5.txt
  MonoidalCategories/doc/chap5_mj.html
  MonoidalCategories/doc/chap6.html
  MonoidalCategories/doc/chap6.txt
  MonoidalCategories/doc/chap6_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

renamed files: C(oc)losedMonoidal -> LeftC(oc)losedMonoidal
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/Tools.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/CreateLeftClosedMonoidalCategories.gd
  MonoidalCategories/gap/CreateLeftClosedMonoidalCategories.gi
  MonoidalCategories/gap/CreateLeftCoclosedMonoidalCategories.gd
  MonoidalCategories/gap/CreateLeftCoclosedMonoidalCategories.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategories.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesProperties.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/init.g
  MonoidalCategories/read.g
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2024.01-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2024.01-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

clean up and avoid "Symmetric" precondition for several derivations
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  CartesianCategories/init.g
  CartesianCategories/read.g
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/LeftClosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/init.g
  MonoidalCategories/read.g
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2024.01-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2024.01-05
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2024.01-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.01-05
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4_mj.html
  CartesianCategories/doc/chap5.html
  CartesianCategories/doc/chap5_mj.html
  CartesianCategories/doc/chap6.html
  CartesianCategories/doc/chap6.txt
  CartesianCategories/doc/chap6_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2024.01-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap15.html
  FreydCategoriesForCAP/doc/chap15.txt
  FreydCategoriesForCAP/doc/chap15_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GradedModulePresentationsForCAP 2024.01-02
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2024.01-02
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for InternalExteriorAlgebraForCAP 2024.01-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2024.01-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.01-03
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2024.01-06
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chap3.html
  MonoidalCategories/doc/chap3.txt
  MonoidalCategories/doc/chap3_mj.html
  MonoidalCategories/doc/chap5.html
  MonoidalCategories/doc/chap5.txt
  MonoidalCategories/doc/chap5_mj.html
  MonoidalCategories/doc/chap6.html
  MonoidalCategories/doc/chap6.txt
  MonoidalCategories/doc/chap6_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
