Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CompilerForCAP 2023.02-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for GroupRepresentationsForCAP 2023.02-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Drop DirectSumDiagonalDifference, FiberProductEmbeddingInDirectSum and their duals
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/UniversalObjects.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Rename DirectSumProjectionInPushout
  AttributeCategoryForCAP/gap/AttributeCategory.gi
  CAP/examples/VectorSpacesFinalizeTest.g
Due: CAP, AttributeCategoryForCAP

Replace calls to DirectSum(Co)DiagonalDifference
  CAP/gap/DerivedMethods.gi
  FreydCategoriesForCAP/gap/FreydCategoriesDerivedMethods.gi
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Turn FiberProductEmbeddingOfDirect(Product/Sum) into a GAP function
  CAP/gap/UniversalObjects.gd
  CAP/gap/UniversalObjects.gi
Due: CAP

Bump versions
  AttributeCategoryForCAP/PackageInfo.g
  CAP/PackageInfo.g
Due: CAP, AttributeCategoryForCAP

Some small fixes
  CAP/gap/UniversalObjects.gd
  CAP/gap/UniversalObjects.gi
  FreydCategoriesForCAP/gap/FreydCategoriesDerivedMethods.gi
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2023.02-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for AttributeCategoryForCAP 2023.02-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Add derivations for isomorphisms
  CAP/gap/DerivedMethods.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Some small fixes and improvements
  CAP/gap/DerivedMethods.gi
Due: CAP

Update website for CAP 2023.02-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Bump missed version for new release
  LinearAlgebraForCAP/PackageInfo.g
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2023.02-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

fix and complete commit 3956135b
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/gap/AttributeCategory.gi
  CAP/PackageInfo.g
  CAP/gap/UniversalObjects.gi
Due: CAP, AttributeCategoryForCAP

avoid broken Add-methods in AttributeCategory
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/gap/AttributeCategory.gi
Due: AttributeCategoryForCAP

derived TensorProductToInternal(Co)HomAdjunctionMapWithGivenInternal(Co)Hom
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/SymmetricCartesianClosedCategoriesDerivedMethods.gi
  CartesianCategories/gap/SymmetricCocartesianCoclosedCategoriesDerivedMethods.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesDerivedMethods.gi
Due: CAP, CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CAP 2023.02-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for AttributeCategoryForCAP 2023.02-03
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CAP 2023.02-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.02-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2023.02-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2023.02-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Avoid calls to `CapCategory` in pre and redirect functions
  CAP/gap/MethodRecord.gi
Due: CAP

Turn some errors into warnings
  CAP/gap/CAP.gi
Due: CAP

Model the category of matrices over the integers as a bare category
  CAP/tst/bare.tst
Due: CAP

Add final derivations for IsEqualForCacheFor* using IsIdenticalObj
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/InstallAdds.gi
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
  CartesianCategories/examples/InitialCategory.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CAP, CartesianCategories, FreydCategoriesForCAP, GradedModulePresentationsForCAP, LinearAlgebraForCAP

Use only the category for method selection of CAP operations
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/ResolveOperations.gi
Due: CAP, CompilerForCAP

Avoid calls to `CapCategory` in pre and redirect functions
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
Due: CAP

Update website for CAP 2023.02-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

start testing InternalExteriorAlgebraForCAP
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/examples/InternalExteriorAlgebraModulesTest.g
  InternalExteriorAlgebraForCAP/tst/100_LoadPackage.tst
Due: InternalExteriorAlgebraForCAP

applied PackageJanitor
  .github/workflows/Tests.yml
  dev/.release
  dev/ci_gaprc
  dev/codecov.yml
  dev/make_dist.sh
  dev/process_coverage.py
  dev/release-gap-package
  dev/upload_codecov.sh
  upload_codecov.sh
Due: none

tmp
  dev/release-gap-package
Due: none

Update website for InternalExteriorAlgebraForCAP 2023.02-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  InternalExteriorAlgebraForCAP/doc/chap1.html
  InternalExteriorAlgebraForCAP/doc/chap1.txt
  InternalExteriorAlgebraForCAP/doc/chap1_mj.html
  InternalExteriorAlgebraForCAP/doc/chapInd.html
  InternalExteriorAlgebraForCAP/doc/chapInd_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

fixed SetRangeCategoryOfHomomorphismStructure for the opposite category
  CAP/PackageInfo.g
  CAP/examples/OppositeCategory.g
  CAP/gap/OppositeCategory.gi
Due: CAP

simplified code in CAP_INTERNAL_INSTALL_OPPOSITE_ADDS_FROM_CATEGORY
  CAP/gap/OppositeCategory.gi
Due: CAP

Simplify and improve OppositeCategory
  CAP/PackageInfo.g
  CAP/gap/OppositeCategory.gi
Due: CAP

Update website for CAP 2023.02-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
