Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

adjust to FinSetsForCAP v2023.07-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/GroupsAsCats.g
  FreydCategoriesForCAP/examples/LinearClosure.g
  FreydCategoriesForCAP/examples/MatricesOverProsets.g
  FreydCategoriesForCAP/examples/MatricesOverZG.g
  FreydCategoriesForCAP/examples/Prosets.g
  FreydCategoriesForCAP/examples/Relations.g
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
  FreydCategoriesForCAP/gap/LinearClosure.gi
  FreydCategoriesForCAP/init.g
  FreydCategoriesForCAP/read.g
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2023.08-06
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Category as first argument for TeX snippets in manual
  Manual/CAPManual.pdf
  Manual/GAP_tex/group_example/AddIdentityMorphism_main.tex
  Manual/GAP_tex/group_example/AddPreCompose_main.tex
  Manual/GAP_tex/group_example/CreateCategory_main.tex
  Manual/GAP_tex/vecspaces_example/Cokernel.tex
  Manual/GAP_tex/vecspaces_example/Declarations.tex
  Manual/GAP_tex/vecspaces_example/Declarations2.tex
  Manual/GAP_tex/vecspaces_example/DirectSum.tex
  Manual/GAP_tex/vecspaces_example/Equalities.tex
  Manual/GAP_tex/vecspaces_example/Functions1.tex
  Manual/GAP_tex/vecspaces_example/HomSets.tex
  Manual/GAP_tex/vecspaces_example/Kernel.tex
  Manual/GAP_tex/vecspaces_example/KernelAlternative.tex
  Manual/GAP_tex/vecspaces_example/ZeroObject.tex
  Manual/Tutorial.tex
Due: none

Category as first argument for complete_example's in manual
  Manual/CAPManual.pdf
  Manual/GAP_code/group_example/complete_example.g
  Manual/GAP_code/vecspaces_example/complete_example.g
  Manual/GAP_tex/vecspaces_example/KernelAlternative.gi
Due: none

Use SQVec in KernelAlternative.gi
  Manual/GAP_tex/vecspaces_example/KernelAlternative.gi
Due: none

Delete DerivationTest.g
  CAP/examples/DerivationTest.g
Due: CAP

Category as first argument for product category
  CAP/gap/ProductCategory.gi
Due: CAP

Remove documentation of removed convenience method
  CAP/gap/UniversalObjects.gd
Due: CAP

Deprecate Objectify*ForCAPWithAttributes
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gd
  CAP/gap/CategoryObjects.gi
Due: CAP

Bump versions
  ActionsForCAP/PackageInfo.g
  AttributeCategoryForCAP/PackageInfo.g
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Update website for CAP 2023.08-18
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2.txt
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2023.08-02
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/chap1.html
  ActionsForCAP/doc/chap1.txt
  ActionsForCAP/doc/chap1_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AttributeCategoryForCAP 2023.08-02
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  AttributeCategoryForCAP/doc/chap2.html
  AttributeCategoryForCAP/doc/chap2.txt
  AttributeCategoryForCAP/doc/chap2_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CartesianCategories 2023.08-14
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2023.08-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2023.08-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for FreydCategoriesForCAP 2023.08-07
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2023.08-02
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2023.08-03
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2023.08-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2023.08-08
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2023.08-03
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Avoid using ZZ in tests because it is already used by StandardFF
  CAP/PackageInfo.g
  CAP/examples/ModulePresentationsMonoidalCategory.g
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/examples/Annihilator.g
Due: CAP, ModulePresentationsForCAP

Update website for CAP 2023.09-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for ModulePresentationsForCAP 2023.09-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/chap2.html
  ModulePresentationsForCAP/doc/chap2.txt
  ModulePresentationsForCAP/doc/chap2_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Avoid using ZZ in more tests because it is occupied by StandardFF
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/CoFreydCategory.g
  FreydCategoriesForCAP/examples/LinearClosure.g
  FreydCategoriesForCAP/examples/MatricesOverProsets.g
  FreydCategoriesForCAP/examples/MatricesOverZG.g
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/examples/Homology.g
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/examples/IntersectionFormulaHartshorne.g
Due: FreydCategoriesForCAP, HomologicalAlgebraForCAP, ModulesOverLocalRingsForCAP

Update website for FreydCategoriesForCAP 2023.09-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for HomologicalAlgebraForCAP 2023.09-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  HomologicalAlgebraForCAP/doc/chap1.html
  HomologicalAlgebraForCAP/doc/chap1.txt
  HomologicalAlgebraForCAP/doc/chap1_mj.html
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for ModulesOverLocalRingsForCAP 2023.09-01
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/doc/chap0.html
  ModulesOverLocalRingsForCAP/doc/chap0.txt
  ModulesOverLocalRingsForCAP/doc/chap0_mj.html
  ModulesOverLocalRingsForCAP/doc/chap2.html
  ModulesOverLocalRingsForCAP/doc/chap2.txt
  ModulesOverLocalRingsForCAP/doc/chap2_mj.html
  _data/ModulesOverLocalRingsForCAP.yml
Due: ModulesOverLocalRingsForCAP

do not extend the range of the hom-structure by identity twice
  CAP/PackageInfo.g
  CAP/gap/CategoryMorphisms.gi
Due: CAP

Update website for CAP 2023.09-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Fix wording in the documentation of ReinterpretationOfCategory
  CAP/PackageInfo.g
  CAP/gap/ReinterpretationOfCategory.gd
Due: CAP

Update website for CAP 2023.09-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12.txt
  CAP/doc/chap12_mj.html
  _data/CAP.yml
Due: CAP

replaced further occurance ZZ -> ZZZ
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/MatricesOverZG.g
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2023.09-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Better handle variadic functions in CompilerForCAP
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/InlineArguments.gi
Due: CompilerForCAP

Get rid of CAP_INTERNAL_REVERSE_LISTS_IN_ARGUMENTS_FOR_OPPOSITE
  CAP/gap/MethodRecord.gd
  CAP/gap/MethodRecord.gi
Due: CAP

Improve some derivations
  CAP/gap/DerivedMethods.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
