Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Avoid referencing `add_name` in added function
  CAP/gap/InstallAdds.gi
Due: CAP

Avoid using `filter_list` from context in added function
  CAP/gap/InstallAdds.gi
Due: CAP

Do not store pre_function etc. in context variables
  CAP/gap/InstallAdds.gi
Due: CAP

Store add_value_to_category_function in the method name record
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecordTools.gi
Due: CAP

Avoid getting function name from a context variable
  CAP/gap/InstallAdds.gi
Due: CAP

Introduce AddCapOperation
  CAP/gap/Derivations.gi
  CAP/gap/InstallAdds.gd
  CAP/gap/InstallAdds.gi
Due: CAP

Store the operation for installation in the method name record
  CAP/gap/Derivations.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecordTools.gi
Due: CAP

Move convenience installations out of CapInternalInstallAdd
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for MonoidalCategories 2024.09-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2024.09-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

equip RingAsCategory with a rigid symmetric closed & coclosed monoidal structure
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/RingsAsAbCats.g
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2024.09-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Drop support for installing CAP operations with additional filters
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/Derivations.gi
  CAP/gap/InstallAdds.gd
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecordTools.gi
  CartesianCategories/gap/BraidedCartesianCategories.autogen.gd
  CartesianCategories/gap/BraidedCocartesianCategories.autogen.gd
  CartesianCategories/gap/CartesianCategories.autogen.gd
  CartesianCategories/gap/CartesianClosedCategories.autogen.gd
  CartesianCategories/gap/CocartesianCategories.autogen.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.autogen.gd
  CartesianCategories/gap/CodistributiveCocartesianCategories.autogen.gd
  CartesianCategories/gap/DistributiveCartesianCategories.autogen.gd
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CompileCAPOperation.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  GeneralizedMorphismsForCAP/examples/VectorSpacesGeneralizedMorphismsCategory.g
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryBySpans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByThreeArrows.gi
  GroupRepresentationsForCAP/gap/SemisimpleCategory.gi
  HomologicalAlgebraForCAP/examples/SpectralSequencesTest.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gd
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
  MonoidalCategories/gap/AdditiveMonoidalCategories.autogen.gd
  MonoidalCategories/gap/BraidedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/ClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/MonoidalCategories.autogen.gd
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnit.autogen.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategories.autogen.gd
Due: CAP, CartesianCategories, CompilerForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, ModulePresentationsForCAP, MonoidalCategories

Drop support for installing functions with additional filters for functors/natural transformations
  CAP/gap/CategoriesCategory.gd
  CAP/gap/CategoriesCategory.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Fix file reference in automatically generated add functions files
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/MethodRecordTools.gi
  CartesianCategories/gap/BraidedCartesianCategories.autogen.gd
  CartesianCategories/gap/BraidedCocartesianCategories.autogen.gd
  CartesianCategories/gap/CartesianCategories.autogen.gd
  CartesianCategories/gap/CartesianClosedCategories.autogen.gd
  CartesianCategories/gap/CocartesianCategories.autogen.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.autogen.gd
  CartesianCategories/gap/CodistributiveCocartesianCategories.autogen.gd
  CartesianCategories/gap/DistributiveCartesianCategories.autogen.gd
  MonoidalCategories/gap/AdditiveMonoidalCategories.autogen.gd
  MonoidalCategories/gap/BraidedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/ClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/MonoidalCategories.autogen.gd
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnit.autogen.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategories.autogen.gd
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategories.autogen.gd
Due: CAP, CartesianCategories, MonoidalCategories

Bump versions
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CartesianCategories, CompilerForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, ModulePresentationsForCAP, MonoidalCategories

Update website for CAP 2024.09-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap5.html
  CAP/doc/chap5.txt
  CAP/doc/chap5_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.09-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2024.09-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.09-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2024.09-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  GeneralizedMorphismsForCAP/doc/chap9.html
  GeneralizedMorphismsForCAP/doc/chap9.txt
  GeneralizedMorphismsForCAP/doc/chap9_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GroupRepresentationsForCAP 2024.09-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for HomologicalAlgebraForCAP 2024.09-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  HomologicalAlgebraForCAP/doc/chap1.html
  HomologicalAlgebraForCAP/doc/chap1.txt
  HomologicalAlgebraForCAP/doc/chap1_mj.html
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.09-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2024.09-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Reintroduce optimizations in GeneralizedMorphismsForCAP
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/examples/VectorSpacesGeneralizedMorphismsCategory.g
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByCospans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryBySpans.gi
  GeneralizedMorphismsForCAP/gap/GeneralizedMorphismCategoryByThreeArrows.gi
Due: GeneralizedMorphismsForCAP

Compute IsProjective if it is cheap to do so in AdelmanCategory
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2024.09-02
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  GeneralizedMorphismsForCAP/doc/chap9.html
  GeneralizedMorphismsForCAP/doc/chap9.txt
  GeneralizedMorphismsForCAP/doc/chap9_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Simplify Add in OppositeCategory
  CAP/PackageInfo.g
  CAP/gap/OppositeCategory.gi
Due: CAP

Update website for FreydCategoriesForCAP 2024.09-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for CAP 2024.09-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Make weight checks in AddCapOperation stricter
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
Due: CAP

Automatically generate Add function declarations in FreydCategoriesForCAP
  FreydCategoriesForCAP/gap/AddFunctions.autogen.gd
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gd
  FreydCategoriesForCAP/gap/FreydCategoriesForCAP.gi
  FreydCategoriesForCAP/init.g
Due: FreydCategoriesForCAP

Remove obsolete CAP_INTERNAL_INSTALL_ADDS_FROM_RECORD
  CAP/gap/InstallAdds.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2024.09-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2024.09-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP
