Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for LinearAlgebraForCAP 2024.02-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2024.02-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CartesianCategories 2024.02-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap5.html
  CartesianCategories/doc/chap5.txt
  CartesianCategories/doc/chap5_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2024.02-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap15.html
  FreydCategoriesForCAP/doc/chap15.txt
  FreydCategoriesForCAP/doc/chap15_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GroupRepresentationsForCAP 2024.02-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chap1.html
  GroupRepresentationsForCAP/doc/chap1.txt
  GroupRepresentationsForCAP/doc/chap1_mj.html
  GroupRepresentationsForCAP/doc/chapInd.html
  GroupRepresentationsForCAP/doc/chapInd.txt
  GroupRepresentationsForCAP/doc/chapInd_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for InternalExteriorAlgebraForCAP 2024.02-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2024.02-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2024.02-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chap5.html
  MonoidalCategories/doc/chap5.txt
  MonoidalCategories/doc/chap5_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

AddDerivationToCAP( CartesianBraidingInverseWithGivenDirectProducts, ... )
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategoriesDerivedMethods_extra.gi
Due: CartesianCategories

Update website for CartesianCategories 2024.02-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

terminal category constructor now ignores operations returning list_of_objects
  CAP/PackageInfo.g
  CAP/gap/TerminalCategory.gi
Due: CAP

Update website for CAP 2024.02-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

updated constructive record for IsEquippedWithHomomorphismStructure
  CAP/PackageInfo.g
  CAP/gap/ConstructiveCategoriesRecord.gi
Due: CAP

Simplify AddDerivation
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Drop some deprecated concepts
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Turn AddDerivation into a global function and move options to AddDerivationToCAP
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2024.02-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Fix wrong size of tuples
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesMethodRecord.gi
Due: MonoidalCategories

Update website for MonoidalCategories 2024.02-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Introduce FunctionWithNamedArguments
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2024.02-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

finalize range_cat := TerminalCategoryWithSingleObject
  CAP/gap/TerminalCategory.gi
Due: CAP

Make TerminalCategoryWith*Object functions with named arguments
  CAP/gap/TerminalCategory.gi
Due: CAP

Simplify CAP_INTERNAL_FINAL_DERIVATION_LIST
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2024.02-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Defer installation of derivations to `Finalize`
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2024.02-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Use the new WithGiven test functions
  LinearAlgebraForCAP/tst/TensorCorrespondenceMatrixCategoryAndOpposite.tst
  MonoidalCategories/tst/TerminalCategoryMonoidal.tst
  MonoidalCategories/tst/TerminalCategoryMonoidalLeft.tst
Due: LinearAlgebraForCAP, MonoidalCategories

Tests for *WithGiven
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/ClosedMonoidalCategoriesTestWithGiven.gd
  MonoidalCategories/gap/ClosedMonoidalCategoriesTestWithGiven.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTestWithGiven.gd
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTestWithGiven.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesTestWithGiven.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesTestWithGiven.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesTestWithGiven.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesTestWithGiven.gi
  MonoidalCategories/init.g
  MonoidalCategories/read.g
Due: MonoidalCategories

Regenerate CartesianCategories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianClosedCategoriesTest.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gd
  CartesianCategories/gap/CocartesianCoclosedCategoriesTest.gi
Due: CartesianCategories

Use the left closed monoidal tests in LinearAlgebraForCAP
  LinearAlgebraForCAP/tst/TensorCorrespondenceMatrixCategoryAndOpposite.tst
Due: LinearAlgebraForCAP

Fix comments for *AdjunctMorphism in monoidal tests
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/LeftClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesTest.gi
Due: MonoidalCategories

Itemize all arguments
  MonoidalCategories/gap/CoclosedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategoriesTest.gd
Due: MonoidalCategories

Update website for CartesianCategories 2024.02-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2024.02-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

declared categorical property IsFiniteBicompleteCategory
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/BicartesianCategories.gd
  CartesianCategories/gap/BicartesianCategories.gi
Due: CartesianCategories

Update website for CartesianCategories 2024.02-05
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap6.html
  CartesianCategories/doc/chap6.txt
  CartesianCategories/doc/chap6_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

commented an InstallTrueMethod for Julia
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/BicartesianCategories.gi
Due: CartesianCategories
