Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Test hom structure of CategoryOfRows over exterior algebra
  FreydCategoriesForCAP/tst/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.tst
Due: FreydCategoriesForCAP

Compile all primitive operations of CategoryOfRows/Columns
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/PrecompileCategoryOfColumnsAsOppositeOfCategoryOfRows.g
  CompilerForCAP/examples/PrecompileCategoryOfRowsAsAdditiveClosureOfRingAsCategory.g
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfColumns.gd
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfHomalgExteriorRingOverFieldPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP

Update website for CompilerForCAP 2022.11-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.11-07
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

added SafeFirst
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/HoistExpressions.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/Tools.gi
Due: CAP, CompilerForCAP

Install BasisOfExternalHom and CoefficientsForMorphism for CategoryOfRows over commutative ring
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfCommutativeRingPrecompiled.gi
Due: FreydCategoriesForCAP

Add case of exterior algebra to the documentation of CategoryOfRows
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/generate_documentation.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.11-08
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Warn about usage of First and Position
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Introduce SafeFirst
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/HoistExpressions.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/Tools.gi
Due: CAP, CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Update website for FreydCategoriesForCAP 2022.11-09
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Exclude manual.six file from code coverage
  process_coverage.py
Due: none

Update website for CAP 2022.11-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.11-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Move code
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

Turn RingAsCategoryMorphism into a usual operation
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

Fix check in CAP_INTERNAL_GENERATE_DOCUMENTATION_FOR_CATEGORY_INSTANCE
  CAP/gap/MethodRecord.gi
Due: CAP

Make RingAsCategory linear and derive homomorphism structure
  CompilerForCAP/gap/InferDataTypes.gi
  FreydCategoriesForCAP/examples/RingsAsAbCats.g
  FreydCategoriesForCAP/gap/CategoryOfColumns.gd
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory_CompilerLogic.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfHomalgExteriorRingOverFieldPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRowsAsAdditiveClosureOfRingAsCategoryOfHomalgExteriorRingOverFieldPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, CompilerForCAP, FreydCategoriesForCAP

Update website for CAP 2022.11-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.11-07
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.11-10
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Turn more examples into tst files
  CompilerForCAP/examples/Logic.g
  CompilerForCAP/examples/LogicTemplates.g
  CompilerForCAP/examples/MatElm.g
  CompilerForCAP/examples/StopCompilationAtCategory.g
  CompilerForCAP/examples/rapid_rassignment.g
  CompilerForCAP/examples/unique_function_ids.g
  CompilerForCAP/tst/Logic.tst
  CompilerForCAP/tst/LogicTemplates.tst
  CompilerForCAP/tst/MatElm.tst
  CompilerForCAP/tst/StopCompilationAtCategory.tst
  CompilerForCAP/tst/rapid_rassignment.tst
  CompilerForCAP/tst/unique_function_ids.tst
Due: CompilerForCAP

Use ErrorWithFuncLocation at more places
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Remove some unsupported cases
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Increase code coverage
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/tst/CapJitCompiledFunction.tst
  CompilerForCAP/tst/ENHANCED_SYNTAX_TREE.tst
Due: CompilerForCAP

Bump version
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

Update website for CompilerForCAP 2022.11-08
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Relax condition of derivation of AdditionForMorphisms from SumOfMorphisms
  CAP/gap/DerivedMethods.gi
Due: CAP

Derive ZeroMorphism as the empty sum of morphisms
  CAP/gap/DerivedMethods.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2022.11-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Use SumOfMorphisms in PreCompose of AdditiveClosure
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.11-11
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Use SafeFirst at more places
  CompilerForCAP/gap/InlineBindings.gi
Due: CompilerForCAP

Improve code coverage
  CompilerForCAP/gap/PrecompileCategory.gi
  CompilerForCAP/tst/CAP_JIT_NEXT_FUNCCALL_DOES_NOT_RETURN_FAIL.tst
  CompilerForCAP/tst/ENHANCED_SYNTAX_TREE.tst
  CompilerForCAP/tst/Logic.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2022.11-09
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Clean up filters
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/CategoriesCategory.gi
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
  CAP/gap/CategoryTwoCells.gi
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/OppositeCategory.gd
  CAP/gap/OppositeCategory.gi
  CAP/gap/ProductCategory.gd
  CAP/gap/ProductCategory.gi
  CAP/gap/TerminalCategory.gd
  CAP/gap/TerminalCategory.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
