Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for GroupsAsCategoriesForCAP 2025.07-01
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

New package LinearClosuresForCAP
  FreydCategoriesForCAP/examples/Relations.g
  FreydCategoriesForCAP/init.g
  LinearClosuresForCAP/.gitignore
  LinearClosuresForCAP/LICENSE
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/README.md
  LinearClosuresForCAP/doc/Doc.autodoc
  LinearClosuresForCAP/doc/clean
  LinearClosuresForCAP/examples/LinearClosure.g
  LinearClosuresForCAP/examples/MatricesOverZG.g
  LinearClosuresForCAP/gap/HomomorphismStructure.gd
  LinearClosuresForCAP/gap/HomomorphismStructure.gi
  LinearClosuresForCAP/gap/LinearClosure.gd
  LinearClosuresForCAP/gap/LinearClosure.gi
  LinearClosuresForCAP/gap/LinearClosureForGroupAsCategory.gi
  LinearClosuresForCAP/init.g
  LinearClosuresForCAP/makedoc.g
  LinearClosuresForCAP/makedoc_with_overfull_hbox_warnings.g
  LinearClosuresForCAP/makefile
  LinearClosuresForCAP/read.g
  LinearClosuresForCAP/tst/100_LoadPackage.tst
  LinearClosuresForCAP/tst/testall.g
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: FreydCategoriesForCAP

Remove superfluous loadings of AdditiveClosuresForCAP
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/100_LoadPackage.tst
  GroupsAsCategoriesForCAP/PackageInfo.g
Due: CompilerForCAP

added LinearClosuresForCAP
  LinearClosuresForCAP/_data/package.yml
  LinearClosuresForCAP/badge_date.json
  LinearClosuresForCAP/badge_version.json
  LinearClosuresForCAP/download_pdf.html
  LinearClosuresForCAP/view_release.html
Due: none

Distinguish between small and big integers
  AdditiveClosuresForCAP/gap/AdditiveClosure.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/InferDataTypes.gi
Due: CAP, CompilerForCAP

Update website for CompilerForCAP 2025.07-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for GroupsAsCategoriesForCAP 2025.07-02
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Update website for LinearClosuresForCAP 2025.07-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/README.md
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  LinearClosuresForCAP/doc/chap1.html
  LinearClosuresForCAP/doc/chap1.txt
  LinearClosuresForCAP/doc/chap1_mj.html
  LinearClosuresForCAP/doc/chap2.html
  LinearClosuresForCAP/doc/chap2.txt
  LinearClosuresForCAP/doc/chap2_mj.html
  LinearClosuresForCAP/doc/chap3.html
  LinearClosuresForCAP/doc/chap3.txt
  LinearClosuresForCAP/doc/chap3_mj.html
  LinearClosuresForCAP/doc/chap4.html
  LinearClosuresForCAP/doc/chap4.txt
  LinearClosuresForCAP/doc/chap4_mj.html
  LinearClosuresForCAP/doc/chapInd.html
  LinearClosuresForCAP/doc/chapInd.txt
  LinearClosuresForCAP/doc/chapInd_mj.html
  LinearClosuresForCAP/doc/chooser.html
  LinearClosuresForCAP/doc/lefttoc.css
  LinearClosuresForCAP/doc/manual.css
  LinearClosuresForCAP/doc/manual.js
  LinearClosuresForCAP/doc/nocolorprompt.css
  LinearClosuresForCAP/doc/ragged.css
  LinearClosuresForCAP/doc/rainbow.js
  LinearClosuresForCAP/doc/times.css
  LinearClosuresForCAP/doc/toggless.css
  LinearClosuresForCAP/doc/toggless.js
  _data/LinearClosuresForCAP.yml
Due: none

re-added ReadPackage( "CartesianCategories", "gap/Tools.gi" )
  CartesianCategories/read.g
Due: CartesianCategories

moved monoidal test functions from GroupRepresentationsForCAP to MonoidalCategories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gi
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/gap/SemisimpleCategoryObjects.gd
  GroupRepresentationsForCAP/gap/SemisimpleCategoryObjects.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/MonoidalCategoriesTest.gd
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gi
Due: CartesianCategories, GroupRepresentationsForCAP, MonoidalCategories

Update website for CartesianCategories 2025.07-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for GroupRepresentationsForCAP 2025.07-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chap2.html
  GroupRepresentationsForCAP/doc/chap2.txt
  GroupRepresentationsForCAP/doc/chap2_mj.html
  GroupRepresentationsForCAP/doc/chapInd.html
  GroupRepresentationsForCAP/doc/chapInd.txt
  GroupRepresentationsForCAP/doc/chapInd_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for MonoidalCategories 2025.07-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

improved monoidal tests
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/tst/ClosedAndCoclosedRows.tst
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategories.gd
  CartesianCategories/gap/BraidedCartesianCategories.gi
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gi
  CartesianCategories/gap/BraidedCocartesianCategories.gd
  CartesianCategories/gap/BraidedCocartesianCategories.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gi
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/tst/ClosedAndCoclosedInMatrixCategory.tst
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategories.gd
  MonoidalCategories/gap/BraidedMonoidalCategories.gi
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnitTest.gi
  MonoidalCategories/gap/MonoidalCategoriesTest.gd
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesProperties.gi
  MonoidalCategories/tst/TerminalCategoryMonoidal.tst
Due: CartesianCategories, LinearAlgebraForCAP, MonoidalCategories

fixed typo in operation name
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/tst/ClosedAndCoclosedRows.tst
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/tst/ClosedAndCoclosedInMatrixCategory.tst
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gi
Due: CartesianCategories, LinearAlgebraForCAP, MonoidalCategories

Update website for AdditiveClosuresForCAP 2025.07-04
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for CartesianCategories 2025.07-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2025.07-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2025.07-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for AdditiveClosuresForCAP 2025.07-05
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for CartesianCategories 2025.07-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2025.07-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2025.07-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

d&i TestCartesianUnitorsForInvertibility
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/MonoidalCategoriesTest.gd
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
Due: CartesianCategories, MonoidalCategories

d&i TestBraidingForInvertibility
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gd
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gi
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2025.07-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2025.07-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CartesianCategories 2025.07-05
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2025.07-05
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

d&i TestMonoidalAssociatorForInvertibility
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/MonoidalCategoriesTest.gd
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
Due: CartesianCategories, MonoidalCategories

fixed docu of TestMonoidalTriangleIdentity
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  MonoidalCategories/gap/MonoidalCategoriesTest.gd
Due: CartesianCategories, MonoidalCategories

use more IsWellDefined in monoidal tests
  CartesianCategories/gap/BraidedCartesianCategoriesTest.gi
  CartesianCategories/gap/BraidedCocartesianCategoriesTest.gi
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  MonoidalCategories/gap/BraidedMonoidalCategoriesTest.gi
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
Due: CartesianCategories, MonoidalCategories

d&i TestMonoidalAssociatorForInvertibility
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/MonoidalCategoriesTest.gd
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
Due: CartesianCategories, MonoidalCategories

Update website for CartesianCategories 2025.07-06
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2025.07-06
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Discrete skeletal finite categories
  CAP/PackageInfo.g
  CAP/doc/Doc.autodoc
  CAP/examples/FiniteSkeletalDiscreteCategory.g
  CAP/gap/FiniteSkeletalDiscreteCategory.gd
  CAP/gap/FiniteSkeletalDiscreteCategory.gi
  CAP/init.g
  CAP/read.g
Due: CAP

LinearClosure of skeletal category is skeletal
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

InstallTrueMethod( IsDiscreteCategory, IsTerminalCategory )
  CAP/PackageInfo.g
  CAP/gap/FiniteSkeletalDiscreteCategory.gi
Due: CAP
