Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

remove obsolete semicolons
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.08-08
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Add better error messages for some unsupported types of statements
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CAP, CompilerForCAP

Add basic support for bare categories
  CAP/examples/unwrapped_MatrixCategory.g
  CAP/gap/CategoryConstructor.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/WrapperCategory.gi
Due: CAP

Introduce the notion of "typed categories"
  CAP/examples/unwrapped_MatrixCategory.g
  CAP/gap/CAP.gd
Due: CAP

Update website for CAP 2022.08-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.08-09
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/manual.js
  _data/CompilerForCAP.yml
Due: CompilerForCAP

CapJitAddTypeSignature( "Difference" / "Combinations, ... )
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Make `/` a generic shorthand for `ObjectConstructor`
  CAP/PackageInfo.g
  CAP/gap/CategoryObjects.gd
  CAP/gap/CategoryObjects.gi
  CAP/gap/ProductCategory.gi
  CAP/gap/WrapperCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfColumns.gd
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/FreydCategory.gd
  FreydCategoriesForCAP/gap/FreydCategory.gi
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
  FreydCategoriesForCAP/gap/LinearClosure.gi
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
  FreydCategoriesForCAP/gap/QuiverRows.gi
  FreydCategoriesForCAP/gap/Relations.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
  GeneralizedMorphismsForCAP/gap/SerreQuotients.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gd
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gi
  LinearAlgebraForCAP/gap/MatrixCategoryObject.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/TerminalCategory.gd
  MonoidalCategories/gap/TerminalCategory.gi
Due: CAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CAP 2022.08-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2.txt
  CAP/doc/chap2_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2022.08-09
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.08-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/manual.js
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2022.08-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  MonoidalCategories/doc/manual.js
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Avoid NrRows and NrColumns in MatrixCategory and CategoryOfRows where possible
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: FreydCategoriesForCAP, LinearAlgebraForCAP

Use WithGiven version for hom structure in CategoryOfRows/Columns
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.08-10
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.08-05
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for FreydCategoriesForCAP 2022.08-11
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Improve warnings and error messages
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/Tools.gd
  CompilerForCAP/gap/Tools.gi
Due: CompilerForCAP

Bump version of GeneralizedMorphismsForCAP
  GeneralizedMorphismsForCAP/PackageInfo.g
Due: GeneralizedMorphismsForCAP

Update website for CompilerForCAP 2022.08-10
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd.txt
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for GeneralizedMorphismsForCAP 2022.08-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/README.md
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  GeneralizedMorphismsForCAP/doc/manual.js
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Remove automated detection of functorials
  CAP/PackageInfo.g
  CAP/gap/MethodRecord.gi
Due: CAP

Update website for CAP 2022.08-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Make sure operations are marked as derived if a derivation overrides a primitive installation
  CAP/doc/AddFunctions.autodoc
  CAP/gap/Derivations.gi
  CAP/gap/InstallAdds.gi
Due: CAP

Sort RecNames in OppositeCategory for stable results
  CAP/gap/OppositeCategory.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Introduce CapJitEnableStepByStepCompilation
  CompilerForCAP/doc/Usage.autodoc
  CompilerForCAP/examples/CapJitEnableStepByStepCompilation.g
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
Due: CompilerForCAP

Update website for CAP 2022.08-10
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  _data/CAP.yml
Due: CAP

Add question on attributes to the FAQ
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/Usage.autodoc
Due: CompilerForCAP

Update website for CompilerForCAP 2022.08-11
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Make suspending method reordering more specific
  CAP/gap/Finalize.gi
  CAP/gap/LogicForCAP.gi
Due: CAP

Make derivation mechanism slightly more efficient
  CAP/gap/Derivations.gi
Due: CAP

Update website for CAP 2022.08-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Set default weight before weight check
  CAP/doc/AddFunctions.autodoc
  CAP/gap/InstallAdds.gi
Due: CAP

Move check for redirect functions of WithGiven pairs to a more sensible location
  CAP/doc/AddFunctions.autodoc
  CAP/gap/CAP.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecord.gi
Due: CAP

Replace "... in RecNames( ... )" by much cheaper "IsBound( ....(...) )"
  CAP/gap/CAP.gi
  CAP/gap/CategoryConstructor.gi
  CAP/gap/Finalize.gi
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/ResolveOperations.gi
Due: CAP, CompilerForCAP

Improve derivation info
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Remove superfluous AsSortedList
  CAP/gap/Derivations.gi
Due: CAP
