Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for ModulePresentationsForCAP 2024.07-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/chap1.html
  ModulePresentationsForCAP/doc/chap1.txt
  ModulePresentationsForCAP/doc/chap1_mj.html
  ModulePresentationsForCAP/doc/chapInd.html
  ModulePresentationsForCAP/doc/chapInd.txt
  ModulePresentationsForCAP/doc/chapInd_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for CompilerForCAP 2024.07-07
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Fix a logic function potentially producing wrong results
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/Logic.gi
  CompilerForCAP/tst/Logic.tst
Due: CompilerForCAP

Distinguish between small and big integers
  CAP/gap/InstallAdds.gi
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/InferDataTypes.gi
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
Due: CAP, CompilerForCAP, FreydCategoriesForCAP

Update website for CompilerForCAP 2024.07-08
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Re-encode data types of empty lists
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/tst/CapJitTypedExpression.tst
  CompilerForCAP/tst/Logic.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2024.07-09
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Execute data_type_getter of CapJitTypedExpression in tests to improve code coverage
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2024.07-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12.txt
  CAP/doc/chap12_mj.html
  _data/CAP.yml
Due: CAP

Drop IsCellOfSkeletalCategory
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/gap/SemisimpleCategoryMorphisms.gd
  GroupRepresentationsForCAP/gap/SemisimpleCategoryObjects.gd
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gd
  LinearAlgebraForCAP/gap/MatrixCategoryObject.gd
Due: CAP, GroupRepresentationsForCAP, LinearAlgebraForCAP

Update website for CAP 2024.08-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for GroupRepresentationsForCAP 2024.08-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chap2.html
  GroupRepresentationsForCAP/doc/chap2_mj.html
  GroupRepresentationsForCAP/doc/chapInd.html
  GroupRepresentationsForCAP/doc/chapInd.txt
  GroupRepresentationsForCAP/doc/chapInd_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2024.08-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap1.html
  LinearAlgebraForCAP/doc/chap1_mj.html
  LinearAlgebraForCAP/doc/chapInd.html
  LinearAlgebraForCAP/doc/chapInd.txt
  LinearAlgebraForCAP/doc/chapInd_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Deprecate AsVectorSpaceMorphism
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/gap/AssociatorsForRepresentationCategoryOfGroup.gd
  GroupRepresentationsForCAP/gap/AssociatorsForRepresentationCategoryOfGroup.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/MatrixCategoryMorphism.gi
Due: GroupRepresentationsForCAP, LinearAlgebraForCAP

Update website for GroupRepresentationsForCAP 2024.08-02
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chap1.html
  GroupRepresentationsForCAP/doc/chap1.txt
  GroupRepresentationsForCAP/doc/chap1_mj.html
  GroupRepresentationsForCAP/doc/chapInd.html
  GroupRepresentationsForCAP/doc/chapInd.txt
  GroupRepresentationsForCAP/doc/chapInd_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2024.08-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Avoid intersection of filters for Julia
  LinearAlgebraForCAP/examples/Example.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
Due: LinearAlgebraForCAP

Avoid convenience methods of UnionOfRows/Columns
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_ArbitraryRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_CommutativeRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_Field_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_HomalgExteriorRingOverField_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_ArbitraryRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_CommutativeRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_Field_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_HomalgExteriorRingOverField_precompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/Opposite_MatrixCategory_precompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentations_as_FreydCategory_CategoryOfRows_ArbitraryRing_precompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentations_as_FreydCategory_CategoryOfRows_CommutativeRing_precompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentations_as_FreydCategory_CategoryOfRows_Field_precompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentations_as_FreydCategory_CategoryOfColumns_ArbitraryRing_precompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentations_as_FreydCategory_CategoryOfColumns_CommutativeRing_precompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentations_as_FreydCategory_CategoryOfColumns_Field_precompiled.gi
Due: FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Do not print the ring name in tests
  LinearAlgebraForCAP/examples/VectorSpacesKernelTest.g
  LinearAlgebraForCAP/examples/VectorSpacesPullback.g
Due: LinearAlgebraForCAP

Turn MatrixCategory into an ordinary operation
  ActionsForCAP/examples/ActionsTest.g
  CompilerForCAP/tst/CAP_JIT_NEXT_FUNCCALL_DOES_NOT_RETURN_FAIL.tst
  GroupRepresentationsForCAP/gap/GIrreducibleObjects.gd
  GroupRepresentationsForCAP/gap/GIrreducibleObjects.gi
  GroupRepresentationsForCAP/gap/GZGradedIrreducibleObjects.gd
  GroupRepresentationsForCAP/gap/GZGradedIrreducibleObjects.gi
  GroupRepresentationsForCAP/gap/RepresentationCategoryOfGroup.gi
  GroupRepresentationsForCAP/gap/SemisimpleCategory.gi
  GroupRepresentationsForCAP/gap/SemisimpleCategoryMorphisms.gi
  GroupRepresentationsForCAP/gap/SemisimpleCategoryObjects.gi
  LinearAlgebraForCAP/examples/Example.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gd
  LinearAlgebraForCAP/gap/MatrixCategoryObject.gi
  LinearAlgebraForCAP/tst/ClosedAndCoclosedInMatrixCategory.tst
Due: ActionsForCAP, CompilerForCAP, GroupRepresentationsForCAP, LinearAlgebraForCAP

Replace VectorSpaceObject by MatrixCategoryObject in tests
  LinearAlgebraForCAP/examples/SplitEpiSummand.g
  LinearAlgebraForCAP/examples/VectorSpacesKernelTest.g
  LinearAlgebraForCAP/examples/VectorSpacesPullback.g
Due: LinearAlgebraForCAP

Improve formatting
  LinearAlgebraForCAP/gap/MatrixCategoryObject.gi
Due: LinearAlgebraForCAP

Bump versions
  ActionsForCAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
Due: ActionsForCAP, CompilerForCAP, FreydCategoriesForCAP, GroupRepresentationsForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Update website for ActionsForCAP 2024.08-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/chap1.html
  ActionsForCAP/doc/chap1.txt
  ActionsForCAP/doc/chap1_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for CompilerForCAP 2024.08-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.08-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GroupRepresentationsForCAP 2024.08-03
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chap3.html
  GroupRepresentationsForCAP/doc/chap3.txt
  GroupRepresentationsForCAP/doc/chap3_mj.html
  GroupRepresentationsForCAP/doc/chapInd.html
  GroupRepresentationsForCAP/doc/chapInd.txt
  GroupRepresentationsForCAP/doc/chapInd_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2024.08-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap1.html
  LinearAlgebraForCAP/doc/chap1.txt
  LinearAlgebraForCAP/doc/chap1_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.08-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Avoid invalid escape sequences
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
  FreydCategoriesForCAP/gap/AdelmanCategory.gd
  FreydCategoriesForCAP/gap/CategoryOfColumns.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/FreydCategory.gd
  FreydCategoriesForCAP/gap/GroupsAsCats.gd
  FreydCategoriesForCAP/gap/LinearClosure.gd
  FreydCategoriesForCAP/gap/ProSetsAsCats.gd
  FreydCategoriesForCAP/gap/Relations.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
Due: FreydCategoriesForCAP

Add missing quotation marks
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/FreydCategory.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
Due: FreydCategoriesForCAP

Avoid `and` of filters when extending range of hom structure
  CAP/gap/CategoryMorphisms.gi
Due: CAP

Improve code formatting for Julia
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CokernelImageClosure.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
  FreydCategoriesForCAP/gap/Relations.gi
  FreydCategoriesForCAP/gap/SerreSubcategoryFunctions.gi
  FreydCategoriesForCAP/tst/TensorCorrespondenceRowsAndOppositeOfRows.tst
Due: FreydCategoriesForCAP

Install DisplayString instead of Display at two places
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: FreydCategoriesForCAP

Avoid a convenience method
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
Due: FreydCategoriesForCAP

Use FunctionWithNamedArguments at more places
  CAP/gap/DummyImplementations.gi
  CAP/gap/ReinterpretationOfCategory.gi
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: CAP, FreydCategoriesForCAP

Do not view ring names in tests
  FreydCategoriesForCAP/examples/CategoryOfColumns.g
  FreydCategoriesForCAP/examples/CategoryOfRows.g
  FreydCategoriesForCAP/tst/add_hom_structure_using_external_hom.tst
Due: FreydCategoriesForCAP

Comment various things for Julia
  CAP/gap/InstallAdds.gi
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
  FreydCategoriesForCAP/init.g
  FreydCategoriesForCAP/read.g
Due: CAP, FreydCategoriesForCAP

Avoid `and` of filters in CategoryOfRows_as_AdditiveClosure_RingAsCategory
  FreydCategoriesForCAP/examples/RowsAndColsOverFields.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_Field_precompiled.gi
  FreydCategoriesForCAP/tst/CategoryOfRows_as_AdditiveClosure_RingAsCategory.tst
Due: FreydCategoriesForCAP

Avoid `and` of filters in CategoryOfRows
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: FreydCategoriesForCAP
