Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

d&i IsCategoryWithEqualizers/IsCategoryWithCoequalizers
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/ConstructiveCategoriesRecord.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/BicartesianCategories.gd
Due: CAP, CartesianCategories

Update website for CAP 2025.03-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2025.03-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

added missing true-methods
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/BicartesianCategories.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
Due: CAP, CartesianCategories, LinearAlgebraForCAP

Update website for CAP 2025.03-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2025.03-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2025.03-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

d&i ListOfDefiningOperations and used it to simplify the code
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/ConstructiveCategoriesRecord.gi
  CAP/gap/PrintingFunctions.gi
  CAP/gap/TerminalCategory.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/BicartesianCategories.gd
  CartesianCategories/gap/CartesianCategoriesProperties.gd
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCategoriesProperties.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  CartesianCategories/gap/CodistributiveCocartesianCategoriesProperties.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesProperties.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.gd
  MonoidalCategories/gap/MonoidalCategoriesProperties.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/SymmetricClosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/SymmetricCoclosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/SymmetricMonoidalCategoriesProperties.gi
Due: CAP, CartesianCategories, MonoidalCategories

clean up MissingOperationsForConstructivenessOfCategory
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
Due: CAP

renamed record entry EveryCategory -> IsCapCategory
  CAP/PackageInfo.g
  CAP/gap/ConstructiveCategoriesRecord.gi
  CAP/gap/PrintingFunctions.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/MonoidalCategoriesProperties.gd
Due: CAP, MonoidalCategories

fix for Julia
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
Due: LinearAlgebraForCAP

Update website for CAP 2025.03-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2025.03-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2025.03-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2025.03-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

clean up in CartesianCategories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CodistributiveCocartesianCategoriesProperties.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesProperties.gd
  CartesianCategories/init.g
  CartesianCategories/read.g
Due: CartesianCategories

Update website for CartesianCategories 2025.04-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

comply with CAP's convention of CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD
  CAP/gap/ConstructiveCategoriesRecord.gi
Due: CAP

d&i IsCategoryWithKernels/Cokernels
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/ConstructiveCategoriesRecord.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: CAP, FreydCategoriesForCAP

improved error messages
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/MethodRecordTools.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2025.04-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2025.04-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for CAP 2025.04-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

added missing true methods
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
Due: CAP, LinearAlgebraForCAP

Update website for CAP 2025.04-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for LinearAlgebraForCAP 2025.04-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

improved/fixed CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD.IsAbelianCategory
  CAP/PackageInfo.g
  CAP/gap/ConstructiveCategoriesRecord.gi
Due: CAP

Update website for CAP 2025.04-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

comment Display methods for Julia
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/GradedRowOrColumn.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/GradedRowOrColumnMorphism.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/CoFreydCategory.gi
  FreydCategoriesForCAP/gap/CokernelImageClosure.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

added missing true-methods
  CartesianCategories/gap/CartesianCategoriesProperties.gi
  CartesianCategories/gap/CocartesianCategoriesProperties.gi
  CartesianCategories/read.g
Due: CartesianCategories

bumped version
  CartesianCategories/PackageInfo.g
Due: CartesianCategories

d&i SetTensorProductToDirectProduct/Coproduct
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategories_extra.gd
  CartesianCategories/gap/CartesianCategories_extra.gi
  CartesianCategories/gap/CocartesianCategories_extra.gd
  CartesianCategories/gap/CocartesianCategories_extra.gi
  CartesianCategories/read.g
Due: CartesianCategories

Update website for CartesianCategories 2025.04-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

fixed SetTensorProductToDirectProduct/Coproduct for Julia
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategories_extra.gi
  CartesianCategories/gap/CocartesianCategories_extra.gi
Due: CartesianCategories

fixed example file for Julia
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
Due: LinearAlgebraForCAP

Update website for CartesianCategories 2025.05-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for LinearAlgebraForCAP 2025.05-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for FreydCategoriesForCAP 2025.04-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

set missing weights in SetTensorProductToDirectProduct/Coproduct
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategories_extra.gi
  CartesianCategories/gap/CocartesianCategories_extra.gi
Due: CartesianCategories
