Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

clean up in GroupAsCategory
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gd
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: none

Update website for GroupsAsCategoriesForCAP 2026.05-02
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

CapJitAddTypeSignature( "GroupAsCategoryMorphism", ... )
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gd
Due: none

remove CAP_INTERNAL_ADD_REPLACEMENTS_FOR_METHOD_RECORD.InverseImmutable
  CAP/PackageInfo.g
  CAP/gap/CategoryMorphismsOperations.gi
Due: CAP

Update website for GroupsAsCategoriesForCAP 2026.05-03
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Update website for CAP 2026.05-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Use WithGiven in derivations of distributivity morphisms
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/AdditiveMonoidalCategoriesDerivedMethods.gi
Due: LinearAlgebraForCAP, MonoidalCategories

Update website for LinearAlgebraForCAP 2026.05-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2026.05-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

bump dependancy on MonoidalCategories
  LinearAlgebraForCAP/PackageInfo.g
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2026.05-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Add additive functor data builder with caching
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gd
  CAP/gap/CategoriesCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/Basics.gi
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2026.05-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap5.html
  CAP/doc/chap5.txt
  CAP/doc/chap5_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2026.05-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Generalized the type of the 3- and 4-argument version of Iterated
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CAP, CompilerForCAP

Update website for CAP 2026.05-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2026.05-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

MultiplyGroupElements is now installed as \*
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: none

fixed CapJitAddTypeSignature( "MultiplyGroupElements", ... )
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gd
Due: none

CapJitAddTypeSignature for more operations of groups
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2026.05-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for GroupsAsCategoriesForCAP 2026.05-04
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

relocated code
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

test CapJitAddTypeSignature for operations of groups
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/CapJitTypedExpression.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2026.05-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Support a list of integers in method records
  CAP/PackageInfo.g
  CAP/gap/OppositeCategory.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Add multiplicity versions to monoidal distributivity morphisms
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/examples/WeakHomomorphismTheorem.g
  AdditiveClosuresForCAP/gap/CategoryOfRows.autogen.gd
  AdditiveClosuresForCAP/tst/TensorCorrespondenceRowsAndOppositeOfRows.tst
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  LinearAlgebraForCAP/tst/TensorCorrespondenceMatrixCategoryAndOpposite.tst
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/AdditiveMonoidalCategories.gd
  MonoidalCategories/gap/AdditiveMonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/AdditiveMonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/AdditiveMonoidalCategoriesMethodRecordDeclarations.autogen.gd
  MonoidalCategories/gap/AdditiveMonoidalCategoriesMethodRecordInstallations.autogen.gi
  MonoidalCategories/gap/AdditiveMonoidalCategoriesTest.gd
  MonoidalCategories/gap/AdditiveMonoidalCategoriesTest.gi
  MonoidalCategories/tst/TerminalCategoryMonoidal.tst
  MonoidalCategories/tst/TerminalCategoryMonoidalLeft.tst
Due: GradedModulePresentationsForCAP, LinearAlgebraForCAP, MonoidalCategories

Adjust CartesianCategories to MonoidalCategories
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CodistributiveCocartesianCategories.gd
  CartesianCategories/gap/CodistributiveCocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CodistributiveCocartesianCategoriesMethodRecordDeclarations.autogen.gd
  CartesianCategories/gap/CodistributiveCocartesianCategoriesMethodRecordInstallations.autogen.gi
  CartesianCategories/gap/CodistributiveCocartesianCategoriesTest.gd
  CartesianCategories/gap/CodistributiveCocartesianCategoriesTest.gi
  CartesianCategories/gap/DistributiveCartesianCategories.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/DistributiveCartesianCategoriesMethodRecordDeclarations.autogen.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesMethodRecordInstallations.autogen.gi
  CartesianCategories/gap/DistributiveCartesianCategoriesTest.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesTest.gi
  CartesianCategories/tst/TerminalCategoryCartesian.tst
  CartesianCategories/tst/TerminalCategoryCocartesian.tst
Due: CartesianCategories

Update website for CAP 2026.06-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for AdditiveClosuresForCAP 2026.06-01
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chap3.html
  AdditiveClosuresForCAP/doc/chap3.txt
  AdditiveClosuresForCAP/doc/chap3_mj.html
  AdditiveClosuresForCAP/doc/chap4.html
  AdditiveClosuresForCAP/doc/chap4.txt
  AdditiveClosuresForCAP/doc/chap4_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for CartesianCategories 2026.06-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for GradedModulePresentationsForCAP 2026.06-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1.txt
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for LinearAlgebraForCAP 2026.06-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2026.06-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Apply PackageJanitor
  dev/upload_codecov.sh
Due: none

CapJitCompiledFunction now supports the option apply_irreversible_optimizations
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
Due: CompilerForCAP

bumped version of CompilerForCAP
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

deleted obsolete Julia comments
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

CapJitAddTypeSignature( "Number", ... )
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2026.06-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
