Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for CompilerForCAP 2024.10-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Replace operation_weights in CategoryConstructor by a better mechanism
  CAP/gap/CategoryConstructor.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/DummyImplementations.gi
  CAP/gap/ReinterpretationOfCategory.gi
  CAP/gap/TerminalCategory.gi
  CompilerForCAP/tst/300_proof_AdditiveClosure_hom_structure.tst
Due: CAP, CompilerForCAP

Update website for CAP 2024.10-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.10-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Added monoidal structure to AdditiveClosure
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/AdditiveClosureKronecker.g
  FreydCategoriesForCAP/examples/AdditiveClosureMonoidal.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Integrate CAP_INTERNAL_FINAL_DERIVATION_SANITY_CHECK into AddFinalDerivationBundle
  CAP/gap/Derivations.gi
Due: CAP

Deduplicate the canonicalization of used ops of derivations
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Deduplicate a check
  CAP/gap/Derivations.gi
Due: CAP

Remove obsolete assignment
  CAP/gap/Derivations.gi
Due: CAP

Improve nomenclature
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CAP/gap/Finalize.gi
Due: CAP

Update website for FreydCategoriesForCAP 2024.10-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Fix an edge case which can occur if derivations depend on operations in other categories
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
Due: CAP

Update website for CAP 2024.10-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2024.10-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Populate category!.operations and added_functions earlier
  CAP/gap/InstallAdds.gi
Due: CAP

Display warnings when overwriting existing functions in more cases
  CAP/gap/InstallAdds.gi
Due: CAP

Update website for CAP 2024.10-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Remove an obsolete workaround
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
Due: CompilerForCAP

Keep name of compiled functions
  CompilerForCAP/doc/Extension.autodoc
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/LogicTemplates.gi
Due: CompilerForCAP

Bump version
  CompilerForCAP/PackageInfo.g
Due: CompilerForCAP

Adjust indentation of CAP_JIT_INTERNAL_POST_PROCESSED_TREE
  CompilerForCAP/gap/CompilerForCAP.gi
Due: CompilerForCAP

Introduce CAP_JIT_INTERNAL_POST_PROCESSED_TREE
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/PrecompileCategory.gi
  CompilerForCAP/gap/ProofAssistant.gi
  CompilerForCAP/gap/ResolveOperations.gi
  CompilerForCAP/tst/ENHANCED_SYNTAX_TREE.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2024.10-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Refactor the arguments of CapJitCompiledFunction(AsEnhancedSyntaxTree)
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompileCAPOperation.gd
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/ResolveOperations.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2024.10-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Avoid unnecessary replacements in CapJitReplacedSourceAndRangeAttributes
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CompilerHints.gi
  CompilerForCAP/tst/CAP_JIT_INTERNAL_TELESCOPED_ITERATION.tst
  CompilerForCAP/tst/CapJitReplacedSourceAndRangeAttributes.tst
  CompilerForCAP/tst/StopCompilationAtCategory.tst
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_ArbitraryRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_CommutativeRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_Field_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_HomalgExteriorRingOverField_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_ArbitraryRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_CommutativeRing_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_Field_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_HomalgExteriorRingOverField_precompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/Opposite_MatrixCategory_precompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Cache precompiled functions without irreversible optimizations for future use
  CAP/gap/CAP.gi
  CAP/gap/InstallAdds.gi
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/CompilerHints.gd
  CompilerForCAP/gap/CompilerHints.gi
  CompilerForCAP/gap/PrecompileCategory.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_HomalgExteriorRingOverField_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_Field_precompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_HomalgExteriorRingOverField_precompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/Opposite_MatrixCategory_precompiled.gi
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CAP 2024.10-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.10-06
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.10-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.10-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Remove CircleCI
  .circleci/config.yml
Due: none

Avoid using the monoidal structure in CAP tests
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
Due: CAP

converted Display -> DisplayString for AdditiveClosure
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/AdditiveClosureKronecker.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Update website for CAP 2024.10-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2024.10-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

fixed FreydCategoriesForCAP tests for Julia
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/AdditiveClosureKronecker.g
  FreydCategoriesForCAP/examples/AdditiveClosureMonoidal.g
Due: FreydCategoriesForCAP
