Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Revert "this is a (hopefully temporary) fix for the previous commit 84c7ab7"
  ModulePresentationsForCAP/gap/ModulePresentationMorphism.gi
  ModulePresentationsForCAP/gap/ModulePresentationObject.gi
Due: ModulePresentationsForCAP

Simplify AsLeftOrRightPresentation and PresentationMorphism
  ModulePresentationsForCAP/gap/ModulePresentationMorphism.gi
  ModulePresentationsForCAP/gap/ModulePresentationObject.gi
Due: ModulePresentationsForCAP

Bump version
  ModulePresentationsForCAP/PackageInfo.g
Due: ModulePresentationsForCAP

Revert "made FinalDerivation of HomStructure work for WrapperCategory"
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/HomomorphismStructureDerivedMethods.gi
Due: CartesianCategories

Update website for ModulePresentationsForCAP 2022.10-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Install non-WithGiven operations of homomorphism structure in WrapperCategory
  CAP/gap/WrapperCategory.gi
Due: CAP

Add more exclusions to final derivation
  CartesianCategories/gap/HomomorphismStructureDerivedMethods.gi
  MonoidalCategories/gap/HomomorphismStructureDerivedMethods.gi
Due: CartesianCategories, MonoidalCategories

Only set RangeCategoryOfHomomorphismStructure for wrapper category if a homomorphism structure is installed
  CAP/gap/WrapperCategory.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, CartesianCategories, MonoidalCategories

Update website for CAP 2022.10-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  _data/CAP.yml
Due: CAP

Update website for MonoidalCategories 2022.10-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Use CategoryOfRows as the range category of the homomorphism structure of CategoryOfColumns
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
Due: FreydCategoriesForCAP

Revert "Allow to overwrite some category attributes even if already set"
  CAP/gap/CAP.gd
Due: CAP

Revert "Do not use filters of the range category of homomorphism structure when installing operations"
  CAP/gap/ToolsForCategories.gi
Due: CAP

Revert "Make category!.object_type/morphism_type available as attributes"
  CAP/gap/CAP.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, FreydCategoriesForCAP

Update documentation
  CAP/gap/CAP.gd
Due: CAP

Update website for CAP 2022.10-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2022.10-03
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Finalize range of homomorphism structure in FreydCategory
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.10-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Convert two further examples to tst files
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/CapJitInlinedBindings.g
  CompilerForCAP/examples/CapJitInlinedFunctionCalls.g
  CompilerForCAP/tst/CapJitInlinedBindings.tst
  CompilerForCAP/tst/CapJitInlinedFunctionCalls.tst
Due: CompilerForCAP

Update website for CompilerForCAP 2022.10-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Change the return_type of the random methods from
  CAP/PackageInfo.g
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryObjects.gd
  CAP/gap/MethodRecord.gi
Due: CAP

Add the following type signatures
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Add more derivations of random methods
  CAP/gap/DerivedMethods.gi
Due: CAP

Make random methods in category of rows more compiler friendly
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.gd
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
Due: FreydCategoriesForCAP

Add convenience methods:
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
Due: CAP

Update website for CAP 2022.10-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2.txt
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2022.10-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Remove MatrixCategoryAsAdditiveClosureOfRingAsCategory
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/tst/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.tst
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/MatrixCategoryAsAdditiveClosureOfRingAsCategory.g
  LinearAlgebraForCAP/gap/MatrixCategoryAsAdditiveClosureOfRingAsCategory.gd
  LinearAlgebraForCAP/gap/MatrixCategoryAsAdditiveClosureOfRingAsCategory.gi
  LinearAlgebraForCAP/init.g
  LinearAlgebraForCAP/read.g
Due: FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for FreydCategoriesForCAP 2022.10-06
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.10-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Fix whitespace
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gi
Due: FreydCategoriesForCAP

Fix typo
  CAP/gap/ToolsForCategories.gi
Due: CAP

Use IsStringRep instead of IsString
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CompilerForCAP

Introduce non-attribute versions of RingAsCategory and AdditiveClosure
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gd
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, CompilerForCAP, FreydCategoriesForCAP

Handle pre-additive ranges of the underlying hom structure in AdditiveClosure
  FreydCategoriesForCAP/examples/AdditiveClosure.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
Due: FreydCategoriesForCAP

Introduce ExtendRangeOfHomomorphismStructureByFullEmbedding
  CAP/examples/LinearAlgebraForCAP.g
  CAP/gap/CategoryMorphisms.gd
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/WrapperCategory.gi
Due: CAP
