Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for CartesianCategories 2024.03-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Use CreateCapCategoryWithDataTypes when creating CapCat
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
Due: CAP

Update website for CAP 2024.03-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Create CapCat in Julia
  CAP/PackageInfo.g
  CAP/gap/init.gi
Due: CAP

Update website for CAP 2024.03-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Avoid duplicate installation of CAP operations in an example
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
Due: CartesianCategories

Update website for CartesianCategories 2024.03-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Use package extensions
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/Synonyms.gd
  CartesianCategories/init.g
  CartesianCategories/read.g
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/init.g
  FreydCategoriesForCAP/read.g
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/read.g
  LinearAlgebraForCAP/tst/050_load_with_suggested_dependencies.tst
  LinearAlgebraForCAP/tst/100_LoadPackage.tst
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/read.g
Due: CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Remove workarounds for GAP 4.12
  CompilerForCAP/gap/EnhancedSyntaxTree.gi
  CompilerForCAP/gap/InferDataTypes.gi
  CompilerForCAP/gap/ResolveGlobalVariables.gi
  CompilerForCAP/tst/MatElm.tst
  dev/ci_gaprc
Due: CompilerForCAP

Use preference ShortBanners
  dev/ci_gaprc
Due: none

Apply PackageJanitor
  .github/workflows/Tests.yml
  dev/.release
  dev/release-gap-package
Due: none

Bump versions
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
Due: CartesianCategories, CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Introduce global options which are not consumed by FunctionWithNamedArguments
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2024.03-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

installed InitialObject/TerminalObject as empty coproduct/product
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.gi
Due: CAP

Update GAP manuals baseurl
  Manual/Tutorial.tex
  dev/release-gap-package
Due: none

Require GAP 4.13
  ActionsForCAP/PackageInfo.g
  AttributeCategoryForCAP/PackageInfo.g
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
  ToricSheaves/PackageInfo.g
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Bump versions
  ActionsForCAP/PackageInfo.g
  AttributeCategoryForCAP/PackageInfo.g
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
  ToricSheaves/PackageInfo.g
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CAP 2024.04-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap10.html
  CAP/doc/chap10_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12_mj.html
  CAP/doc/chap13.html
  CAP/doc/chap13_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15_mj.html
  CAP/doc/chap16.html
  CAP/doc/chap16_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chap2.html
  CAP/doc/chap2_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3_mj.html
  CAP/doc/chap4.html
  CAP/doc/chap4_mj.html
  CAP/doc/chap5.html
  CAP/doc/chap5_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2024.04-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  ActionsForCAP/doc/chap1.html
  ActionsForCAP/doc/chap1_mj.html
  ActionsForCAP/doc/chapInd.html
  ActionsForCAP/doc/chapInd_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AttributeCategoryForCAP 2024.04-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  AttributeCategoryForCAP/doc/chap1.html
  AttributeCategoryForCAP/doc/chap1_mj.html
  AttributeCategoryForCAP/doc/chap2.html
  AttributeCategoryForCAP/doc/chap2_mj.html
  AttributeCategoryForCAP/doc/chapInd.html
  AttributeCategoryForCAP/doc/chapInd_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CartesianCategories 2024.04-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4_mj.html
  CartesianCategories/doc/chap5.html
  CartesianCategories/doc/chap5_mj.html
  CartesianCategories/doc/chap6.html
  CartesianCategories/doc/chap6_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2024.04-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3_mj.html
  CompilerForCAP/doc/chapInd.html
  CompilerForCAP/doc/chapInd_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2024.04-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  ComplexesAndFilteredObjectsForCAP/doc/chap1.html
  ComplexesAndFilteredObjectsForCAP/doc/chap1_mj.html
  ComplexesAndFilteredObjectsForCAP/doc/chapInd.html
  ComplexesAndFilteredObjectsForCAP/doc/chapInd_mj.html
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for GeneralizedMorphismsForCAP 2024.04-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  GeneralizedMorphismsForCAP/doc/chap1.html
  GeneralizedMorphismsForCAP/doc/chap1_mj.html
  GeneralizedMorphismsForCAP/doc/chap2.html
  GeneralizedMorphismsForCAP/doc/chap2_mj.html
  GeneralizedMorphismsForCAP/doc/chap3.html
  GeneralizedMorphismsForCAP/doc/chap3_mj.html
  GeneralizedMorphismsForCAP/doc/chap4.html
  GeneralizedMorphismsForCAP/doc/chap4_mj.html
  GeneralizedMorphismsForCAP/doc/chap5.html
  GeneralizedMorphismsForCAP/doc/chap5_mj.html
  GeneralizedMorphismsForCAP/doc/chap6.html
  GeneralizedMorphismsForCAP/doc/chap6_mj.html
  GeneralizedMorphismsForCAP/doc/chap7.html
  GeneralizedMorphismsForCAP/doc/chap7_mj.html
  GeneralizedMorphismsForCAP/doc/chap8.html
  GeneralizedMorphismsForCAP/doc/chap8_mj.html
  GeneralizedMorphismsForCAP/doc/chap9.html
  GeneralizedMorphismsForCAP/doc/chap9_mj.html
  GeneralizedMorphismsForCAP/doc/chapInd.html
  GeneralizedMorphismsForCAP/doc/chapInd_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2024.04-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  GradedModulePresentationsForCAP/doc/chapInd.html
  GradedModulePresentationsForCAP/doc/chapInd_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2024.04-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chap1.html
  GroupRepresentationsForCAP/doc/chap1_mj.html
  GroupRepresentationsForCAP/doc/chap2.html
  GroupRepresentationsForCAP/doc/chap2_mj.html
  GroupRepresentationsForCAP/doc/chap3.html
  GroupRepresentationsForCAP/doc/chap3_mj.html
  GroupRepresentationsForCAP/doc/chap4.html
  GroupRepresentationsForCAP/doc/chap4_mj.html
  GroupRepresentationsForCAP/doc/chap5.html
  GroupRepresentationsForCAP/doc/chap5_mj.html
  GroupRepresentationsForCAP/doc/chapInd.html
  GroupRepresentationsForCAP/doc/chapInd_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for HomologicalAlgebraForCAP 2024.04-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  HomologicalAlgebraForCAP/doc/chap1.html
  HomologicalAlgebraForCAP/doc/chap1_mj.html
  HomologicalAlgebraForCAP/doc/chapInd.html
  HomologicalAlgebraForCAP/doc/chapInd_mj.html
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for InternalExteriorAlgebraForCAP 2024.04-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  InternalExteriorAlgebraForCAP/doc/chap1.html
  InternalExteriorAlgebraForCAP/doc/chap1_mj.html
  InternalExteriorAlgebraForCAP/doc/chapInd.html
  InternalExteriorAlgebraForCAP/doc/chapInd_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2024.04-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap1.html
  LinearAlgebraForCAP/doc/chap1_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2_mj.html
  LinearAlgebraForCAP/doc/chapInd.html
  LinearAlgebraForCAP/doc/chapInd_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.04-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/chap1.html
  ModulePresentationsForCAP/doc/chap1_mj.html
  ModulePresentationsForCAP/doc/chap2.html
  ModulePresentationsForCAP/doc/chap2_mj.html
  ModulePresentationsForCAP/doc/chapInd.html
  ModulePresentationsForCAP/doc/chapInd_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP
