Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

d&i FilterIntersection
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
Due: CAP

Update website for CAP 2026.03-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap12.html
  CAP/doc/chap12.txt
  CAP/doc/chap12_mj.html
  CAP/doc/chap13.html
  CAP/doc/chap13.txt
  CAP/doc/chap13_mj.html
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap16.html
  CAP/doc/chap16.txt
  CAP/doc/chap16_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3_mj.html
  CAP/doc/chap5.html
  CAP/doc/chap5.txt
  CAP/doc/chap5_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Adjust to MonoidalCategories 2026.03-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianCategories.gd
  CartesianCategories/gap/CartesianCategoriesDerivedMethods.gi
  CartesianCategories/gap/CartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CartesianCategoriesMethodRecordDeclarations.autogen.gd
  CartesianCategories/gap/CartesianCategoriesMethodRecordInstallations.autogen.gi
  CartesianCategories/gap/CartesianCategoriesTest.gi
  CartesianCategories/gap/CocartesianCategories.gd
  CartesianCategories/gap/CocartesianCategoriesDerivedMethods.gi
  CartesianCategories/gap/CocartesianCategoriesMethodRecord.gi
  CartesianCategories/gap/CocartesianCategoriesMethodRecordDeclarations.autogen.gd
  CartesianCategories/gap/CocartesianCategoriesMethodRecordInstallations.autogen.gi
  CartesianCategories/gap/CocartesianCategoriesTest.gi
  CartesianCategories/gap/Tools.gi
Due: CartesianCategories

Add specialised tensor product operations for identity morphisms
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/examples/WeakHomomorphismTheorem.g
  AdditiveClosuresForCAP/gap/CategoryOfRows.autogen.gd
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/examples/CohP1.g
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/MonoidalCategories.gd
  MonoidalCategories/gap/MonoidalCategoriesDerivedMethods.gi
  MonoidalCategories/gap/MonoidalCategoriesMethodRecord.gi
  MonoidalCategories/gap/MonoidalCategoriesMethodRecordDeclarations.autogen.gd
  MonoidalCategories/gap/MonoidalCategoriesMethodRecordInstallations.autogen.gi
  MonoidalCategories/gap/MonoidalCategoriesTest.gi
Due: GradedModulePresentationsForCAP, LinearAlgebraForCAP, MonoidalCategories

FreydCategoriesForCAP -> AdditiveClosuresForCAP
  .github/pull_request_template.md
Due: none

a computer algebra software project for *Algorithmic Category Theory*
  README.md
Due: none

a computer algebra software project for **Algorithmic Category Theory**
  README.md
Due: none

Update website for CAP 2026.04-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for AdditiveClosuresForCAP 2026.04-01
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chap2.html
  AdditiveClosuresForCAP/doc/chap2.txt
  AdditiveClosuresForCAP/doc/chap2_mj.html
  AdditiveClosuresForCAP/doc/chap4.html
  AdditiveClosuresForCAP/doc/chap4.txt
  AdditiveClosuresForCAP/doc/chap4_mj.html
  AdditiveClosuresForCAP/doc/chap6.html
  AdditiveClosuresForCAP/doc/chap6.txt
  AdditiveClosuresForCAP/doc/chap6_mj.html
  AdditiveClosuresForCAP/doc/chap9.html
  AdditiveClosuresForCAP/doc/chap9.txt
  AdditiveClosuresForCAP/doc/chap9_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for AttributeCategoryForCAP 2026.04-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  AttributeCategoryForCAP/doc/chap1.html
  AttributeCategoryForCAP/doc/chap1.txt
  AttributeCategoryForCAP/doc/chap1_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CompilerForCAP 2026.04-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2026.04-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap13.html
  FreydCategoriesForCAP/doc/chap13.txt
  FreydCategoriesForCAP/doc/chap13_mj.html
  FreydCategoriesForCAP/doc/chap14.html
  FreydCategoriesForCAP/doc/chap14.txt
  FreydCategoriesForCAP/doc/chap14_mj.html
  FreydCategoriesForCAP/doc/chap15.html
  FreydCategoriesForCAP/doc/chap15.txt
  FreydCategoriesForCAP/doc/chap15_mj.html
  FreydCategoriesForCAP/doc/chap16.html
  FreydCategoriesForCAP/doc/chap16.txt
  FreydCategoriesForCAP/doc/chap16_mj.html
  FreydCategoriesForCAP/doc/chap4.html
  FreydCategoriesForCAP/doc/chap4.txt
  FreydCategoriesForCAP/doc/chap4_mj.html
  FreydCategoriesForCAP/doc/chapInd.html
  FreydCategoriesForCAP/doc/chapInd.txt
  FreydCategoriesForCAP/doc/chapInd_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GroupRepresentationsForCAP 2026.04-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  GroupRepresentationsForCAP/doc/chap2.html
  GroupRepresentationsForCAP/doc/chap2.txt
  GroupRepresentationsForCAP/doc/chap2_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2026.04-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap1.html
  LinearAlgebraForCAP/doc/chap1.txt
  LinearAlgebraForCAP/doc/chap1_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for LinearClosuresForCAP 2026.04-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

Update website for ModulePresentationsForCAP 2026.04-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/chap1.html
  ModulePresentationsForCAP/doc/chap1.txt
  ModulePresentationsForCAP/doc/chap1_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

support linear categories over commutative semirings
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
  CAP/PackageInfo.g
  CAP/examples/dummy_rings.g
  CAP/examples/dummy_semirings.g
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/ConstructiveCategoriesRecord.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/DummyImplementations.gd
  CAP/gap/DummyImplementations.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
Due: CAP, LinearAlgebraForCAP

Update website for CAP 2026.04-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap14.html
  CAP/doc/chap14.txt
  CAP/doc/chap14_mj.html
  CAP/doc/chap17.html
  CAP/doc/chap17.txt
  CAP/doc/chap17_mj.html
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for AdditiveClosuresForCAP 2026.04-02
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for LinearAlgebraForCAP 2026.04-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for GroupsAsCategoriesForCAP 2026.04-02
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Update website for LinearAlgebraForCAP 2026.04-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for AdditiveClosuresForCAP 2026.05-01
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chap3.html
  AdditiveClosuresForCAP/doc/chap3.txt
  AdditiveClosuresForCAP/doc/chap3_mj.html
  AdditiveClosuresForCAP/doc/chap4.html
  AdditiveClosuresForCAP/doc/chap4.txt
  AdditiveClosuresForCAP/doc/chap4_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for CartesianCategories 2026.05-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for GradedModulePresentationsForCAP 2026.05-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1.txt
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for LinearAlgebraForCAP 2026.05-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2026.05-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap1.html
  MonoidalCategories/doc/chap1.txt
  MonoidalCategories/doc/chap1_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for CAP 2026.05-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for AdditiveClosuresForCAP 2026.05-02
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chap3.html
  AdditiveClosuresForCAP/doc/chap3.txt
  AdditiveClosuresForCAP/doc/chap3_mj.html
  AdditiveClosuresForCAP/doc/chap4.html
  AdditiveClosuresForCAP/doc/chap4.txt
  AdditiveClosuresForCAP/doc/chap4_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for GradedModulePresentationsForCAP 2026.05-02
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1.txt
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for LinearAlgebraForCAP 2026.05-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for CAP 2026.05-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

d&i the operation GROUP_AS_CATEGORY
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gd
  GroupsAsCategoriesForCAP/gap/GroupsAsCats.gi
Due: none

Update website for GroupsAsCategoriesForCAP 2026.05-01
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

d&i CapJitDataTypeOfSubgroup and added CapJitAddTypeSignature
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CAP, CompilerForCAP

Update website for CAP 2026.05-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2026.05-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Cache subgroup filter to avoid resolver loop
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2026.05-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP
