Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

added more CapJitAddTypeSignature to compile TerminalCategory
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CAP 2022.07-01
  CAP/PackageInfo.g
  CAP/README.md
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.07-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/README.md
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

set IsZeroForObjects/IsZeroForMorphisms in TerminalCategory
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/examples/TerminalCategoryWithMultipleObjects.g
  MonoidalCategories/gap/TerminalCategory.gi
Due: MonoidalCategories

Update website for MonoidalCategories 2022.08-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/README.md
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap4.html
  MonoidalCategories/doc/chap4.txt
  MonoidalCategories/doc/chap4_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

improve set IsZeroForObjects/IsZeroForMorphisms in TerminalCategory
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/TerminalCategory.gi
Due: MonoidalCategories

Add RingsForHomalg as a SuggestedDependency for ModulePresentationsForCAP
  ModulePresentationsForCAP/PackageInfo.g
Due: ModulePresentationsForCAP

Update website for ModulePresentationsForCAP 2022.08-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/README.md
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2022.08-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

CapJitAddTypeSignature( "Cartesian", [ IsList ] ... )
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.08-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Warn if Objectify*ForCAP occurs more often than expected in compiled code
  CompilerForCAP/examples/PrecompileCategoryOfColumnsAsOppositeOfCategoryOfRows.g
  CompilerForCAP/examples/PrecompileCategoryOfRowsAsAdditiveClosureOfRingAsCategory.g
  CompilerForCAP/examples/PrecompileLinearAlgebraForCAP.g
  CompilerForCAP/examples/PrecompileModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.g
  CompilerForCAP/examples/PrecompileOppositeOfLinearAlgebraForCAP.g
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CompilerForCAP

Remove obsolete relaxations
  FreydCategoriesForCAP/gap/FreydCategory.gd
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Call MorphismDatum with category as first argument in FreydCategory
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

Add heuristic which prevents warnings about non-resolved CAP operations
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CompilerForCAP

Ignore some lines in coverage
  CompilerForCAP/gap/PrecompileCategory.gi
Due: CompilerForCAP

Remove obsolete code
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
Due: FreydCategoriesForCAP

Bump versions
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CompilerForCAP, FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2022.08-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/README.md
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap11.html
  FreydCategoriesForCAP/doc/chap11_mj.html
  FreydCategoriesForCAP/doc/chapInd.html
  FreydCategoriesForCAP/doc/chapInd.txt
  FreydCategoriesForCAP/doc/chapInd_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Add documentation for `number_of_objectified_*_in_data_structure_of_*`
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/PrecompileCategory.gd
Due: CompilerForCAP

Update website for CompilerForCAP 2022.08-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Introduce CAP_INTERNAL_REPLACE_STRING_WITH_FILTER
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Allow strings in `IsSpecializationOfFilter`
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Introduce CAP_JIT_INTERNAL_GET_DATA_TYPE_FROM_FILTER_OR_STRING
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/InferDataTypes.gd
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Handle the data types of CAP operations
  CompilerForCAP/examples/StopCompilationAtCategory.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Update website for CAP 2022.08-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2022.08-03
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

CapJitAddTypeSignature( "Reversed", [ IsList ], ... )
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/InferDataTypes.gi
Due: CompilerForCAP

Update website for CompilerForCAP 2022.08-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Do not use filters of the range category of homomorphism structure when installing operations
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2022.08-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Disable post processing for syntax trees which are cached and later reused
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CompileCAPOperation.gd
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/PrecompileCategory.gi
  CompilerForCAP/gap/ResolveOperations.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Disable post processing for syntax trees which are cached and later reused
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/LinearAlgebraForCAP.g
  CompilerForCAP/gap/CompileCAPOperation.gd
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/CompilerForCAP.gd
  CompilerForCAP/gap/CompilerForCAP.gi
  CompilerForCAP/gap/PrecompileCategory.gi
  CompilerForCAP/gap/ResolveOperations.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Update website for CompilerForCAP 2022.08-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap1.html
  CompilerForCAP/doc/chap1.txt
  CompilerForCAP/doc/chap1_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2022.08-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2022.08-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/README.md
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Add new options to WrapperCategory for explicit conversion of data structures
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/WrapperCategory.gd
  CAP/gap/WrapperCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRowsAsAdditiveClosureOfRingAsCategory.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/MatrixCategoryAsAdditiveClosureOfRingAsCategory.gi
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Remove superfluous checks in IsWellDefinedFor* in MatrixCategory and CategoryOfRows
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  FreydCategoriesForCAP/gap/precompiled_categories/CategoryOfColumnsAsOppositeOfCategoryOfRowsOfFieldPrecompiled.gi
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  LinearAlgebraForCAP/gap/precompiled_categories/OppositeOfMatrixCategoryPrecompiled.gi
Due: FreydCategoriesForCAP, LinearAlgebraForCAP

Do not keep ModelingCategory as a known attribute of CategoryOfColumns
  FreydCategoriesForCAP/gap/CategoryOfColumnsAsOppositeOfCategoryOfRows.gi
Due: FreydCategoriesForCAP
