Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CAP 2023.02-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Apply PackageJanitor
  .github/workflows/Tests.yml
  dev/.release
  dev/ci_gaprc
  dev/codecov.yml
  dev/make_dist.sh
  dev/process_coverage.py
  dev/release-gap-package
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  make_dist.sh
  upload_codecov.sh
Due: none

final derivations of HomStructure now require the range category to be set
  CAP/PackageInfo.g
  CAP/examples/FieldAsCategory.g
  CAP/gap/TerminalCategory.gi
  CAP/gap/WrapperCategory.gi
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InitialCategory.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/HomomorphismStructureDerivedMethods.gi
  CartesianCategories/gap/InitialCategory.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gi
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
  FreydCategoriesForCAP/gap/LinearClosure.gi
  FreydCategoriesForCAP/gap/ProSetsAsCats.gi
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
  FreydCategoriesForCAP/tst/add_hom_structure_using_external_hom.tst
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/gap/SemisimpleCategory.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/HomomorphismStructureDerivedMethods.gi
Due: CAP, CartesianCategories, FreydCategoriesForCAP, GroupRepresentationsForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CAP 2023.02-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2023.02-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap4.html
  CartesianCategories/doc/chap4.txt
  CartesianCategories/doc/chap4_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2023.02-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GroupRepresentationsForCAP 2023.02-02
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2023.02-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2023.02-04
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Apply PackageJanitor
  dev/make_dist.sh
  dev/release-gap-package
  dev/simulate_dist.sh
Due: none

continue complying with CAP v2023.02-09
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

Update website for ModulePresentationsForCAP 2023.02-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Use modeling_* options in ModulePresentationsForCAP
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.gi
Due: ModulePresentationsForCAP

Apply PackageJanitor
  update.g
Due: none

Move operations to compile
  CompilerForCAP/examples/PrecompileModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfArbitraryRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfFieldPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentationsAsFreydCategoryOfCategoryOfColumnsOfArbitraryRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentationsAsFreydCategoryOfCategoryOfColumnsOfCommutativeRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentationsAsFreydCategoryOfCategoryOfColumnsOfFieldPrecompiled.gi
Due: CompilerForCAP, ModulePresentationsForCAP

Update website for ModulePresentationsForCAP 2023.02-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Compile closed tensor structure
  CompilerForCAP/examples/PrecompileModulePresentationsAsFreydCategoryOfCategoryOfRowsOrColumns.g
  CompilerForCAP/gap/InferDataTypes.gi
  FreydCategoriesForCAP/gap/FreydCategory.gd
  FreydCategoriesForCAP/gap/FreydCategory.gi
  LinearAlgebraForCAP/gap/CompilerLogic.gi
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategoryPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/LeftPresentationsAsFreydCategoryOfCategoryOfRowsOfFieldPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentationsAsFreydCategoryOfCategoryOfColumnsOfCommutativeRingPrecompiled.gi
  ModulePresentationsForCAP/gap/precompiled_categories/RightPresentationsAsFreydCategoryOfCategoryOfColumnsOfFieldPrecompiled.gi
Due: CompilerForCAP, FreydCategoriesForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP

Remove code
  CAP/examples/ModulePresentationsMonoidalCategory.g
  ModulePresentationsForCAP/examples/MonoidalStructure.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gd
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: CAP, ModulePresentationsForCAP

Update website for CAP 2023.02-10
  CAP/PackageInfo.g
  CAP/README.md
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2023.02-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/README.md
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AttributeCategoryForCAP 2023.02-04
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/README.md
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CartesianCategories 2023.02-05
  CartesianCategories/PackageInfo.g
  CartesianCategories/README.md
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2023.02-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/README.md
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for ComplexesAndFilteredObjectsForCAP 2023.02-01
  ComplexesAndFilteredObjectsForCAP/PackageInfo.g
  ComplexesAndFilteredObjectsForCAP/README.md
  ComplexesAndFilteredObjectsForCAP/doc/chap0.html
  ComplexesAndFilteredObjectsForCAP/doc/chap0.txt
  ComplexesAndFilteredObjectsForCAP/doc/chap0_mj.html
  _data/ComplexesAndFilteredObjectsForCAP.yml
Due: ComplexesAndFilteredObjectsForCAP

Update website for DeductiveSystemForCAP 2023.02-01
  DeductiveSystemForCAP/PackageInfo.g
  DeductiveSystemForCAP/README.md
  DeductiveSystemForCAP/doc/chap0.html
  DeductiveSystemForCAP/doc/chap0.txt
  DeductiveSystemForCAP/doc/chap0_mj.html
  _data/DeductiveSystemForCAP.yml
Due: DeductiveSystemForCAP

Update website for FreydCategoriesForCAP 2023.02-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/README.md
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2023.02-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/README.md
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2023.02-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/README.md
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1.txt
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2023.02-03
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/README.md
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for HomologicalAlgebraForCAP 2023.02-01
  HomologicalAlgebraForCAP/PackageInfo.g
  HomologicalAlgebraForCAP/README.md
  HomologicalAlgebraForCAP/doc/chap0.html
  HomologicalAlgebraForCAP/doc/chap0.txt
  HomologicalAlgebraForCAP/doc/chap0_mj.html
  _data/HomologicalAlgebraForCAP.yml
Due: HomologicalAlgebraForCAP

Update website for InternalExteriorAlgebraForCAP 2023.02-02
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/README.md
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2023.02-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/README.md
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2023.02-03
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/README.md
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for ModulesOverLocalRingsForCAP 2023.02-01
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/README.md
  ModulesOverLocalRingsForCAP/doc/chap0.html
  ModulesOverLocalRingsForCAP/doc/chap0.txt
  ModulesOverLocalRingsForCAP/doc/chap0_mj.html
  _data/ModulesOverLocalRingsForCAP.yml
Due: ModulesOverLocalRingsForCAP

Update website for MonoidalCategories 2023.02-05
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/README.md
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for ToricSheaves 2023.02-01
  ToricSheaves/PackageInfo.g
  ToricSheaves/README.md
  ToricSheaves/doc/chap0.html
  ToricSheaves/doc/chap0.txt
  ToricSheaves/doc/chap0_mj.html
  _data/ToricSheaves.yml
Due: ToricSheaves

Warn if a derivation depends on other categories but does not test if those are available
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/Finalize.gi
Due: CAP

Update website for CAP 2023.02-11
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
