Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CAP 2024.08-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2024.08-08
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap16.html
  FreydCategoriesForCAP/doc/chap16.txt
  FreydCategoriesForCAP/doc/chap16_mj.html
  FreydCategoriesForCAP/doc/chap6.html
  FreydCategoriesForCAP/doc/chap6.txt
  FreydCategoriesForCAP/doc/chap6_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.08-09
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2024.08-04
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  ModulePresentationsForCAP/doc/chap2.html
  ModulePresentationsForCAP/doc/chap2.txt
  ModulePresentationsForCAP/doc/chap2_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Turn an AutoDoc example into a tst file
  CAP/examples/Simplify.g
  CAP/examples/StringsAsCategory.g
  CAP/tst/Simplify.tst
Due: CAP

Make test compatible with Julia
  CAP/tst/Simplify.tst
Due: CAP

Make test compatible with Julia
  LinearAlgebraForCAP/examples/MonoidalStructure.g
Due: LinearAlgebraForCAP

Bump versions
  CAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
Due: CAP, LinearAlgebraForCAP, MonoidalCategories

Move test from MonoidalCategories to a more appropriate package
  LinearAlgebraForCAP/examples/MonoidalStructure.g
  MonoidalCategories/examples/.gitkeep
Due: LinearAlgebraForCAP, MonoidalCategories

Update website for CAP 2024.09-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for LinearAlgebraForCAP 2024.09-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2024.09-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Make more parts of tests compatible with Julia
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/Example.g
  LinearAlgebraForCAP/examples/SplitEpiSummand.g
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2024.09-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Modernize ProductCategory
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryTwoCells.gi
  CAP/gap/ProductCategory.gd
  CAP/gap/ProductCategory.gi
Due: CAP

Update website for CAP 2024.09-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Make ApplyFunctor compatible with Julia and add a test
  CAP/gap/CategoriesCategory.gi
  LinearAlgebraForCAP/examples/Functors.g
Due: CAP, LinearAlgebraForCAP

Introduce CreateCapCategoryTwoCellWithAttributes
  CAP/gap/CAP.gi
  CAP/gap/CategoriesCategory.gi
  CAP/gap/CategoryTwoCells.gd
  CAP/gap/CategoryTwoCells.gi
  CAP/gap/ProductCategory.gi
Due: CAP

Bump versions
  CAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
Due: CAP, LinearAlgebraForCAP

Update website for CAP 2024.09-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap4.html
  CAP/doc/chap4.txt
  CAP/doc/chap4_mj.html
  CAP/doc/chap5.html
  CAP/doc/chap5.txt
  CAP/doc/chap5_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for LinearAlgebraForCAP 2024.09-03
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Do not hijack Product without arguments
  CAP/PackageInfo.g
  CAP/gap/ProductCategory.gi
Due: CAP

Update website for CAP 2024.09-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Turn *OrFail into convenience operations
  CAP/PackageInfo.g
  CAP/examples/TerminalCategoryWithMultipleObjects.g
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/AddFunctions.autogen.gd
  CAP/gap/CategoryMorphismsOperations.gd
  CAP/gap/CategoryMorphismsOperations.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/examples/precompile_ModulePresentations_as_FreydCategory_CategoryOfRowsOrColumns.g
  CompilerForCAP/tst/CAP_JIT_NEXT_FUNCCALL_DOES_NOT_RETURN_FAIL.tst
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedColumns.gi
  FreydCategoriesForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedRows.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: CAP, CompilerForCAP, FreydCategoriesForCAP, ModulePresentationsForCAP

Update website for CAP 2024.09-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.09-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap3.html
  CompilerForCAP/doc/chap3.txt
  CompilerForCAP/doc/chap3_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2024.09-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for ModulePresentationsForCAP 2024.09-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

renamed files MonoidalCategoriesTensorProductAndUnit* -> MonoidalCategoriesTensorProductOnObjectsAndTensorUnit*
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/Tools.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/tst/TensorCorrespondenceRowsAndOppositeOfRows.tst
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/tst/TensorCorrespondenceMatrixCategoryAndOpposite.tst
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/CreateMonoidalCategories.gi
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnitMethodRecord.gi
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnitTest.gd
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnitTest.gi
  MonoidalCategories/init.g
  MonoidalCategories/read.g
  MonoidalCategories/tst/TerminalCategoryMonoidal.tst
  MonoidalCategories/tst/TerminalCategoryMonoidalLeft.tst
Due: CartesianCategories, FreydCategoriesForCAP, LinearAlgebraForCAP, MonoidalCategories

Update website for CartesianCategories 2024.09-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2024.09-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2024.09-04
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for MonoidalCategories 2024.09-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Remove support for return types allowing `fail`
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/gap/AttributeCategory.gi
  CAP/PackageInfo.g
  CAP/gap/CategoryConstructor.gd
  CAP/gap/CategoryConstructor.gi
  CAP/gap/DummyImplementations.gi
  CAP/gap/InstallAdds.gi
  CAP/gap/MethodRecordTools.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/ReinterpretationOfCategory.gi
  CAP/gap/TerminalCategory.gi
  CAP/gap/ToolsForCategories.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/CompileCAPOperation.gi
  CompilerForCAP/gap/PrecompileCategory.gi
  CompilerForCAP/tst/generate_opposite_derivations.tst
Due: CAP, AttributeCategoryForCAP, CompilerForCAP

Rename TensorProductOnObjectsAndUnitObject -> TensorProductOnObjectsAndTensorUnit
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnit.gd
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnit.gi
  MonoidalCategories/init.g
  MonoidalCategories/read.g
Due: MonoidalCategories

Generate AddTensorProductOnObjects and AddTensorUnit automatically
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnit.autogen.gd
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnit.gd
  MonoidalCategories/gap/MonoidalCategoriesTensorProductOnObjectsAndTensorUnitMethodRecord.gi
  MonoidalCategories/init.g
Due: MonoidalCategories

Bump version
  MonoidalCategories/PackageInfo.g
Due: MonoidalCategories

Update website for CAP 2024.09-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11.txt
  CAP/doc/chap11_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  _data/CAP.yml
Due: CAP

Update website for AttributeCategoryForCAP 2024.09-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CompilerForCAP 2024.09-02
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
