Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Type signature for UnderlyingListOfGapObjects
  CAP/gap/FiniteSkeletalDiscreteCategory.gd
Due: CAP

Whitespace
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

SumOfMorphisms for LinearClosure
  LinearClosuresForCAP/examples/LinearClosure.g
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Type signature for MinusOne
  CompilerForCAP/gap/TypeSignaturesOfMatricesForHomalg.gi
Due: CompilerForCAP

Fix type signature for CoefficientsList
  LinearClosuresForCAP/gap/LinearClosure.gd
Due: none

Bump versions
  CAP/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  LinearClosuresForCAP/PackageInfo.g
Due: CAP, CompilerForCAP

Update website for LinearClosuresForCAP 2025.08-03
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

pre-abelian -> pre-additive
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/README.md
  AdditiveClosuresForCAP/gap/AdditiveClosure.gd
  AdditiveClosuresForCAP/gap/AdditiveClosure.gi
  AdditiveClosuresForCAP/gap/AdditiveClosureDerivedMethods.gi
  AdditiveClosuresForCAP/gap/AdditiveClosureMethodRecord.gd
  AdditiveClosuresForCAP/gap/AdditiveClosureMethodRecord.gi
  AdditiveClosuresForCAP/gap/CategoryOfColumns.gd
  AdditiveClosuresForCAP/gap/CategoryOfColumns.gi
  AdditiveClosuresForCAP/gap/CategoryOfColumns_as_Opposite_CategoryOfRows.gd
  AdditiveClosuresForCAP/gap/CategoryOfColumns_as_Opposite_CategoryOfRows.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows.autogen.gd
  AdditiveClosuresForCAP/gap/CategoryOfRows.gd
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gd
  AdditiveClosuresForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory_CompilerLogic.gi
  AdditiveClosuresForCAP/gap/MethodRecordDeclarations.autogen.gd
  AdditiveClosuresForCAP/gap/MethodRecordInstallations.autogen.gi
  AdditiveClosuresForCAP/gap/RingsAsAbCats.gd
  AdditiveClosuresForCAP/gap/RingsAsAbCats.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_ArbitraryRing_precompiled.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_CommutativeRing_precompiled.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_Field_precompiled.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfColumns_as_Opposite_CategoryOfRows_HomalgExteriorRingOverField_precompiled.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_ArbitraryRing_precompiled.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_CommutativeRing_precompiled.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_Field_precompiled.gi
  AdditiveClosuresForCAP/gap/precompiled_categories/CategoryOfRows_as_AdditiveClosure_RingAsCategory_HomalgExteriorRingOverField_precompiled.gi
  AdditiveClosuresForCAP/init.g
  AdditiveClosuresForCAP/makedoc.g
  AdditiveClosuresForCAP/makedoc_with_overfull_hbox_warnings.g
  AdditiveClosuresForCAP/read.g
  AdditiveClosuresForCAP/tst/100_LoadPackage.tst
  AdditiveClosuresForCAP/tst/testall.g
  README.md
Due: none

Update website for AdditiveClosuresForCAP 2025.08-02
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/README.md
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

d&i missing categorical property IsAdditiveMonoidalCategory
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/examples/WeakHomomorphismTheorem.g
  AdditiveClosuresForCAP/gap/AdditiveClosure.gi
  AdditiveClosuresForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedColumns.gi
  AdditiveClosuresForCAP/gap/CategoryOfGradedRowsAndColumns/CategoryOfGradedRows.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategory.gi
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/examples/CohP1.g
  GradedModulePresentationsForCAP/gap/GradedModulePresentations.gi
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/gap/SemisimpleCategory.gi
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
  LinearAlgebraForCAP/gap/LinearAlgebraForCAP.gi
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/AdditiveMonoidalCategoriesProperties.gi
  MonoidalCategories/read.g
Due: FreydCategoriesForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, MonoidalCategories

Update website for AdditiveClosuresForCAP 2025.08-03
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chap3.html
  AdditiveClosuresForCAP/doc/chap3.txt
  AdditiveClosuresForCAP/doc/chap3_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for FreydCategoriesForCAP 2025.08-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GradedModulePresentationsForCAP 2025.08-01
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  GradedModulePresentationsForCAP/doc/chap1.html
  GradedModulePresentationsForCAP/doc/chap1.txt
  GradedModulePresentationsForCAP/doc/chap1_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2025.08-01
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearAlgebraForCAP 2025.08-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for ModulePresentationsForCAP 2025.08-01
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for MonoidalCategories 2025.08-01
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap6.html
  MonoidalCategories/doc/chap6.txt
  MonoidalCategories/doc/chap6_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update e-mails and bump versions
  ActionsForCAP/PackageInfo.g
  AdditiveClosuresForCAP/PackageInfo.g
  AttributeCategoryForCAP/PackageInfo.g
  CAP/PackageInfo.g
  CartesianCategories/PackageInfo.g
  CompilerForCAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/PackageInfo.g
  LinearClosuresForCAP/PackageInfo.g
  ModulePresentationsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/PackageInfo.g
  MonoidalCategories/PackageInfo.g
  ToricSheaves/PackageInfo.g
Due: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CAP 2025.08-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for ActionsForCAP 2025.08-01
  ActionsForCAP/PackageInfo.g
  ActionsForCAP/doc/chap0.html
  ActionsForCAP/doc/chap0.txt
  ActionsForCAP/doc/chap0_mj.html
  _data/ActionsForCAP.yml
Due: ActionsForCAP

Update website for AdditiveClosuresForCAP 2025.08-04
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for AttributeCategoryForCAP 2025.08-01
  AttributeCategoryForCAP/PackageInfo.g
  AttributeCategoryForCAP/doc/chap0.html
  AttributeCategoryForCAP/doc/chap0.txt
  AttributeCategoryForCAP/doc/chap0_mj.html
  _data/AttributeCategoryForCAP.yml
Due: AttributeCategoryForCAP

Update website for CartesianCategories 2025.08-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for CompilerForCAP 2025.08-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2025.08-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for GeneralizedMorphismsForCAP 2025.08-01
  GeneralizedMorphismsForCAP/PackageInfo.g
  GeneralizedMorphismsForCAP/doc/chap0.html
  GeneralizedMorphismsForCAP/doc/chap0.txt
  GeneralizedMorphismsForCAP/doc/chap0_mj.html
  _data/GeneralizedMorphismsForCAP.yml
Due: GeneralizedMorphismsForCAP

Update website for GradedModulePresentationsForCAP 2025.08-02
  GradedModulePresentationsForCAP/PackageInfo.g
  GradedModulePresentationsForCAP/doc/chap0.html
  GradedModulePresentationsForCAP/doc/chap0.txt
  GradedModulePresentationsForCAP/doc/chap0_mj.html
  _data/GradedModulePresentationsForCAP.yml
Due: GradedModulePresentationsForCAP

Update website for GroupRepresentationsForCAP 2025.08-02
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for GroupsAsCategoriesForCAP 2025.08-01
  GroupsAsCategoriesForCAP/PackageInfo.g
  GroupsAsCategoriesForCAP/doc/chap0.html
  GroupsAsCategoriesForCAP/doc/chap0.txt
  GroupsAsCategoriesForCAP/doc/chap0_mj.html
  _data/GroupsAsCategoriesForCAP.yml
Due: none

Update website for InternalExteriorAlgebraForCAP 2025.08-01
  InternalExteriorAlgebraForCAP/PackageInfo.g
  InternalExteriorAlgebraForCAP/doc/chap0.html
  InternalExteriorAlgebraForCAP/doc/chap0.txt
  InternalExteriorAlgebraForCAP/doc/chap0_mj.html
  _data/InternalExteriorAlgebraForCAP.yml
Due: InternalExteriorAlgebraForCAP

Update website for LinearAlgebraForCAP 2025.08-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

Update website for LinearClosuresForCAP 2025.08-04
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

Update website for ModulePresentationsForCAP 2025.08-02
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/doc/chap0.html
  ModulePresentationsForCAP/doc/chap0.txt
  ModulePresentationsForCAP/doc/chap0_mj.html
  _data/ModulePresentationsForCAP.yml
Due: ModulePresentationsForCAP

Update website for ModulesOverLocalRingsForCAP 2025.08-01
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/doc/chap0.html
  ModulesOverLocalRingsForCAP/doc/chap0.txt
  ModulesOverLocalRingsForCAP/doc/chap0_mj.html
  _data/ModulesOverLocalRingsForCAP.yml
Due: ModulesOverLocalRingsForCAP

Update website for MonoidalCategories 2025.08-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for ToricSheaves 2025.08-01
  ToricSheaves/PackageInfo.g
  ToricSheaves/doc/chap0.html
  ToricSheaves/doc/chap0.txt
  ToricSheaves/doc/chap0_mj.html
  _data/ToricSheaves.yml
Due: ToricSheaves

disambiguate local variables
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

LinearClosureMorphismNC now does a cheap assertion
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Update website for LinearClosuresForCAP 2025.09-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

update example in LinearAlgebraForCAP to avoid whitespaces issues while testing in Julia
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/OppositeCategory.g
Due: LinearAlgebraForCAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
