Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for LinearClosuresForCAP 2025.07-02
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

Update website for CAP 2025.07-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

fixes for Julia
  CAP/PackageInfo.g
  CAP/examples/FiniteSkeletalDiscreteCategory.g
Due: CAP

simplified code of AddIsWellDefinedForMorphisms in FiniteSkeletalDiscreteCategory
  CAP/gap/FiniteSkeletalDiscreteCategory.gi
Due: CAP

renamed Underlying(ListOf)GAPObject(s) -> Underlying(ListOf)GapObject(s)
  CAP/PackageInfo.g
  CAP/examples/FiniteSkeletalDiscreteCategory.g
  CAP/gap/FiniteSkeletalDiscreteCategory.gd
  CAP/gap/FiniteSkeletalDiscreteCategory.gi
Due: CAP

Update website for CAP 2025.07-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap16.html
  CAP/doc/chap16.txt
  CAP/doc/chap16_mj.html
  CAP/doc/chap17.html
  CAP/doc/chap17.txt
  CAP/doc/chap17_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Dot operator for FiniteSkeletalDiscreteCategory
  CAP/PackageInfo.g
  CAP/examples/FiniteSkeletalDiscreteCategory.g
  CAP/gap/FiniteSkeletalDiscreteCategory.gi
Due: CAP

Update website for CAP 2025.07-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap17.html
  CAP/doc/chap17.txt
  CAP/doc/chap17_mj.html
  _data/CAP.yml
Due: CAP

function () -> function()
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/AdditiveClosure.gi
  AdditiveClosuresForCAP/gap/AdditiveClosureDerivedMethods.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows_as_AdditiveClosure_RingAsCategory.gi
Due: none

fix for Julia
  CAP/PackageInfo.g
  CAP/gap/FiniteSkeletalDiscreteCategory.gi
Due: CAP

Update website for CAP 2025.07-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

declared categorical property IsLinearClosureOfACategory
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/gap/LinearClosure.gd
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Use the underlying category of matrices of the semisimple category
  GroupRepresentationsForCAP/examples/SemisimpleCategoryTest.g
Due: GroupRepresentationsForCAP

Add call to TensorProduct to example
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/examples/SemisimpleCategoryTest.g
Due: GroupRepresentationsForCAP

Update website for GroupRepresentationsForCAP 2025.07-02
  GroupRepresentationsForCAP/PackageInfo.g
  GroupRepresentationsForCAP/doc/chap0.html
  GroupRepresentationsForCAP/doc/chap0.txt
  GroupRepresentationsForCAP/doc/chap0_mj.html
  _data/GroupRepresentationsForCAP.yml
Due: GroupRepresentationsForCAP

Update website for LinearClosuresForCAP 2025.07-03
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  LinearClosuresForCAP/doc/chap3.html
  LinearClosuresForCAP/doc/chap3.txt
  LinearClosuresForCAP/doc/chap3_mj.html
  LinearClosuresForCAP/doc/chapInd.html
  LinearClosuresForCAP/doc/chapInd.txt
  LinearClosuresForCAP/doc/chapInd_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

install \[\] method for FiniteSkeletalDiscreteCategories
  CAP/PackageInfo.g
  CAP/examples/FiniteSkeletalDiscreteCategory.g
  CAP/gap/FiniteSkeletalDiscreteCategory.gi
Due: CAP

Update website for CAP 2025.07-09
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap17.html
  CAP/doc/chap17.txt
  CAP/doc/chap17_mj.html
  _data/CAP.yml
Due: CAP

comply with CAP: remove WithGiven-methods from CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianCategoriesProperties.gd
  CartesianCategories/gap/CartesianClosedCategories.gd
  CartesianCategories/gap/CocartesianCategoriesProperties.gd
  CartesianCategories/gap/CocartesianCoclosedCategories.gd
  CartesianCategories/gap/CodistributiveCocartesianCategoriesProperties.gd
  CartesianCategories/gap/DistributiveCartesianCategoriesProperties.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/BraidedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/ClosedMonoidalCategories.gd
  MonoidalCategories/gap/CoclosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftClosedMonoidalCategories.gd
  MonoidalCategories/gap/LeftCoclosedMonoidalCategories.gd
  MonoidalCategories/gap/MonoidalCategoriesProperties.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesProperties.gi
  MonoidalCategories/gap/RigidSymmetricCoclosedMonoidalCategoriesProperties.gi
Due: CartesianCategories, MonoidalCategories

note in docu: fiber product = pullback
  CAP/gap/UniversalObjects.gd
Due: CAP

new docu subsection "Morphism between Coimage and Image"
  CAP/gap/UniversalObjects.gd
Due: CAP

Update website for CartesianCategories 2025.07-07
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2025.07-07
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

fix in CAP_INTERNAL_CONSTRUCTOR_FOR_TERMINAL_CATEGORY
  CAP/PackageInfo.g
  CAP/gap/TerminalCategory.gi
Due: CAP

Update website for CAP 2025.08-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap6.html
  CAP/doc/chap6.txt
  CAP/doc/chap6_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

start making LinearClosure compilable
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/gap/HomomorphismStructure.gi
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Drop multiple examples when transpiling AdditiveClosuresForCAP to Julia
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/examples/CategoryOfColumns.g
  AdditiveClosuresForCAP/examples/CategoryOfRows.g
  AdditiveClosuresForCAP/examples/GradedRowsAndColumns.g
  AdditiveClosuresForCAP/examples/WeakHomomorphismTheorem.g
  AdditiveClosuresForCAP/tst/ClosedAndCoclosedRows.tst
  AdditiveClosuresForCAP/tst/TensorCorrespondenceRowsAndOppositeOfRows.tst
Due: none

When adding HomStructure in LinearClosuresForCAP
  LinearClosuresForCAP/gap/HomomorphismStructure.gi
Due: none

Remove some Autodoc entries from HomomorphismStructure.gd and update Doc.autodoc
  LinearClosuresForCAP/doc/Doc.autodoc
  LinearClosuresForCAP/gap/HomomorphismStructure.gd
Due: none

When the underlying category of a LinearClosure is equipped with a HomomorphismStructure over SkeletalFinSets,
  LinearClosuresForCAP/examples/LinearClosure.g
  LinearClosuresForCAP/gap/HomomorphismStructure.gd
  LinearClosuresForCAP/gap/HomomorphismStructure.gi
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Add few `comments for Julia` in LinearClosuresForCAP
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Update website for LinearClosuresForCAP 2025.08-01
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

Don't read LinearClosureForGroupAsCategory.gi in Julia
  LinearClosuresForCAP/read.g
Due: none

d&i LinearClosureMorphism( category, ... )
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/gap/LinearClosure.gd
  LinearClosuresForCAP/gap/LinearClosure.gi
Due: none

Use FunctionWithNamedArguments in `CreateCapCategory`
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
Due: CAP

Update website for CAP 2025.08-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for AdditiveClosuresForCAP 2025.08-01
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  AdditiveClosuresForCAP/doc/chap10.html
  AdditiveClosuresForCAP/doc/chap10.txt
  AdditiveClosuresForCAP/doc/chap10_mj.html
  AdditiveClosuresForCAP/doc/chap3.html
  AdditiveClosuresForCAP/doc/chap3.txt
  AdditiveClosuresForCAP/doc/chap3_mj.html
  AdditiveClosuresForCAP/doc/chap5.html
  AdditiveClosuresForCAP/doc/chap5.txt
  AdditiveClosuresForCAP/doc/chap5_mj.html
  AdditiveClosuresForCAP/doc/chap7.html
  AdditiveClosuresForCAP/doc/chap7.txt
  AdditiveClosuresForCAP/doc/chap7_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for LinearClosuresForCAP 2025.08-02
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/doc/chap0.html
  LinearClosuresForCAP/doc/chap0.txt
  LinearClosuresForCAP/doc/chap0_mj.html
  LinearClosuresForCAP/doc/chap1.html
  LinearClosuresForCAP/doc/chap1.txt
  LinearClosuresForCAP/doc/chap1_mj.html
  LinearClosuresForCAP/doc/chap2.html
  LinearClosuresForCAP/doc/chap2.txt
  LinearClosuresForCAP/doc/chap2_mj.html
  LinearClosuresForCAP/doc/chap3.html
  LinearClosuresForCAP/doc/chap3.txt
  LinearClosuresForCAP/doc/chap3_mj.html
  LinearClosuresForCAP/doc/chap4.html
  LinearClosuresForCAP/doc/chap4.txt
  LinearClosuresForCAP/doc/chap4_mj.html
  LinearClosuresForCAP/doc/chapInd.html
  LinearClosuresForCAP/doc/chapInd.txt
  LinearClosuresForCAP/doc/chapInd_mj.html
  _data/LinearClosuresForCAP.yml
Due: none

Add `#% G2J:julia-only` marker to `read.g` to ensure `HomomorphismStructure.gi` is loaded in Julia
  LinearClosuresForCAP/PackageInfo.g
  LinearClosuresForCAP/read.g
Due: none

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
