Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for CartesianCategories 2025.05-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

SetIsLinearCategoryOverCommutativeRingWithFinitelyGeneratedFreeExternalHoms
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/LinearClosure.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2025.05-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

added derivation methods for WeakKernelEmbedding
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/FreydCategoriesDerivedMethods.gi
Due: FreydCategoriesForCAP

Move IsFiniteCategory, SetOfObjectsOfCategory, etc. to CAP
  CAP/gap/CAP.gd
  CAP/gap/CAP.gi
  CAP/gap/CategoryMorphismsOperations.gd
  CAP/gap/CategoryMorphismsOperations.gi
  CAP/gap/CategoryObjectsOperations.gd
  CAP/gap/CategoryObjectsOperations.gi
  CAP/gap/ConstructiveCategoriesRecord.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/MethodRecordDeclarations.autogen.gd
  CAP/gap/MethodRecordInstallations.autogen.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Julia Adjustments: Declare `IsFinite` property and disable `SetOfObjects` method due to filter intersection
  CAP/PackageInfo.g
  CAP/gap/CAP.gd
  CAP/gap/CategoryObjectsOperations.gi
Due: CAP

Update website for CAP 2025.06-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap1.html
  CAP/doc/chap1.txt
  CAP/doc/chap1_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

TerminalCategoryWithSingleObject is now IsFiniteCategory
  CAP/examples/TerminalCategoryWithSingleObject.g
  CAP/gap/TerminalCategory.gi
Due: CAP

Objectify -> CreateCapCategoryMorphismWithAttributes
  FreydCategoriesForCAP/gap/GroupsAsCats.gd
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
Due: FreydCategoriesForCAP

LinearClosure of an object finite category is now IsObjectFiniteCategory
  FreydCategoriesForCAP/examples/LinearClosure.g
  FreydCategoriesForCAP/gap/LinearClosure.gi
Due: FreydCategoriesForCAP

Bump versions
  CAP/PackageInfo.g
  FreydCategoriesForCAP/PackageInfo.g
Due: CAP, FreydCategoriesForCAP

RingsAsAbCats is now IsObjectFiniteCategory
  FreydCategoriesForCAP/examples/RingsAsAbCats.g
  FreydCategoriesForCAP/gap/RingsAsAbCats.gi
Due: FreydCategoriesForCAP

GroupAsCategory of a finite group is now IsFiniteCategory
  FreydCategoriesForCAP/examples/GroupsAsCats.g
  FreydCategoriesForCAP/gap/GroupsAsCats.gi
Due: FreydCategoriesForCAP

Update website for CAP 2025.06-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap15.html
  CAP/doc/chap15.txt
  CAP/doc/chap15_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2025.06-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

the the -> the
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/Tools.gd
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosure.gd
Due: CompilerForCAP, FreydCategoriesForCAP

Update website for CompilerForCAP 2025.06-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  CompilerForCAP/doc/chap2.html
  CompilerForCAP/doc/chap2.txt
  CompilerForCAP/doc/chap2_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Update website for FreydCategoriesForCAP 2025.06-02
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap2.html
  FreydCategoriesForCAP/doc/chap2.txt
  FreydCategoriesForCAP/doc/chap2_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update CAP_INTERNAL_GENERATE_DOCUMENTATION_FOR_CATEGORY_INSTANCES
  CAP/PackageInfo.g
  CAP/gap/MethodRecordTools.gi
Due: CAP

Comply FreydCategoriesForCAP with CAP v2025.06-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
Due: FreydCategoriesForCAP

Move CAP operations from ToolsForCategoricalTowers to CAP
  CAP/PackageInfo.g
  CAP/gap/CategoryMorphismsOperations.gd
  CAP/gap/CategoryMorphismsOperations.gi
  CAP/gap/DerivedMethods.gi
  CAP/gap/MethodRecord.gi
  CAP/gap/MethodRecordDeclarations.autogen.gd
  CAP/gap/MethodRecordInstallations.autogen.gi
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/examples/generate_documentation.g
  FreydCategoriesForCAP/gap/CategoryOfRows.autogen.gd
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/HomogeneousLinearSystems.g
  LinearAlgebraForCAP/gap/precompiled_categories/MatrixCategory_precompiled.gi
  LinearAlgebraForCAP/tst/HomogeneousLinearSystems.tst
Due: CAP, FreydCategoriesForCAP, LinearAlgebraForCAP

Add derivation methods for WeakKernelEmbedding
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdditiveClosureDerivedMethods.gi
  FreydCategoriesForCAP/read.g
Due: FreydCategoriesForCAP

Update website for CAP 2025.06-05
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap3.html
  CAP/doc/chap3.txt
  CAP/doc/chap3_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2025.06-05
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap12.html
  FreydCategoriesForCAP/doc/chap12.txt
  FreydCategoriesForCAP/doc/chap12_mj.html
  FreydCategoriesForCAP/doc/chap5.html
  FreydCategoriesForCAP/doc/chap5.txt
  FreydCategoriesForCAP/doc/chap5_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for LinearAlgebraForCAP 2025.06-01
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

resolves https://github.com/homalg-project/CAP_project/issues/1744
  ModulePresentationsForCAP/PackageInfo.g
  ModulePresentationsForCAP/gap/ModulePresentationsForCAP.gi
Due: ModulePresentationsForCAP

added CODECOV_TOKEN
  .github/workflows/Tests.yml
  dev/upload_codecov.sh
Due: none

fixes for Julia
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/examples/HomogeneousLinearSystems.g
  LinearAlgebraForCAP/tst/HomogeneousLinearSystems.tst
Due: LinearAlgebraForCAP

Update website for LinearAlgebraForCAP 2025.06-02
  LinearAlgebraForCAP/PackageInfo.g
  LinearAlgebraForCAP/doc/chap0.html
  LinearAlgebraForCAP/doc/chap0.txt
  LinearAlgebraForCAP/doc/chap0_mj.html
  LinearAlgebraForCAP/doc/chap2.html
  LinearAlgebraForCAP/doc/chap2.txt
  LinearAlgebraForCAP/doc/chap2_mj.html
  _data/LinearAlgebraForCAP.yml
Due: LinearAlgebraForCAP

make = for morphisms more convenient
  CAP/PackageInfo.g
  CAP/gap/CategoryMorphismsOperations.gi
Due: CAP

Update website for CAP 2025.06-06
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Clarify category of source/range objects in `ReinterpretationOfMorphism`
  CAP/PackageInfo.g
  CAP/gap/ReinterpretationOfCategory.gd
Due: CAP

Update website for CAP 2025.06-07
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap12.html
  CAP/doc/chap12.txt
  CAP/doc/chap12_mj.html
  _data/CAP.yml
Due: CAP

relaxed CAP_INTERNAL_ASSERT_VALUE_IS_OF_TYPE_GETTER
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2025.06-08
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

turned SetTensorProductToDirectProduct/Coproduct into FinalDerivationBundle
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/CartesianCategories_extra.gd
  CartesianCategories/gap/CartesianCategories_extra.gi
  CartesianCategories/gap/CocartesianCategories_extra.gd
  CartesianCategories/gap/CocartesianCategories_extra.gi
  CartesianCategories/gap/SymmetricCartesianCategoriesDerivedMethods_extra.gi
  CartesianCategories/gap/SymmetricCocartesianCategoriesDerivedMethods_extra.gi
  CartesianCategories/read.g
Due: CartesianCategories

Update website for CartesianCategories 2025.06-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap1.html
  CartesianCategories/doc/chap1.txt
  CartesianCategories/doc/chap1_mj.html
  CartesianCategories/doc/chap2.html
  CartesianCategories/doc/chap2.txt
  CartesianCategories/doc/chap2_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

GroupsAsCategoriesForCAP for gh-pages
  GroupsAsCategoriesForCAP/_data/package.yml
  GroupsAsCategoriesForCAP/badge_date.json
  GroupsAsCategoriesForCAP/badge_version.json
  GroupsAsCategoriesForCAP/download_pdf.html
  GroupsAsCategoriesForCAP/view_release.html
Due: none

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
