Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

Update website for ModulesOverLocalRingsForCAP 2026.06-01
  ModulesOverLocalRingsForCAP/PackageInfo.g
  ModulesOverLocalRingsForCAP/doc/chap0.html
  ModulesOverLocalRingsForCAP/doc/chap0.txt
  ModulesOverLocalRingsForCAP/doc/chap0_mj.html
  ModulesOverLocalRingsForCAP/doc/chooser.html
  ModulesOverLocalRingsForCAP/doc/dark.css
  ModulesOverLocalRingsForCAP/doc/manual.css
  ModulesOverLocalRingsForCAP/doc/manual.js
  _data/ModulesOverLocalRingsForCAP.yml
Due: ModulesOverLocalRingsForCAP

Update website for MonoidalCategories 2026.06-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chooser.html
  MonoidalCategories/doc/dark.css
  MonoidalCategories/doc/manual.css
  MonoidalCategories/doc/manual.js
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Update website for ToricSheaves 2026.06-01
  ToricSheaves/PackageInfo.g
  ToricSheaves/doc/chap0.html
  ToricSheaves/doc/chap0.txt
  ToricSheaves/doc/chap0_mj.html
  ToricSheaves/doc/chooser.html
  ToricSheaves/doc/dark.css
  ToricSheaves/doc/manual.css
  ToricSheaves/doc/manual.js
  _data/ToricSheaves.yml
Due: ToricSheaves

Use runtime call to construct FreydCategory
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CoFreydCategory_as_Opposite_FreydCategory_Opposite.gi
Due: FreydCategoriesForCAP

Update website for FreydCategoriesForCAP 2026.06-04
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

d&i LinearCategoryWithMorphismsByCoefficients
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/Doc.autodoc
  AdditiveClosuresForCAP/gap/LinearCategoryWithMorphismsByCoefficients.gd
  AdditiveClosuresForCAP/gap/LinearCategoryWithMorphismsByCoefficients.gi
  AdditiveClosuresForCAP/init.g
  AdditiveClosuresForCAP/read.g
Due: none

CAP: Support overhead named arg in CategoryConstructor
  CAP/gap/CategoryConstructor.gi
Due: CAP

CAP: Support overhead arg in terminal cat constructor
  CAP/gap/TerminalCategory.gi
Due: CAP

AdditiveClosuresForCAP: Guard method and pass overhead to reinterpretation
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/LinearCategoryWithMorphismsByCoefficients.gi
Due: none

CAP: ReinterpretationOfCategory support overhead named arg
  CAP/PackageInfo.g
  CAP/gap/ReinterpretationOfCategory.gi
Due: CAP

Update website for CAP 2026.07-01
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for AdditiveClosuresForCAP 2026.07-02
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

added missing derivation for IdentityMorphism
  CAP/PackageInfo.g
  CAP/gap/DerivedMethods.autogen.gi
  CAP/gap/DerivedMethods.gi
Due: CAP

Update website for CAP 2026.07-02
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

CAP: Use LATEX_LBRACE/LATEX_RBRACE
  CAP/PackageInfo.g
  CAP/gap/ToolsForCategories.gi
Due: CAP

AdditiveClosuresForCAP: LaTeXOutput methods
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/gap/AdditiveClosure.gi
  AdditiveClosuresForCAP/gap/CategoryOfRows.gi
Due: none

FreydCategoriesForCAP: Update LaTeXOutput methods
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/AdelmanCategory.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: FreydCategoriesForCAP

derived CartesianLeft/RightUnitorInverse and CocartesianLeft/RightUnitor
  CartesianCategories/PackageInfo.g
  CartesianCategories/examples/InfoStringOfInstalledOperationsOfCategory.g
  CartesianCategories/gap/CartesianCategoriesDerivedMethods_extra.gi
  CartesianCategories/gap/CocartesianCategoriesDerivedMethods_extra.gi
Due: CartesianCategories

Update website for CAP 2026.07-03
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for AdditiveClosuresForCAP 2026.07-03
  AdditiveClosuresForCAP/PackageInfo.g
  AdditiveClosuresForCAP/doc/chap0.html
  AdditiveClosuresForCAP/doc/chap0.txt
  AdditiveClosuresForCAP/doc/chap0_mj.html
  _data/AdditiveClosuresForCAP.yml
Due: none

Update website for FreydCategoriesForCAP 2026.07-01
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for CartesianCategories 2026.07-01
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

renamed TestZigZagIdentitiesForDual -> TestZigzagIdentitiesForDual
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/RigidSymmetricClosedMonoidalCategoriesTest.gi
Due: MonoidalCategories

improve docu in MonoidalCategoriesTest.gd
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianCategoriesTest.gd
  CartesianCategories/gap/CocartesianCategoriesTest.gd
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/MonoidalCategoriesTest.gd
Due: CartesianCategories, MonoidalCategories

test zigzags for closed structures
  CartesianCategories/PackageInfo.g
  CartesianCategories/gap/AUTOGENERATED_FROM.md
  CartesianCategories/gap/CartesianClosedCategoriesTest.gd
  CartesianCategories/gap/CartesianClosedCategoriesTest.gi
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gd
  MonoidalCategories/gap/ClosedMonoidalCategoriesTest.gi
Due: CartesianCategories, MonoidalCategories

finally fixed call of WriteFileForCoclosedMonoidalStructure
  CartesianCategories/gap/Tools.gi
Due: CartesianCategories

simplified Cartesian*UnitorInverse and Cocartesian*Unitor
  CartesianCategories/gap/CartesianCategoriesDerivedMethods_extra.gi
  CartesianCategories/gap/CocartesianCategoriesDerivedMethods_extra.gi
Due: CartesianCategories

Update website for CartesianCategories 2026.07-02
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  CartesianCategories/doc/chap3.html
  CartesianCategories/doc/chap3.txt
  CartesianCategories/doc/chap3_mj.html
  CartesianCategories/doc/chapInd.html
  CartesianCategories/doc/chapInd.txt
  CartesianCategories/doc/chapInd_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for MonoidalCategories 2026.07-02
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  MonoidalCategories/doc/chap2.html
  MonoidalCategories/doc/chap2.txt
  MonoidalCategories/doc/chap2_mj.html
  MonoidalCategories/doc/chapInd.html
  MonoidalCategories/doc/chapInd.txt
  MonoidalCategories/doc/chapInd_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

bumped version of CartesianCategories
  CartesianCategories/PackageInfo.g
Due: CartesianCategories

Update website for CartesianCategories 2026.07-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

CAP: Avoid duplicate methods for primitive replacements
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CAP/gap/InstallAdds.gd
  CAP/gap/InstallAdds.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/ResolveOperations.gi
Due: CAP, CompilerForCAP

Update website for CAP 2026.07-04
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2026.07-01
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

MonoidalCategories: Fix spacing in List ranges for Gap2Julia transpiler
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/gap/AdditiveMonoidalCategoriesDerivedMethods.gi
Due: MonoidalCategories

Update website for MonoidalCategories 2026.07-03
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

FiniteSkeletalDiscreteCategory now takes only an integer as argument
  CAP/examples/FiniteSkeletalDiscreteCategory.g
  CAP/gap/FiniteSkeletalDiscreteCategory.gd
  CAP/gap/FiniteSkeletalDiscreteCategory.gi
Due: CAP

Set 'overhead := false' in example of FiniteSkeletalDiscreteCategory
  CAP/examples/FiniteSkeletalDiscreteCategory.g
Due: CAP

Bump CAP version
  CAP/PackageInfo.g
Due: CAP

Path conditions:
  CAP: any of: CAP/, but not: home/
  ActionsForCAP: any of: ActionsForCAP/, but not: home/
  AttributeCategoryForCAP: any of: AttributeCategoryForCAP/, but not: home/
  CartesianCategories: any of: CartesianCategories/, but not: home/
  CompilerForCAP: any of: CompilerForCAP/, but not: home/
  ComplexesAndFilteredObjectsForCAP: any of: ComplexesAndFilteredObjectsForCAP/, but not: home/
  DeductiveSystemForCAP: any of: DeductiveSystemForCAP/, but not: home/
  FreydCategoriesForCAP: any of: FreydCategoriesForCAP/, but not: home/
  GeneralizedMorphismsForCAP: any of: GeneralizedMorphismsForCAP/, but not: home/
  GradedModulePresentationsForCAP: any of: GradedModulePresentationsForCAP/, but not: home/
  GroupRepresentationsForCAP: any of: GroupRepresentationsForCAP/, but not: home/
  HomologicalAlgebraForCAP: any of: HomologicalAlgebraForCAP/, but not: home/
  InternalExteriorAlgebraForCAP: any of: InternalExteriorAlgebraForCAP/, but not: home/
  LinearAlgebraForCAP: any of: LinearAlgebraForCAP/, but not: home/
  ModulePresentationsForCAP: any of: ModulePresentationsForCAP/, but not: home/
  ModulesOverLocalRingsForCAP: any of: ModulesOverLocalRingsForCAP/, but not: home/
  MonoidalCategories: any of: MonoidalCategories/, but not: home/
  ToricSheaves: any of: ToricSheaves/, but not: home/
