Repository homalg-project/CAP_project: changes, and which Codecov flags are due for each by the changed paths.
All: CAP, ActionsForCAP, AttributeCategoryForCAP, CartesianCategories, CompilerForCAP, ComplexesAndFilteredObjectsForCAP, DeductiveSystemForCAP, FreydCategoriesForCAP, GeneralizedMorphismsForCAP, GradedModulePresentationsForCAP, GroupRepresentationsForCAP, HomologicalAlgebraForCAP, InternalExteriorAlgebraForCAP, LinearAlgebraForCAP, ModulePresentationsForCAP, ModulesOverLocalRingsForCAP, MonoidalCategories, ToricSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/CAP_project/::"
ignore:
  - "home/"
flags:
  CAP:
    paths:
      - "CAP/"
  ActionsForCAP:
    paths:
      - "ActionsForCAP/"
  AttributeCategoryForCAP:
    paths:
      - "AttributeCategoryForCAP/"
  CartesianCategories:
    paths:
      - "CartesianCategories/"
  CompilerForCAP:
    paths:
      - "CompilerForCAP/"
  ComplexesAndFilteredObjectsForCAP:
    paths:
      - "ComplexesAndFilteredObjectsForCAP/"
  DeductiveSystemForCAP:
    paths:
      - "DeductiveSystemForCAP/"
  FreydCategoriesForCAP:
    paths:
      - "FreydCategoriesForCAP/"
  GeneralizedMorphismsForCAP:
    paths:
      - "GeneralizedMorphismsForCAP/"
  GradedModulePresentationsForCAP:
    paths:
      - "GradedModulePresentationsForCAP/"
  GroupRepresentationsForCAP:
    paths:
      - "GroupRepresentationsForCAP/"
  HomologicalAlgebraForCAP:
    paths:
      - "HomologicalAlgebraForCAP/"
  InternalExteriorAlgebraForCAP:
    paths:
      - "InternalExteriorAlgebraForCAP/"
  LinearAlgebraForCAP:
    paths:
      - "LinearAlgebraForCAP/"
  ModulePresentationsForCAP:
    paths:
      - "ModulePresentationsForCAP/"
  ModulesOverLocalRingsForCAP:
    paths:
      - "ModulesOverLocalRingsForCAP/"
  MonoidalCategories:
    paths:
      - "MonoidalCategories/"
  ToricSheaves:
    paths:
      - "ToricSheaves/"

Update website for CAP 2024.09-12
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap11.html
  CAP/doc/chap11_mj.html
  CAP/doc/chap7.html
  CAP/doc/chap7.txt
  CAP/doc/chap7_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.09-03
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Update website for FreydCategoriesForCAP 2024.09-07
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  FreydCategoriesForCAP/doc/chap13.html
  FreydCategoriesForCAP/doc/chap13.txt
  FreydCategoriesForCAP/doc/chap13_mj.html
  FreydCategoriesForCAP/doc/chap14.html
  FreydCategoriesForCAP/doc/chap14.txt
  FreydCategoriesForCAP/doc/chap14_mj.html
  FreydCategoriesForCAP/doc/chapInd.html
  FreydCategoriesForCAP/doc/chapInd.txt
  FreydCategoriesForCAP/doc/chapInd_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Update website for MonoidalCategories 2024.09-05
  MonoidalCategories/PackageInfo.g
  MonoidalCategories/doc/chap0.html
  MonoidalCategories/doc/chap0.txt
  MonoidalCategories/doc/chap0_mj.html
  _data/MonoidalCategories.yml
Due: MonoidalCategories

Make sure the third argument of CAP_INTERNAL_ASSERT_IS_* is a function
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
  CAP/gap/OppositeCategory.gi
  CAP/gap/ToolsForCategories.gi
  CAP/gap/WrapperCategory.gi
  CAP/tst/CAP_INTERNAL_ASSERT_VALUE_IS_OF_TYPE_GETTER.tst
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/gap/CoFreydCategory_as_Opposite_FreydCategory_Opposite.gi
  FreydCategoriesForCAP/gap/FreydCategory.gi
Due: CAP, FreydCategoriesForCAP

Update website for CAP 2024.09-13
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for FreydCategoriesForCAP 2024.09-08
  FreydCategoriesForCAP/PackageInfo.g
  FreydCategoriesForCAP/doc/chap0.html
  FreydCategoriesForCAP/doc/chap0.txt
  FreydCategoriesForCAP/doc/chap0_mj.html
  _data/FreydCategoriesForCAP.yml
Due: FreydCategoriesForCAP

Prefix UniqueObject/Morphisms with TerminalCategoryWithSingleObject
  CAP/PackageInfo.g
  CAP/gap/CategoriesCategory.gi
  CAP/gap/MethodRecordTools.gi
  CAP/gap/TerminalCategory.gd
  CAP/gap/TerminalCategory.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/gap/ProofAssistant.gi
Due: CAP, CompilerForCAP

Update website for CAP 2024.09-14
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap16.html
  CAP/doc/chap16.txt
  CAP/doc/chap16_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.09-04
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Replace a closure which is being recompiled in Julia for every category by a loop
  CAP/PackageInfo.g
  CAP/gap/InstallAdds.gi
Due: CAP

Install logic after sanity checks
  CAP/gap/InstallAdds.gi
Due: CAP

Avoid some closures
  CAP/gap/InstallAdds.gi
Due: CAP

Avoid comparing categories and rings to booleans
  CAP/gap/ToolsForCategories.gi
Due: CAP

Bump version
  CAP/PackageInfo.g
Due: CAP

Update website for CAP 2024.09-15
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Introduce CreateGapObjectWithAttributes as a convenience
  CAP/PackageInfo.g
  CAP/gap/CAP.gi
  CAP/gap/CategoryMorphisms.gi
  CAP/gap/CategoryObjects.gi
  CAP/gap/Derivations.gi
  CAP/gap/DummyImplementations.gi
  CAP/gap/DummyImplementationsOfMatricesForHomalg.gi
  CAP/gap/ToolsForCategories.gd
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2024.09-16
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CAP 2024.09-17
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap9.html
  CAP/doc/chap9.txt
  CAP/doc/chap9_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Use convenience functions at two places
  CAP/PackageInfo.g
  CAP/gap/CategoryTwoCells.gi
  CAP/gap/ToolsForCategories.gi
Due: CAP

Update website for CAP 2024.09-18
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Avoid a dangerous fallback
  CAP/gap/LogicForCAP.gi
Due: CAP

Skip reordering methods after installing logic
  CAP/gap/Finalize.gi
Due: CAP

Avoid `ListImpliedFilters` for performance reasons
  CAP/gap/PrintingFunctions.gi
  CAP/gap/TerminalCategory.gi
Due: CAP

Cache processed logic files
  CAP/gap/TheoremParser.gi
Due: CAP

Update website for CAP 2024.09-19
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Hardcode implications affecting all categories for performance reasons
  CAP/LogicForCategories/PredicateImplicationsForGeneralCategories.tex
  CAP/PackageInfo.g
  CAP/gap/LogicForCAP.gi
Due: CAP

Deactivate caching in a test for more stable coverage results
  CartesianCategories/PackageInfo.g
  CartesianCategories/tst/TerminalCategoryCartesian.tst
Due: CartesianCategories

Update website for CAP 2024.09-20
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Update website for CartesianCategories 2024.09-04
  CartesianCategories/PackageInfo.g
  CartesianCategories/doc/chap0.html
  CartesianCategories/doc/chap0.txt
  CartesianCategories/doc/chap0_mj.html
  _data/CartesianCategories.yml
Due: CartesianCategories

Simplify the derivation mechanism
  CAP/PackageInfo.g
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
Due: CAP

Update website for CAP 2024.09-21
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Remember position of derivation in list of derivations by target
  CAP/PackageInfo.g
  CAP/gap/Derivations.gi
Due: CAP

Update website for CAP 2024.09-22
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  _data/CAP.yml
Due: CAP

Improve names of attributes of derivations
  CAP/PackageInfo.g
  CAP/gap/Derivations.gd
  CAP/gap/Derivations.gi
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/tst/generate_opposite_derivations.tst
Due: CAP, CompilerForCAP

Update website for CAP 2024.09-23
  CAP/PackageInfo.g
  CAP/doc/chap0.html
  CAP/doc/chap0.txt
  CAP/doc/chap0_mj.html
  CAP/doc/chap8.html
  CAP/doc/chap8.txt
  CAP/doc/chap8_mj.html
  CAP/doc/chapInd.html
  CAP/doc/chapInd.txt
  CAP/doc/chapInd_mj.html
  _data/CAP.yml
Due: CAP

Update website for CompilerForCAP 2024.09-05
  CompilerForCAP/PackageInfo.g
  CompilerForCAP/doc/chap0.html
  CompilerForCAP/doc/chap0.txt
  CompilerForCAP/doc/chap0_mj.html
  _data/CompilerForCAP.yml
Due: CompilerForCAP

Move derivation info to a more suitable place
  CAP/gap/Derivations.gi
Due: CAP

Avoid unnecessary trigger of derivations
  CAP/gap/Derivations.gi
  FreydCategoriesForCAP/gap/CategoryOfRows.gi
Due: CAP, FreydCategoriesForCAP
